@import "../widgets/BasemapToggle/css/BasemapToggle.scss";
@import "../widgets/ColorPicker/css/ColorPicker.css";
@import "../widgets/HorizontalSlider/css/HorizontalSlider.css";
@import "../widgets/Legend/css/Legend.css";
@import "../widgets/Search/css/Search.css";
@import "../widgets/Tags/css/Tags.css";
