@import url("../toolbars/css/edit.css");
@import url("../dijit/css/AttributeInspector.css");
@import url("../dijit/css/BasemapGallery.css");
@import url("../dijit/css/BasemapToggle.css");
@import url("../dijit/css/Bookmarks.css");
@import url("../dijit/css/Directions.css");
@import url("../dijit/css/Gallery.css");
@import url("../dijit/css/Geocoder.css");
@import url("../dijit/css/Gauge.css");
@import url("../dijit/css/HomeButton.css");
@import url("../dijit/css/InfoWindow.css");
@import url("../dijit/css/LayerSwipe.css");
@import url("../dijit/css/Legend.css");
@import url("../dijit/css/LocateButton.css");
@import url("../dijit/css/Measurement.css");
@import url("../dijit/css/OverviewMap.css");
@import url("../dijit/css/PopupFont.css");
@import url("../dijit/css/Popup.css");
@import url("../dijit/css/PopupMobile.css");
@import url("../dijit/css/MultidimensionalFilter.css");
@import url("../dijit/css/ImageServiceMeasure.css");
