.inp-tags__container {
  background-color: white;
  box-sizing: border-box;
  display: inline-block;
  font-family: "Avenir Next W01", "Avenir Next W00", "Avenir Next", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  margin: 0px;
  position: relative; }

.inp-tags__container--required-legacy {
  position: relative;
  overflow: visible; }
  .inp-tags__container--required-legacy:after {
    content: attr(aria-label);
    position: absolute;
    z-index: 1000000;
    display: inline-block;
    padding: 0.3875rem 0.775rem;
    font-size: 0.875rem;
    line-height: 1.55rem;
    color: #ffffff;
    text-align: center;
    word-wrap: break-word;
    white-space: pre;
    pointer-events: none;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 3px;
    top: auto;
    right: auto;
    bottom: 50%;
    left: 100%;
    margin-left: 5px;
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
    transform: translateY(50%); }
  .inp-tags__container--required-legacy:before {
    content: "";
    position: absolute;
    z-index: 1000001;
    display: inline-block;
    width: 0;
    height: 0;
    color: rgba(0, 0, 0, 0.75);
    pointer-events: none;
    border: 5px solid transparent;
    top: 50%;
    right: -5px;
    bottom: 50%;
    margin-top: -5px;
    margin-right: 0;
    border-right-color: rgba(0, 0, 0, 0.75);
    border-bottom: 5px solid transparent; }
  .inp-tags__container--required-legacy:hover, .inp-tags__container--required-legacy:active, .inp-tags__container--required-legacy:focus {
    text-decoration: none; }

html[dir="rtl"] .inp-tags__container--required:after {
  left: auto;
  right: 100%;
  margin-left: 0;
  margin-right: 5px; }

html[dir="rtl"] .inp-tags__container--required:before {
  left: -5px;
  right: auto;
  border-left-color: rgba(0, 0, 0, 0.75);
  border-right-color: transparent; }

.inp-tags__active-tags {
  border-color: #aaaaaa;
  border-image: initial;
  border-style: solid;
  border-width: 1px;
  cursor: text;
  display: flex;
  flex-wrap: wrap;
  height: auto !important;
  list-style-type: none;
  margin: 0px;
  overflow: hidden;
  padding: 0px;
  position: relative; }
  html[dir="rtl"] .inp-tags__active-tags {
    margin: 0px; }

.inp-tags__active-tags--focused {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 3px inset, rgba(82, 168, 236, 0.6) 0px 0px 8px; }
  .inp-tags__active-tags--focused.inp-tags__active-tags--required {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 3px inset, rgba(200, 106, 74, 0.6) 0px 0px 8px; }

.inp-tags__active-tags--required {
  border-color: #c86a4a;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNHB4IiBoZWlnaHQ9IjE2cHgiIHZpZXdCb3g9IjAgMCAxNiAxNiIgeD0iMiIgeT0iMCI+PHBhdGggZmlsbD0iI2M4NmE0YSIgZD0iTTExLjIyNSwwSDQuNjQ4TDAsNC42NXY2LjU3Nmw0LjY0OCw0LjY0OWg2LjU3Nmw0LjY1LTQuNjQ5VjQuNjVMMTEuMjI1LDB6IE05LjA3MSwxMy42MDdINi44MDR2LTIuMjY5aDIuMjY4VjEzLjYwN3ogTTkuMDcxLDkuMDcxSDYuODA0VjMuNDAyaDIuMjY4VjkuMDcxeiIvPjwvc3ZnPg==");
  background-position: right center;
  background-repeat: no-repeat;
  padding-right: 24px; }

.inp-tags__input {
  border-color: initial;
  border-image: initial;
  border-style: none;
  border-width: initial;
  box-shadow: none;
  box-sizing: border-box;
  flex-basis: 1px;
  flex-grow: 1;
  font-size: 13px;
  height: 1.75rem;
  line-height: 23px;
  margin: 0px;
  max-width: 100%;
  min-width: 150px;
  outline: none !important;
  padding: 0px 0.31rem;
  text-overflow: ellipsis; }
  .inp-tags__input:focus {
    border: none;
    box-shadow: none; }

.inp-tags__input::placeholder {
  color: #aaaaaa;
  font-style: italic;
  width: 100%; }

.inp-tags__tag {
  background-clip: padding-box;
  background-color: #D1E9F9;
  background-image: none;
  border-radius: 3px;
  border: 1px solid #7FBBDF;
  box-shadow: 0 0 2px #ffffff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  color: #333;
  cursor: default;
  display: inline-block;
  filter: none;
  line-height: 13px;
  margin: 3px 0px 3px 5px;
  max-width: calc(100% - 2rem);
  padding: 3px;
  position: relative;
  user-select: none;
  word-wrap: break-word;
  -moz-background-clip: padding;
  -webkit-touch-callout: none; }
  html[dir="rtl"] .inp-tags__tag {
    margin: 3px 5px 3px 0px; }

.inp-tags__tag-remove-btn {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  color: #959595;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  outline: none;
  padding-left: 2px; }
  .inp-tags__tag-remove-btn > svg {
    fill: currentColor; }
  .inp-tags__tag-remove-btn:hover {
    color: #de2900; }
  html[dir="rtl"] .inp-tags__tag-remove-btn {
    padding-left: 0px;
    padding-right: 2px; }

.inp-tags__suggestions {
  background: white;
  box-shadow: 2px 2px 20px #888888;
  left: 0px;
  list-style-type: none;
  margin: 0px;
  max-height: 100px;
  overflow: auto;
  padding: 0px;
  position: absolute;
  width: calc(100% - 2px);
  z-index: 4; }

.inp-tags__suggestion {
  cursor: pointer;
  font-size: 13px;
  margin: 0px;
  padding: 0.25rem 0.5rem; }
  .inp-tags__suggestion:focus, .inp-tags__suggestion:hover {
    background: #e1f0fb; }

.inp-tags__suggestion--grey {
  background: #eee; }

.inp-tags__suggestion--white {
  background: #fff; }

.inp-tags__no-suggestions {
  text-align: center;
  width: 100%; }

.inp-tags__no-suggestions-text {
  padding-top: 1.55rem;
  color: #969696;
  font-size: 1.3em; }

.inp-tags__required-tip {
  font-size: 0.8125rem;
  line-height: 1.55rem;
  padding: 0.3875rem 0.3875rem;
  color: rgba(0, 0, 0, 0.75);
  background-color: #f3ded7;
  border: 1px solid #e4a793;
  position: relative;
  display: inline-block;
  margin-top: .5rem; }
  .inp-tags__required-tip:after {
    content: "";
    position: absolute;
    left: 11px;
    top: -15px;
    width: 0;
    height: 0;
    pointer-events: none;
    border: 8px solid transparent;
    border-bottom-color: #f3ded7; }
  .inp-tags__required-tip:before {
    content: "";
    position: absolute;
    left: 11px;
    top: -16px;
    width: 0;
    height: 0;
    pointer-events: none;
    border: 8px solid transparent;
    border-bottom-color: #e4a793; }
