<div class='toolContainer' data-dojo-attach-point="_toolCtr" style="cursor:pointer;cursor:hand;" data-dojo-attach-event="onclick:_handleToolIconClick">
  <div data-dojo-attach-point='_toolIcon'></div>
  <div class='esriLeadingMargin5 toolContent'>
    <a  href="#" class='esriFloatTrailing helpIcon' esriHelpTopic="toolDescription" data-dojo-attach-point="_helpIconNode"></a>
  	<label data-dojo-attach-point='_toolNameLabel' style="cursor:pointer;cursor:hand;"></label>
  </div>
  <div class='esriLeadingMargin2' data-dojo-attach-point="optionsDiv" style="margin-top:0.5em;font-size:0.85em;"><label class="esriLeadingMargin5 comingSoonIcon">${i18n.comingSoonLabel}</label></div>	
</div>
