<div class="esriGENumericalSlider">
    <div data-dojo-attach-point="divLabel" class="esriGENumericalSliderLabel"></div>
    <div data-dojo-attach-point="divChartContainer" class="esriGENumericalSliderContent">
        <div class="esriGENumericalSliderMinValueTextBox" data-dojo-attach-point="divMinValue"></div>
        <div  class="esriGENumericalSliderContainer">
            <div class="esriGEAbsoluteStretched" data-dojo-attach-point="statisticsContainer"></div>
            <div data-dojo-attach-point="divSliderContainer"></div>
        </div> 
        <div class="esriGENumericalSliderMaxValueTextBox" data-dojo-attach-point="divMaxValue"></div>
    </div>
</div>