@charset "UTF-8";
.nav-pager__btn {
  position: relative;
  display: inline-block;
  padding: 0.31rem 0.9rem;
  width: auto;
  color: #ffffff;
  border: 1px solid #0079c1;
  border-radius: 0;
  background-color: #0079c1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.05s linear;
  transition: all 0.05s linear;
  cursor: pointer;
  white-space: nowrap;
  font-size: 0.9375rem;
  line-height: 1.55rem;
  background: none;
  color: #0079c1;
  border: none;
  color: #005e95; }
  .nav-pager__btn:hover {
    text-decoration: none;
    background-color: #005e95;
    color: #ffffff; }
  .nav-pager__btn:hover {
    color: #005e95;
    background: none;
    text-decoration: underline; }

.nav-pager__btn--disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: .3; }

@media screen and (max-width: 480px) {
  .nav-pager__page-btn--inactive {
    display: none; } }

.nav-pager__page-btn--active {
  position: relative;
  display: inline-block;
  padding: 0.31rem 0.9rem;
  width: auto;
  color: #ffffff;
  border: 1px solid #0079c1;
  border-radius: 0;
  background-color: #0079c1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.05s linear;
  transition: all 0.05s linear;
  cursor: pointer;
  white-space: nowrap;
  font-size: 0.9375rem;
  line-height: 1.55rem; }
  .nav-pager__page-btn--active:hover {
    text-decoration: none;
    background-color: #005e95;
    color: #ffffff; }

@media screen and (max-width: 480px) {
  .nav-pager__dots {
    display: none; } }

.nav-pager__container {
  text-align: center; }

.nav-pager__page-btn-container {
  display: inline-block;
  padding-right: 2rem;
  padding-left: 2rem; }
  html[dir="rtl"] .nav-pager__page-btn-container {
    padding-left: 2rem; }
  html[dir="rtl"] .nav-pager__page-btn-container {
    padding-right: 2rem; }

.nav-pager__limit-container {
  margin-bottom: 1.55rem;
  display: block; }

.nav-pager__limit-inner {
  background-color: #f3edc7;
  border: 1px solid #e4d154;
  display: inline-block;
  max-width: 40em;
  padding: 0.775rem; }

.nav-pager__limit-text {
  margin-bottom: 0; }

.load-bars__container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 0.85rem;
  height: 2rem; }

.load-bars__bars:before,
.load-bars__bars:after,
.load-bars__bars {
  background: #0079c1;
  -webkit-animation: load 0.8s infinite ease-in-out;
  animation: load 0.8s infinite ease-in-out;
  width: 0.85rem;
  height: 2rem; }

.load-bars__bars:before,
.load-bars__bars:after {
  position: absolute;
  top: 0;
  content: ''; }

@-webkit-keyframes load {
  0%,
  80%,
  100% {
    opacity: .75;
    box-shadow: 0 0 #0079c1;
    height: 2rem; }
  40% {
    opacity: 1;
    box-shadow: 0 -0.5rem #0079c1;
    height: 2.5rem; } }

@keyframes load {
  0%,
  80%,
  100% {
    opacity: .75;
    box-shadow: 0 0 #0079c1;
    height: 2rem; }
  40% {
    opacity: 1;
    box-shadow: 0 -0.5rem #0079c1;
    height: 2.5rem; } }

.load-bars__bars {
  text-indent: -9999em;
  margin: auto;
  position: absolute;
  right: calc(50% - 0.425rem);
  font-size: 11px;
  -webkit-animation-delay: 0.16s;
  animation-delay: 0.16s; }

.load-bars__bars:before {
  left: -1.25rem; }

.load-bars__bars:after {
  left: 1.25rem;
  -webkit-animation-delay: 0.32s;
  animation-delay: 0.32s; }

.load-bars__text {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  top: 200%;
  white-space: nowrap; }

.btn-icon__button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  display: inline-flex;
  padding: 8px 10px;
  align-items: center;
  justify-content: center;
  flex-direction: row; }
  .btn-icon__button > svg {
    fill: currentColor; }
  html[dir="rtl"] .btn-icon__button {
    transform: scaleX(-1); }
  .btn-icon__button:hover {
    background-color: #efefef; }

.btn-icon__button--tooltip {
  position: relative;
  cursor: pointer;
  overflow: visible; }
  .btn-icon__button--tooltip:after {
    content: attr(aria-label);
    position: absolute;
    z-index: 1000000;
    display: none;
    padding: 0.3875rem 0.775rem;
    font-size: 0.875rem;
    line-height: 1.55rem;
    color: #ffffff;
    text-align: center;
    word-wrap: break-word;
    white-space: pre;
    pointer-events: none;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 3px; }
  .btn-icon__button--tooltip:before {
    content: "";
    position: absolute;
    z-index: 1000001;
    display: none;
    width: 0;
    height: 0;
    color: rgba(0, 0, 0, 0.75);
    pointer-events: none;
    border: 5px solid transparent; }
  .btn-icon__button--tooltip:hover, .btn-icon__button--tooltip:active, .btn-icon__button--tooltip:focus {
    text-decoration: none; }
    .btn-icon__button--tooltip:hover:before, .btn-icon__button--tooltip:hover:after, .btn-icon__button--tooltip:active:before, .btn-icon__button--tooltip:active:after, .btn-icon__button--tooltip:focus:before, .btn-icon__button--tooltip:focus:after {
      display: inline-block; }

.btn-icon__button--tooltip-left:after {
  top: auto;
  right: 100%;
  margin-right: 5px;
  bottom: 50%;
  margin-bottom: inherit;
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%); }
  html[dir="rtl"] .btn-icon__button--tooltip-left:after {
    right: auto;
    left: 100%;
    margin-right: 0;
    margin-left: 5px; }

.btn-icon__button--tooltip-left:before {
  top: 50%;
  bottom: 50%;
  left: -5px;
  margin-top: -5px;
  border-left-color: rgba(0, 0, 0, 0.75);
  border-bottom: 5px solid transparent; }
  html[dir="rtl"] .btn-icon__button--tooltip-left:before {
    left: auto;
    right: -5px;
    margin-right: 0;
    border-left-color: transparent;
    border-right-color: rgba(0, 0, 0, 0.75); }

.btn-icon__button--tooltip-right:after {
  top: auto;
  right: auto;
  bottom: 50%;
  left: 100%;
  margin-left: 5px;
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%); }
  html[dir="rtl"] .btn-icon__button--tooltip-right:after {
    left: auto;
    right: 100%;
    margin-left: 0;
    margin-right: 5px; }

.btn-icon__button--tooltip-right:before {
  top: 50%;
  right: -5px;
  bottom: 50%;
  margin-top: -5px;
  margin-right: 0;
  border-right-color: rgba(0, 0, 0, 0.75);
  border-bottom: 5px solid transparent; }
  html[dir="rtl"] .btn-icon__button--tooltip-right:before {
    left: -5px;
    right: auto;
    border-left-color: rgba(0, 0, 0, 0.75);
    border-right-color: transparent; }

.btn-icon__button--tooltip-top:after {
  top: auto;
  right: 50%;
  bottom: 100%;
  margin-bottom: 5px; }

.btn-icon__button--tooltip-top:before {
  top: -5px;
  right: 50%;
  bottom: auto;
  margin-right: -5px;
  border-top-color: rgba(0, 0, 0, 0.75);
  border-bottom: 5px solid transparent; }

.btn-icon__button--active {
  color: #005e95;
  background-color: #d2e9f9; }
  .btn-icon__button--active:hover {
    background-color: #d2e9f9; }

.btn-toggle__item {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  list-style-type: none;
  line-height: 1.25rem;
  position: relative; }
  .btn-toggle__item:before {
    content: "•";
    font-size: .8em;
    left: .25em;
    position: absolute;
    color: #cccccc;
    opacity: 0;
    -webkit-transition: opacity 50ms linear;
    -o-transition: opacity 50ms linear;
    transition: opacity 50ms linear;
    pointer-events: none; }
  .btn-toggle__item:hover:before {
    opacity: 1; }
  html[dir="rtl"] .btn-toggle__item:before {
    left: calc(100% - 0.25em); }

.btn-toggle__item--active:before {
  opacity: 1;
  color: #5a9359; }

.btn-toggle__button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  margin-bottom: 0.31rem;
  cursor: pointer;
  font-size: 0.875rem;
  color: #4c4c4c;
  margin-left: 1rem;
  display: inline-block;
  text-align: left;
  max-width: calc(100% - 2rem); }
  .btn-toggle__button:hover {
    color: #4c4c4c; }
    .btn-toggle__button:hover > .btn-toggle__text {
      text-decoration: underline; }
  html[dir="rtl"] .btn-toggle__button {
    margin-right: 1rem;
    margin-left: 0;
    text-align: right; }

.btn-toggle__button--active {
  font-weight: 600; }

.btn-toggle__sub-list {
  padding-left: 1rem;
  margin-left: 0;
  margin-bottom: 0; }
  html[dir="rtl"] .btn-toggle__sub-list {
    padding-right: 1rem; }

.btn-toggle__text {
  word-wrap: break-word; }

.btn-toggle__count {
  font-size: 0.8125rem;
  line-height: 1.55rem;
  display: inline-block;
  line-height: inherit; }

.drp-basic__container {
  display: inline-flex;
  overflow: visible;
  position: relative; }

.drp-basic__button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer; }

.drp-ago2018__menu {
  -webkit-animation: drp-ago2018__fade cubic-bezier(0.215, 0.44, 0.42, 0.88) 200ms;
  -moz-animation: drp-ago2018__fade cubic-bezier(0.215, 0.44, 0.42, 0.88) 200ms;
  animation: drp-ago2018__fade cubic-bezier(0.215, 0.44, 0.42, 0.88) 200ms;
  display: block;
  position: absolute;
  width: auto;
  top: calc(100% + 8px);
  right: 0;
  background-color: white;
  min-width: 224px;
  z-index: 200;
  border: 1px solid #ccc;
  opacity: 0;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: -webkit-transform 200ms cubic-bezier(0.215, 0.44, 0.42, 0.88), visibility 0ms linear 200ms, opacity 200ms cubic-bezier(0.215, 0.44, 0.42, 0.88);
  -moz-transition: -moz-transform 200ms cubic-bezier(0.215, 0.44, 0.42, 0.88), visibility 0ms linear 200ms, opacity 200ms cubic-bezier(0.215, 0.44, 0.42, 0.88);
  -o-transition: -o-transform 200ms cubic-bezier(0.215, 0.44, 0.42, 0.88), visibility 0ms linear 200ms, opacity 200ms cubic-bezier(0.215, 0.44, 0.42, 0.88);
  transition: transform 200ms cubic-bezier(0.215, 0.44, 0.42, 0.88), visibility 0ms linear 200ms, opacity 200ms cubic-bezier(0.215, 0.44, 0.42, 0.88);
  -webkit-transform: translate3d(0, -10px, 0);
  -moz-transform: translate3d(0, -10px, 0);
  -ms-transform: translate3d(0, -10px, 0);
  -o-transform: translate3d(0, -10px, 0);
  transform: translate3d(0, -10px, 0); }
  html[dir="rtl"] .drp-ago2018__menu {
    right: auto;
    left: 0; }

.drp-ago2018__menu--active {
  opacity: 1;
  -webkit-transform: translate3d(0, 0px, 0);
  -moz-transform: translate3d(0, 0px, 0);
  -ms-transform: translate3d(0, 0px, 0);
  -o-transform: translate3d(0, 0px, 0);
  transform: translate3d(0, 0px, 0); }

@keyframes drp-ago2018__fade {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -10px, 0);
    -moz-transform: translate3d(0, -10px, 0);
    -ms-transform: translate3d(0, -10px, 0);
    -o-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0px, 0);
    -moz-transform: translate3d(0, 0px, 0);
    -ms-transform: translate3d(0, 0px, 0);
    -o-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0); } }

.btn-svg__button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  display: inline-block;
  cursor: pointer; }
  .btn-svg__button:hover {
    color: #005e95; }
  .btn-svg__button > svg {
    vertical-align: middle;
    fill: currentColor; }
  html[dir="rtl"] .btn-svg__button {
    transform: scaleX(-1); }

.btn-svg__button--tooltip {
  position: relative;
  cursor: pointer;
  overflow: visible; }
  .btn-svg__button--tooltip:after {
    content: attr(aria-label);
    position: absolute;
    z-index: 1000000;
    display: none;
    padding: 0.3875rem 0.775rem;
    font-size: 0.875rem;
    line-height: 1.55rem;
    color: #ffffff;
    text-align: center;
    word-wrap: break-word;
    white-space: pre;
    pointer-events: none;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 3px; }
  .btn-svg__button--tooltip:before {
    content: "";
    position: absolute;
    z-index: 1000001;
    display: none;
    width: 0;
    height: 0;
    color: rgba(0, 0, 0, 0.75);
    pointer-events: none;
    border: 5px solid transparent; }
  .btn-svg__button--tooltip:hover, .btn-svg__button--tooltip:active, .btn-svg__button--tooltip:focus {
    text-decoration: none; }
    .btn-svg__button--tooltip:hover:before, .btn-svg__button--tooltip:hover:after, .btn-svg__button--tooltip:active:before, .btn-svg__button--tooltip:active:after, .btn-svg__button--tooltip:focus:before, .btn-svg__button--tooltip:focus:after {
      display: inline-block; }
  .btn-svg__button--tooltip:focus:before, .btn-svg__button--tooltip:focus:after {
    display: none; }
  .btn-svg__button--tooltip:hover:before, .btn-svg__button--tooltip:hover:after {
    display: inline-block; }

.btn-svg__button--tooltip-left:after {
  top: auto;
  right: 100%;
  margin-right: 5px;
  bottom: 50%;
  margin-bottom: inherit;
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%); }
  html[dir="rtl"] .btn-svg__button--tooltip-left:after {
    right: auto;
    left: 100%;
    margin-right: 0;
    margin-left: 5px; }

.btn-svg__button--tooltip-left:before {
  top: 50%;
  bottom: 50%;
  left: -5px;
  margin-top: -5px;
  border-left-color: rgba(0, 0, 0, 0.75);
  border-bottom: 5px solid transparent; }
  html[dir="rtl"] .btn-svg__button--tooltip-left:before {
    left: auto;
    right: -5px;
    margin-right: 0;
    border-left-color: transparent;
    border-right-color: rgba(0, 0, 0, 0.75); }

.btn-svg__button--tooltip-right:after {
  top: auto;
  right: auto;
  bottom: 50%;
  left: 100%;
  margin-left: 5px;
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%); }
  html[dir="rtl"] .btn-svg__button--tooltip-right:after {
    left: auto;
    right: 100%;
    margin-left: 0;
    margin-right: 5px; }

.btn-svg__button--tooltip-right:before {
  top: 50%;
  right: -5px;
  bottom: 50%;
  margin-top: -5px;
  margin-right: 0;
  border-right-color: rgba(0, 0, 0, 0.75);
  border-bottom: 5px solid transparent; }
  html[dir="rtl"] .btn-svg__button--tooltip-right:before {
    left: -5px;
    right: auto;
    border-left-color: rgba(0, 0, 0, 0.75);
    border-right-color: transparent; }

.btn-svg__button--tooltip-top:after {
  top: auto;
  right: 50%;
  bottom: 100%;
  margin-bottom: 5px; }

.btn-svg__button--tooltip-top:before {
  top: -5px;
  right: 50%;
  bottom: auto;
  margin-right: -5px;
  border-top-color: rgba(0, 0, 0, 0.75);
  border-bottom: 5px solid transparent; }

.mod__mob-wrap-container {
  animation: mod__mob-wrap-container-in 200ms ease-in-out;
  background-color: rgba(0, 0, 0, 0.75);
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 200ms ease-in-out;
  z-index: 200; }

.mod__mob-wrap-container--closing {
  opacity: 0; }

.mod__mob-wrap-container--closed {
  display: none; }

.mod__mob-wrap-body {
  animation: mod__mob-wrap-body-in 200ms cubic-bezier(0.215, 0.44, 0.42, 0.88);
  display: flex;
  flex-direction: column;
  max-height: calc(100% - 32px);
  background-color: white;
  border-radius: 4px 4px 0 0;
  overflow: hidden;
  transition: transform 200ms cubic-bezier(0.215, 0.44, 0.42, 0.88); }

.mod__mob-wrap-body--max-height {
  height: calc(100% - 32px); }

.mod__mob-wrap-body--closing {
  transform: translate3d(0, 30px, 0); }

.mod__mob-wrap-content {
  flex: 1 1 auto;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 16px 24px; }

.mod__mob-wrap-header {
  align-items: center;
  border-bottom: 1px solid #efefef;
  display: flex;
  justify-content: space-between;
  padding: 16px 24px; }

.mod__mob-wrap-title {
  font-size: 1.2019rem;
  line-height: 1.55rem; }
  @media screen and (max-width: 859px) {
    .mod__mob-wrap-title {
      font-size: 1.1305rem; } }
  @media screen and (max-width: 479px) {
    .mod__mob-wrap-title {
      font-size: 1.0625rem; } }

.mod__mob-wrap-footer {
  border-top: 1px solid #efefef;
  display: block;
  padding: 16px 24px;
  text-align: center; }

@keyframes mod__mob-wrap-container-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes mod__mob-wrap-body-in {
  0% {
    transform: translate3d(0, 30px, 0); }
  100% {
    transform: translate3d(0, 0, 0); } }

.drp-sort__btn-body {
  font-size: 0.875rem;
  line-height: 1.55rem;
  display: flex;
  justify-content: center;
  line-height: 16px;
  white-space: nowrap; }
  .drp-sort__btn-body > svg {
    fill: currentColor; }

.drp-sort__btn-label {
  padding-left: 4px; }
  html[dir="rtl"] .drp-sort__btn-label {
    padding-left: 0px;
    padding-right: 4px; }
  @media screen and (max-width: 860px) {
    .drp-sort__btn-label {
      display: none; } }

.drp-sort__menu-container {
  padding: 12px; }

.drp-sort__menu-section {
  text-align: left; }
  html[dir="rtl"] .drp-sort__menu-section {
    text-align: right; }

.drp-sort__menu-title {
  font-weight: 600;
  font-style: normal;
  font-size: 0.875rem;
  line-height: 1.55rem;
  border-bottom: 1px solid #dddddd;
  line-height: 1;
  margin-bottom: 12px;
  margin-top: 6px;
  padding-bottom: 12px;
  text-align: left; }
  .drp-sort__menu-title b,
  .drp-sort__menu-title strong {
    font-weight: 600; }
  html[dir="rtl"] .drp-sort__menu-title {
    text-align: right; }

.gb-search-area__container {
  padding-right: 1rem;
  display: flex;
  position: relative;
  border-bottom: 1px solid #dddddd; }
  html[dir="rtl"] .gb-search-area__container {
    padding-left: 1rem; }
  .gb-search-area__container > svg {
    position: absolute;
    top: 36%;
    left: 22px; }
    html[dir="rtl"] .gb-search-area__container > svg {
      left: 0px;
      right: 22px; }
  html[dir="rtl"] .gb-search-area__container {
    padding-right: 0;
    padding-left: 1rem; }
    html[dir="rtl"] html[dir="rtl"] .gb-search-area__container {
      padding-right: 1rem; }

.gb-search-area__input {
  background-color: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom-color: #cccccc;
  box-shadow: none;
  flex: 1;
  margin: 0;
  border-bottom: 2px solid transparent;
  height: 65px;
  padding: 26px 24px 23px 30px;
  padding-left: 50px;
  background: transparent;
  font-size: 15px; }
  .gb-search-area__input:focus {
    border-bottom-color: #999;
    box-shadow: none; }
  .gb-search-area__input:focus {
    border-bottom-color: #0079c1; }
  html[dir="rtl"] .gb-search-area__input {
    padding: 26px 24px 23px 30px;
    padding-right: 50px; }

.gb-search-area__btn-section {
  display: flex;
  justify-content: center;
  align-items: center; }
  .gb-search-area__btn-section:before {
    margin-right: 1rem;
    content: "";
    display: block;
    height: 44px;
    width: 0;
    border-left: 1px solid #dddddd; }
    html[dir="rtl"] .gb-search-area__btn-section:before {
      margin-left: 1rem; }

.gcard-thumbnail__container {
  margin-left: 1rem;
  margin-right: 1rem;
  width: 50px;
  height: 50px; }
  html[dir="rtl"] .gcard-thumbnail__container {
    margin-right: 1rem; }
  html[dir="rtl"] .gcard-thumbnail__container {
    margin-left: 1rem; }

.gcard-thumbnail__svg-container > svg {
  width: 100%;
  height: 100%; }
  .gcard-thumbnail__svg-container > svg > text {
    font-size: 1.69949rem;
    line-height: 2.325rem; }
    @media screen and (max-width: 859px) {
      .gcard-thumbnail__svg-container > svg > text {
        font-size: 1.50357rem; } }
    @media screen and (max-width: 479px) {
      .gcard-thumbnail__svg-container > svg > text {
        font-size: 1.32812rem; } }

.btn-2018check__input {
  opacity: 0;
  position: absolute;
  cursor: pointer; }
  .btn-2018check__input:focus {
    box-shadow: none;
    border: none;
    outline: 1px dotted;
    outline: auto -webkit-focus-ring-color; }

.btn-2018check__input:focus + .btn-2018check__custom {
  border-color: #0079c1;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075), 0 0 5px rgba(81, 167, 232, 0.5);
  outline: none; }

.btn-2018check__custom {
  width: 16px;
  height: 16px;
  overflow: hidden;
  display: inline-block;
  background-color: #f8f8f8;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  vertical-align: -0.25em;
  margin-right: .25em;
  cursor: pointer;
  -webkit-transition: all 150ms linear;
  -o-transition: all 150ms linear;
  transition: all 150ms linear; }
  html[dir="rtl"] .btn-2018check__custom {
    margin-right: auto;
    margin-left: 0.25rem; }
  .btn-2018check__custom > svg {
    display: block;
    fill: #595959; }

.btn-2018check__custom--active {
  background-color: #0079c1;
  border-color: #0079c1; }
  .btn-2018check__custom--active > svg {
    fill: #ffffff; }

.gcard-gcc__container {
  padding-top: 1.1625rem;
  padding-bottom: 1.1625rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-top: 1px solid #dddddd;
  box-sizing: border-box;
  display: flex;
  position: relative;
  align-items: center;
  overflow: hidden; }
  html[dir="rtl"] .gcard-gcc__container {
    padding-right: 1rem; }
  html[dir="rtl"] .gcard-gcc__container {
    padding-left: 1rem; }
  @media screen and (max-width: 480px) {
    .gcard-gcc__container {
      padding-left: 0.5rem;
      padding-right: 0.5rem; }
      html[dir="rtl"] .gcard-gcc__container {
        padding-right: 0.5rem; }
      html[dir="rtl"] .gcard-gcc__container {
        padding-left: 0.5rem; } }

.gcard-gcc__container--active {
  border-top: 1px solid #0079c1;
  background-color: #d2e9f9; }
  .gcard-gcc__container--active:after {
    border-top: 1px solid #0079c1;
    bottom: -1px;
    content: "";
    left: 0px;
    position: absolute;
    width: 100%;
    z-index: 1; }

.gcard-gcc__flex {
  display: flex;
  flex: 1;
  justify-content: space-between; }

.gcard-gcc__title-owner {
  display: inline-block;
  max-width: 16rem; }
  @media screen and (max-width: 480px) {
    .gcard-gcc__title-owner {
      max-width: 180px; } }

.gcard-gcc__title {
  font-size: 1.2019rem;
  line-height: 1.55rem;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  text-overflow: ellipsis; }
  @media screen and (max-width: 859px) {
    .gcard-gcc__title {
      font-size: 1.1305rem; } }
  @media screen and (max-width: 479px) {
    .gcard-gcc__title {
      font-size: 1.0625rem; } }

.gcard-gcc__owner {
  font-size: 0.8125rem;
  line-height: 1.55rem;
  display: block; }

.gcard-gcc__small-info {
  font-size: 0.8125rem;
  line-height: 1.55rem;
  color: #959595;
  display: none; }
  @media screen and (max-width: 860px) {
    .gcard-gcc__small-info {
      display: block; } }

.gcard-gcc__info {
  font-size: 0.875rem;
  line-height: 1.55rem;
  font-weight: 500;
  font-style: normal;
  color: #6e6e6e;
  display: flex;
  align-items: center; }
  .gcard-gcc__info b,
  .gcard-gcc__info strong {
    font-weight: 600; }
  @media screen and (max-width: 860px) {
    .gcard-gcc__info {
      display: none; } }

.label-chip__container {
  background-color: #efefef;
  padding: .25em .5em;
  border-radius: 3px;
  font-size: .85em;
  line-height: 1;
  white-space: nowrap; }

.label-chip__container--blue {
  background-color: #0079c1;
  color: #ffffff; }

.label-chip__container--green {
  background-color: #5a9359;
  color: #ffffff; }

.label-chip__container--yellow {
  background-color: #efe397;
  color: #4c4c4c; }

.label-chip__container--red {
  background-color: #de2900;
  color: #ffffff; }

.gb-total-area__container {
  margin-bottom: 0.775rem;
  display: flex;
  align-items: center; }
  @media screen and (max-width: 480px) {
    .gb-total-area__container {
      padding-left: 0.5rem;
      padding-right: 0.5rem; }
      html[dir="rtl"] .gb-total-area__container {
        padding-right: 0.5rem; }
      html[dir="rtl"] .gb-total-area__container {
        padding-left: 0.5rem; } }

.gb-total-area__input {
  margin-top: 4.5px !important; }

.gb-total-area__result {
  font-size: 0.875rem;
  line-height: 1.55rem;
  margin-left: 1rem;
  margin-right: 1rem;
  color: #6e6e6e;
  vertical-align: top; }
  html[dir="rtl"] .gb-total-area__result {
    margin-right: 1rem; }
  html[dir="rtl"] .gb-total-area__result {
    margin-left: 1rem; }

.gb-total-area__label {
  display: none; }

.gb-total-area__clear-btn {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  margin-left: 0.5rem;
  margin-right: 0.5rem; }
  html[dir="rtl"] .gb-total-area__clear-btn {
    margin-right: 0.5rem; }
  html[dir="rtl"] .gb-total-area__clear-btn {
    margin-left: 0.5rem; }
  .gb-total-area__clear-btn:hover {
    text-decoration: underline; }

.gb-results-panel__container {
  padding-top: 1.1625rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 1.55rem;
  position: relative;
  border-bottom: 2px solid #dddddd; }
  html[dir="rtl"] .gb-results-panel__container {
    margin-right: 2rem; }
  html[dir="rtl"] .gb-results-panel__container {
    margin-left: 2rem; }
  @media screen and (max-width: 480px) {
    .gb-results-panel__container {
      margin-left: 0;
      margin-right: 0; }
      html[dir="rtl"] .gb-results-panel__container {
        margin-left: 0;
        margin-right: 0; } }

.gb-results-panel__section-container {
  display: block;
  text-align: left; }
  html[dir="rtl"] .gb-results-panel__section-container {
    text-align: right; }

.gb-results-panel__section-container--loading {
  pointer-events: none;
  opacity: 0.25; }

.group-browser__container {
  padding-bottom: 1.55rem; }
