<div class="esriGEAdjustableGrid">
    <div data-dojo-attach-point="backgroundNode" class="adjustableGridBackgroundNode"></div>
    <div data-dojo-attach-point="backgroundFloatingTablesNode" class="adjustableGridFloatingTablesNode"></div>
    <div data-dojo-attach-point="mainNode" class="adjustableGridMainNode"></div>
    <div data-dojo-attach-point="foregroundFloatingTablesNode" class="adjustableGridFloatingTablesNode"></div>
    <div data-dojo-attach-point="foregroundNode" class="adjustableGridForegroundNode"></div>
</div>


