<div class="esriGEAreaDetailsInfographic">
    <div data-dojo-attach-point="noDetailsPlaceHolder" class="areaDetails_noDetailsPlaceHolder">
        <div class="areaDetails_noDetailsPlaceHolderImage"></div>
        <div class="areaDetails_noDetailsPlaceHolderLabel">${nls.noDetails}</div>
    </div>
    <div data-dojo-attach-point="contentDiv">
        <div data-dojo-attach-point="titleDiv" class="areaDetails_titleDiv"></div>
        <div data-dojo-attach-point="attributesDiv" class="areaDetails_attributesDiv"></div>
        <div data-dojo-attach-point="notesDiv" class="areaDetails_notesDiv"></div>
    </div>
</div>


