<div class="esriGEReportPlayer_chartContainer">
    <div data-dojo-attach-point="editChartButton" class="chartContainer_editChartButton">${nls.editChart}</div>
    <div data-dojo-attach-point="chartLabel" class="chartContainer_chartLabel"></div>
    <div class="chartContainer_chartContainerWithAxis" data-dojo-attach-point="chartContainerWithAxis">
        <div data-dojo-attach-point="chartContainerDiv"></div>
    </div>
    <div data-dojo-attach-point="tableContainerDiv"></div>
    <div data-dojo-attach-point="legendContainerDiv" class="chartContainer_legendContainer"></div>
</div>