<div class="esriGELocatorTableInfographic">
    <div data-dojo-attach-point="noDataPlaceHolder" class="locatorTableInfographic_noDataPlaceHolder">
        <div class="locatorTableInfographic_noDataPlaceHolderImage"></div>
        <div class="locatorTableInfographic_noDataPlaceHolderLabel">${nls.noLocatorData}</div>
    </div>
    <div data-dojo-attach-point="paginationDiv" class="esriGEAbsoluteStretched"></div>
    <div data-dojo-attach-point="pageNavigatorDiv" class="locatorTableInfographic_pageNavigatorDiv"></div>
    <div data-dojo-attach-point="footnoteDiv" class="locatorTableInfographic_footNoteDiv"></div>
</div>


