<div class="esriGEReportPlayer_sectionDynamicRefineFilters">
    <div data-dojo-attach-point="refineResultsTitle" class="esriGERow20"></div>
    <div class="esriGESpaceBeforeBig">
        <div data-dojo-attach-point="textFilterBlock" class="sectionDynamicRefineFilters_row">
            <div class="esriGERowHigh">${nls.byKeywords}</div>
            <div data-dojo-attach-point="textFilterDiv" class="esriGERowHigh"></div>
        </div>
        <div data-dojo-attach-point="filtersBlock"></div>
        <div class="esriGERowHigh">
            <div data-dojo-attach-point="resetButton" class="dijitInline esriGELink">${nls.resetFilters}</div>
        </div>
    </div>
</div>