<div class="esriGEReportPlayer_sectionDynamicLocatorSettings">
    <div data-dojo-attach-point="refineResultsTitle" class="esiGERowHigh"></div>
    <div class="esriGESpaceBeforeBig">
        <div class="sectionDynamicLocatorSettings_row">
            <div class="esriGERowHigh">${nls.byKeywords}</div>
            <div data-dojo-attach-point="textFilterDiv" class="esriGERowHigh"></div>
        </div>
        <div data-dojo-attach-point="filtersBlock"></div>
        <div class="esriGERowHigh">
            <div data-dojo-attach-point="resetButton" class="dijitInline esriGELink">${nls.resetFilters}</div>
        </div>
    </div>
</div>