<div class="esriGESimpleInfographic">
    <div data-dojo-attach-point="mainViewDiv" class="esriGEAbsoluteStretched"></div>
    <div data-dojo-attach-point="dataDrillingViewDiv" class="esriGEAbsoluteStretched">
        <div data-dojo-attach-point="drilledDataViewDiv" class="esriGEAbsoluteStretched"></div>
        <div data-dojo-attach-point="topToolbar" class="simpleInfographic_topToolbar">
            <div data-dojo-attach-point="backToMainViewButton" class="simpleInfographic_backToMainViewButton"></div>
            <div data-dojo-attach-point="drillingOptionsButton" class="simpleInfographic_drillingOptionsButton"></div>
        </div>
        <div data-dojo-attach-point="waitingDiv"></div>
    </div>
</div>


