<div data-dojo-attach-point="_multidimensionalFilterContainer" class="esriMultidimensionalFilterContainer">
    <table class="esriMultidimensionalFilterTable">
        <tbody>
        <col class="esriMultidimensionalFilterCol1"/>
        <col class="esriMultidimensionalFilterCol2"/>
        <col class="esriMultidimensionalFilterCol3"/>
        <tr>
            <td colspan="3">
                <label class="esriMultidimensionalFilterHeadingLabel" data-dojo-attach-point="VariableFilterLabel" id="variableFilterText" >${_i18n.widgets.multidimensionalFilter.variableFilter}
                </label>
            </td>
        </tr>
        <tr>
            <td colspan="3" data-dojo-attach-point="VariableListRow">
                <div data-dojo-attach-point="variableList" id="variableList" data-dojo-type="dijit/form/FilteringSelect" class="esriMultidimensionalFilterVariableList dijitSelect">
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="3" style="padding-top:5px;">
                <label class="esriMultidimensionalFilterDimensionHeadingLabel" data-dojo-attach-point="VariableFilterLabel" id="dimensionFilterText" >${_i18n.widgets.multidimensionalFilter.filterByDimensionalValues}
                </label>
            </td>
        </tr>
        </tbody>
    </table>
        <div class="dimensionFilterGrid" data-dojo-attach-point="dimensionFilterGrid" id="dimensionFilterGrid" style="margin-top:-10px;">
        </div>
      <div data-dojo-type="dijit/form/Button" data-dojo-attach-event="onClick: _onClickApplyMultidimensionalFilter" data-dojo-attach-point="applyButton">${_i18n.widgets.multidimensionalFilter.applyLabelTitle}
      </div>
</div>
