@mixin expand() {
  @include expandPanelOpen("esri-expand--drawer");
  @include expandPanelClosed("esri-expand--floating");

  .esri-expand {
    min-width: $button-width;
    min-height: $button-height;
    overflow: visible;
  }

  .esri-expand__container {
    position: relative;
    transition: 300ms;
  }

  .esri-expand__content {
    @include defaultBoxShadow();

    transition:
      opacity 250ms ease-in-out,
      margin 250ms ease-in-out;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    margin: 0 $side-spacing--quarter;
    width: 0;
    height: 0;
    overflow: hidden;
  }

  :is(.esri-ui-top-left, .esri-ui-bottom-left) .esri-expand__content {
    left: 100%;
  }

  :is(.esri-ui-top-right, .esri-ui-bottom-right) .esri-expand__content {
    right: 100%;
  }

  :is(.esri-ui-top-left, .esri-ui-top-right) .esri-expand__content {
    top: 0;
  }

  :is(.esri-ui-bottom-left, .esri-ui-bottom-right) .esri-expand__content {
    bottom: 0;
  }

  .esri-collapse__icon {
    display: flex;

    calcite-button:not(:hover) &:not(calcite-icon) {
      color: var(--calcite-color-text-3);
    }
  }

  :is(.esri-ui-top-left, .esri-ui-bottom-left) .esri-collapse__icon-flip {
    transform: rotate(180deg);
  }

  .esri-expand__content--expanded {
    visibility: visible;
    opacity: 1;
    margin-right: $side-spacing--half;
    margin-left: $side-spacing--half;
    width: auto;
    height: auto;
    overflow: visible;
  }

  .esri-expand__content .esri-widget {
    box-shadow: none;
  }

  .esri-expand__icon-number {
    display: flex;
    position: absolute;
    top: $button-height--fifth * -1;
    align-items: center;
    justify-content: center;
    transform-origin: 50%;
    border-radius: $button-height--half;
    background-color: $interactive-font-color;
    padding: 0.125em 0.333em;
    height: $button-height--half;
    animation: expand-number-intro-ani 1000ms ease-in-out;
    line-height: 1em;
    color: $background-color;
    font-size: $font-size--small;
    pointer-events: none;
  }

  :is(.esri-ui-top-left, .esri-ui-bottom-left) .esri-expand__icon-number {
    right: $button-width--fifth * -1;
  }

  :is(.esri-ui-top-right, .esri-ui-bottom-right) .esri-expand__icon-number {
    left: $button-width--fifth * -1;
  }

  :is(.esri-ui-bottom-right, .esri-ui-top-right, .esri-ui-bottom-left, .esri-ui-top-left)
    .esri-expand__icon-number--expanded {
    position: static;
    top: auto;
    right: auto;
    left: auto;
  }

  .esri-expand__icon-number--expanded {
    display: none;
  }

  // Max heights
  .esri-view-height-greater-than-medium {
    .esri-ui-corner .esri-component .esri-expand__content {
      max-height: $view-height--gt-medium__component-max-height;
    }
  }

  .esri-view-height-medium {
    .esri-ui-corner .esri-component .esri-expand__content {
      max-height: $view-height--medium__component-max-height;
    }
  }

  .esri-view-height-small {
    .esri-ui-corner .esri-component .esri-expand__content {
      max-height: $view-height--small__component-max-height;
    }
  }

  .esri-view-height-xsmall {
    .esri-ui-corner .esri-component .esri-expand__content {
      max-height: $view-height--xsmall__component-max-height;
    }
  }

  .esri-view-width-xsmall {
    @include expandPanelOpen("esri-expand--auto");
  }

  .esri-view-width-greater-than-xsmall {
    @include expandPanelClosed("esri-expand--auto");
  }

  @keyframes expand-slide-rtl-ani {
    from {
      right: -600px;
    }

    to {
      right: 0;
    }
  }

  @keyframes expand-slide-ltr-ani {
    from {
      left: -600px;
    }

    to {
      left: 0;
    }
  }

  @keyframes expand-number-intro-ani {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(1);
    }

    75% {
      transform: scale(1.25);
    }

    100% {
      transform: scale(1);
    }
  }
}

@mixin expandPanelOpen($modeClass) {
  .#{$modeClass} {
    .esri-widget {
      width: 100%;
      max-width: 100%;
    }

    .esri-expand__container--expanded {
      position: fixed;
      top: 0;
      bottom: 0;
      z-index: 1;
      margin: 0;
      background: $background-color;
      height: 100%;
      overflow: auto;

      .esri-expand__panel {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.023rem;

        .esri-expand__icon-number--expanded {
          display: block;
        }
      }
    }

    .esri-expand__mask--expanded {
      position: fixed;
      inset: 0;
      opacity: 0.8;
      z-index: 1;
      background-color: #000;
      width: 100%;
      height: 100%;
    }
  }

  .esri-ui-top-right,
  .esri-ui-bottom-right {
    .#{$modeClass} {
      .esri-expand__panel {
        flex-flow: row nowrap;
      }

      .esri-expand__container--expanded {
        width: 75%;
        max-width: $panel-width;
        animation: expand-slide-rtl-ani 300ms forwards;
      }
    }
  }

  .esri-ui-top-left,
  .esri-ui-bottom-left {
    #{$modeClass} {
      .esri-expand__panel {
        flex-flow: row-reverse nowrap;
      }

      .esri-expand__container--expanded {
        width: 75%;
        max-width: $panel-width;
        animation: expand-slide-ltr-ani 300ms forwards;
      }
    }
  }
}

@mixin expandPanelClosed($modeClass) {
  .#{$modeClass} {
    .esri-expand__content {
      position: absolute;
    }

    .esri-expand__mask,
    .esri-expand__content-panel {
      display: none;
    }
  }
}

@if $include_Expand == true {
  @include expand();
}
