@mixin esri-feature-table__prompt($contextColor) {
  @include defaultBoxShadow();

  display: flex;
  flex-flow: column nowrap;
  border: solid 3px $contextColor;
  background-color: var(--calcite-color-background);
  padding: $cap-spacing $side-spacing;
  max-height: 85%;
  animation: esri-fade-in-up 250ms ease-in-out;
  color: $font-color;

  .esri-feature-table__prompt__header {
    display: flex;
    flex: 0 0 auto;
    margin-bottom: $cap-spacing;
    color: $contextColor;

    &__heading {
      margin: 0 $side-spacing--quarter;
      color: $heading-color;
    }
  }

  .esri-feature-table__prompt__message {
    flex: 1 1 auto;
    padding: 0 0 $cap-spacing 0;
    overflow: auto;
    overflow-x: hidden;
    word-break: break-word;
    color: inherit;
    font-weight: $font-weight;
  }

  .esri-feature-table__prompt__divider {
    flex: 0 0 auto;
    margin: 0 0 $cap-spacing 0;
    border-bottom: $border;
    border-color: $border-color--subtle;
    color: inherit;
  }

  .esri-feature-table__prompt__actions {
    display: flex;
    flex-direction: row;
  }
}

@mixin featureTable() {
  .esri-feature-table {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .esri-feature-table__content {
      flex: 1 1 0;
      flex-grow: 1;
      margin: 0;
      padding: 0;
      min-height: 0;
    }

    .esri-grid--no-column-menu {
      .esri-column__menu-container {
        display: none;
      }
    }

    .esri-grid__grid {
      width: 100%;
      height: 100%;

      .esri-column__menu-container.esri-button-menu {
        position: inherit;
      }
    }

    .esri-grid,
    .esri-feature-table__menu,
    .esri-column__menu-container,
    .esri-button-menu,
    .esri-button-menu__button {
      background-color: inherit;
    }

    vaadin-grid {
      background-color: inherit;
      color: inherit;
      font-family: inherit;
      font-size: $font-size;
    }

    // Explicit value required to avoid transparent body cells behind frozen columns.
    vaadin-grid::part(row) {
      background-color: $background-color;
    }

    // #58067 - Workaround to support changing background color of the entire row on hover.
    // Does not apply to the selection column due to transparency issues but hovering
    // over a selection cell will highlight the entire row. Applies to any 'frozen' columns.
    vaadin-grid::part(row):hover {
      --row-background-color: var(--calcite-color-background);
    }

    vaadin-grid::part(body-cell) {
      background-color: var(--row-background-color);
      font-size: $font-size;

      &:hover {
        background-color: var(--row-background-color);
      }
    }

    // Required to avoid transparent body cells behind frozen columns.
    // Must be defined *after* body-cell has a background-color applied.
    vaadin-grid::part(body-cell frozen-cell),
    vaadin-grid::part(body-cell frozen-to-end-cell) {
      background-color: inherit;
    }

    vaadin-grid::part(header-cell) {
      font-weight: $font-weight;
    }

    vaadin-grid::part(header-cell invalid) {
      background-color: var(--calcite-color-background);
      font-weight: var(--calcite-font-weight-bold);
    }

    vaadin-grid::part(body-cell invalid) {
      color: var(--calcite-color-border-3);
      font-style: italic;
    }
  }

  .esri-feature-table__menu {
    order: 3;
    padding: 4px;
    width: 40px;
    height: 40px;

    .esri-button-menu {
      position: relative;
      bottom: auto;
    }

    .esri-button-menu__content {
      max-width: 600px;
    }
  }

  .esri-feature-table__header {
    display: flex;
    flex-direction: row;
    margin: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-weight: $font-weight;
  }

  .esri-feature-table__title {
    flex-grow: 1;
    order: 2;
  }

  .esri-feature-table__loader-container {
    order: 1;
    margin: 0 8px;
    width: 32px;
    height: 40px;
  }

  .esri-feature-table__loader {
    background: url("../base/images/loading-throb.gif") no-repeat center;
    width: 32px;
    height: 40px;
  }

  .esri-field-column__header-root {
    display: flex;
    flex-grow: 1;
    align-items: center;

    &--editable {
      .esri-field-column__header-content {
        .esri-icon-locked {
          display: flex;
        }
      }
    }

    .esri-icon-locked {
      display: none;
    }

    &--menu-enabled {
      .esri-column__menu-container.esri-button-menu {
        display: flex;
      }
    }

    .esri-column__menu-container {
      display: none;
    }
  }

  .esri-field-column__header-content {
    align-items: center;
    min-height: 28px;
  }

  .esri-field-column__header-content,
  .esri-field-column__header-label {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
  }

  .esri-field-column__cell-content {
    font-size: 0.9em;
  }

  .esri-field-column__button {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 125ms ease-in-out;
    border: none;
    background-color: transparent;
    width: 26px;
    height: auto;
    text-align: center;
    color: $button-color;
    font-size: $icon-size;

    &:disabled {
      cursor: default;
      color: $interactive-font-color--disabled;
    }

    &:hover,
    &:focus {
      background-color: $background-color--hover;
      cursor: pointer;
      color: $interactive-font-color--hover;
    }
  }

  .esri-field-column__cell__input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    input,
    select {
      position: absolute;
      top: 0;
      left: 0;
      padding: 0;
    }

    div,
    input,
    select {
      display: flex;
      width: 100%;
    }

    calcite-action-bar {
      background-color: transparent;
    }

    div:first-child {
      flex-direction: column;
    }

    calcite-input-time-picker:last-child,
    calcite-input-time-picker:nth-child(2),
    calcite-input-time-zone {
      margin-top: -1px;
    }
  }

  .esri-field-column__cell-input {
    flex: 1 1 0;
    border: none;
    width: 100%;
    height: 100%;
  }

  .esri-feature-table__prompt--info {
    @include esri-feature-table__prompt(var(--calcite-color-status-info));
  }

  .esri-feature-table__prompt--warning {
    @include esri-feature-table__prompt(var(--calcite-color-status-warning));
  }

  .esri-feature-table__prompt--danger {
    @include esri-feature-table__prompt(var(--calcite-color-status-danger));
  }

  [dir="rtl"] {
    .esri-feature-table__menu-content {
      right: auto;
      left: 2px;
    }
  }
}

@if $include_FeatureTable == true {
  @include featureTable();
}
