@mixin grid() {
  .esri-grid {
    // Uses shade of primary theme color for highlight
    $row-selected-color: rgba($button-color, 0.2);

    // Sets 'primary' color that other properties inherit from
    --lumo-base-color: #{$background-color};
    --lumo-primary-color: #{$button-color};
    --lumo-primary-text-color: var(--lumo-primary-color);
    --lumo-primary-color-10pct: #{$row-selected-color};

    // grid and checkbox background color(s) default and hover
    --lumo-contrast-20pct: #{$interactive-font-color};
    --lumo-contrast-30pct: #{$interactive-font-color--hover};

    // grid border color(s)
    --lumo-contrast-10pct: #{$background-color--hover};

    // row hover
    --lumo-row-background-hover: #{$background-color--hover};

    width: 100%;
    height: 100%;

    .esri-grid__content {
      background-color: inherit;
      width: 100%;
      height: 100%;
    }

    .esri-grid__grid {
      width: 100%;
      height: 100%;

      a {
        text-decoration: underline;
        color: $interactive-font-color;

        &:hover,
        &:focus {
          color: $interactive-font-color--hover;
        }
      }
    }

    .esri-column__sorter,
    .esri-column__header-label {
      display: flex;
      flex-grow: 1;
      align-items: center;
      margin: 0 5px;
      min-height: 28px;
      overflow: hidden;
    }

    .esri-column__header-label span {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .esri-column__header-content {
      display: flex;
      flex-grow: 1;
      align-items: center;
    }
  }
}

@if $include_Grid == true {
  @include grid();
}
