@mixin grid() {
  .esri-grid {
    width: 100%;
    height: 100%;

    .esri-grid__content {
      width: 100%;
      height: 100%;
    }

    .esri-grid__grid {
      height: 100%;
      width: 100%;
    }

    .esri-column__sorter {
      flex-grow: 1;
      margin: 0 5px;
      overflow: auto;
    }

    .esri-column__menu-container {
      display: inline-block;
      margin: 0 5px;
    }
  }
}

@if $include_Grid == true {
  @include grid();
}
