@mixin itemList() {
  $border: 1px solid $border-color;

  .esri-item-list {
    width: 100%;
  }

  .esri-item-list__filter-container--sticky {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .esri-item-list__group {
    margin-top: $cap-spacing;
  }

  .esri-item-list__scroller {
    overflow-y: auto;
  }

  .esri-ui .esri-item-list__scroller {
    position: relative;
    z-index: 0;

    &--enabled {
      max-height: $panel-max-height--small;
    }
  }

  .esri-item-list__group__header {
    color: var(--calcite-color-text-2);
    font-weight: var(--calcite-font-weight-medium);
  }

  .esri-item-list__list-item {
    @include icomoonIconSelector("&") {
      padding-inline-end: $font-size * 0.2;
    }

    cursor: pointer;
    min-height: $list-item-height;

    &--disabled {
      cursor: default;
    }
  }

  .esri-item-list__list-item-icon {
    margin-inline: 0.75rem; // Matches default spacing used by Calcite
  }

  .esri-item-list__no-matches-message {
    display: flex;
    align-items: center;
    justify-content: center;
    height: $panel-min-height--small;
  }
}

@if $include_ItemList == true {
  @include itemList();
}
