@mixin print() {
  .esri-print {
    position: relative;
    padding: $cap-spacing $side-spacing;
    overflow-y: auto;

    section[aria-hidden="true"] {
      display: none;
    }
  }

  .esri-print__header-title {
    margin: 0 auto 0 0;
    padding: 0 0 $cap-spacing;
    font-size: $font-size__header-text;
    font-weight: $font-weight--bold;
  }

  .esri-print__layout-section,
  .esri-print__map-only-section {
    margin-bottom: $cap-spacing;
    border-top: 1px solid $border-color;
    padding: $cap-spacing 0 0;
  }

  .esri-print__layout-tab-list {
    display: flex;
    position: relative;
    bottom: -1px;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }

  .esri-print__layout-tab {
    display: inline-block;
    margin: 0;
    border: 1px solid rgb(0 0 0 / 0%);
    cursor: pointer;
    padding: 5px;
    width: 100%;
    text-align: center;
    color: $interactive-font-color;
  }

  .esri-print__layout-tab:hover,
  .esri-print__layout-tab:focus {
    border-bottom: 1px solid $border-color;
    background-color: $background-color--hover;
    color: $font-color;
  }

  .esri-print__layout-tab[aria-selected="true"],
  .esri-print__layout-tab[aria-selected="true"]:hover {
    border-color: $border-color;
    border-bottom-color: $background-color;
    background-color: $background-color;
    color: $font-color;
  }

  .esri-print__panel--error {
    color: $font-color--error;
  }

  .esri-print__panel-container {
    flex: 1 0;
  }

  .esri-print__input-text {
    margin: 0;
    width: 100%;
  }

  .esri-print__scale-input-container {
    display: flex;
    align-items: center;
  }

  .esri-print__advanced-options-section {
    @include icomoonIconSelector() {
      background: transparent;
    }

    background-color: $background-color--offset;
    color: $interactive-font-color;
  }

  .esri-print__advanced-options-button-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: transparent;
    width: 100%;
    overflow: visible;
    color: $interactive-font-color;
  }

  .esri-print__advanced-options-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: $cap-spacing--half $side-spacing--half;
    width: 100%;
    font-family: inherit;
  }

  .esri-print__advanced-options-button[aria-expanded="true"] .esri-print__advanced-options-button-icon--closed,
  .esri-print__advanced-options-button[aria-expanded="false"] .esri-print__advanced-options-button-icon--opened,
  .esri-print__advanced-options-button .esri-print__advanced-options-button-icon--closed-rtl {
    display: none;
  }

  .esri-print__advanced-options-button[aria-expanded="false"] .esri-print__advanced-options-button-icon--closed,
  .esri-print__advanced-options-button[aria-expanded="true"] .esri-print__advanced-options-button-icon--opened {
    display: block;
  }

  .esri-print__advanced-options-button-title {
    margin: 0 $side-spacing--quarter;
    font-size: $font-size--small;
  }

  .esri-print__advanced-options-container {
    padding: $cap-spacing--half $side-spacing--half;
    font-size: $font-size--small;

    .esri-print__form-section-container {
      margin-bottom: $cap-spacing--half;
    }
  }

  .esri-print__size-container {
    @include icomoonIconSelector() {
      align-self: flex-end;
      background: transparent;
    }

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  .esri-print__size-container button {
    color: $interactive-font-color;
  }

  .esri-print__width-container,
  .esri-print__height-container {
    flex: 0 0 43%;
  }

  .esri-print__swap-button {
    flex: 0 0 5%;
    border: none;
  }

  .esri-print__refresh-button {
    border: 1px solid $border-color;
    border-left-width: 0;
  }

  .esri-print__export-button {
    margin: $cap-spacing--half 0;
  }

  .esri-print__export-panel-container {
    @include icomoonIconSelector() {
      margin-top: 0.15em;
      margin-right: 0.5em;
    }

    border-top: 1px solid #ddd;
    padding: $cap-spacing 0;
    font-size: $font-size--small;
  }

  .esri-print__exported-file-link-title {
    @include wordbreak();
  }

  .esri-print__exported-file-link {
    display: flex;
    align-items: flex-start;
    margin-bottom: $cap-spacing--half;
    text-decoration: none;
    color: $interactive-font-color;

    &:hover {
      color: $interactive-font-color--hover;
    }
  }

  .esri-print__exported-file--error {
    cursor: pointer;
    color: $font-color--error;
  }

  .esri-print .esri-print__exported-file--error:hover {
    color: $font-color--error;
  }

  .esri-print__loader {
    margin: 0 auto;
    background: url("../base/images/loading-throb.gif") no-repeat center;
    width: 32px;
    height: 40px;
  }

  [dir="rtl"] {
    .esri-print__refresh-button {
      border-right-width: 0;
      border-left-width: 1px;
    }

    .esri-print__export-panel-container {
      @include icomoonIconSelector() {
        margin-right: 0;
        margin-left: 0.5em;
      }
    }

    .esri-print__advanced-options-button[aria-expanded="false"] .esri-print__advanced-options-button-icon--closed {
      display: none;
    }

    .esri-print__advanced-options-button[aria-expanded="false"] .esri-print__advanced-options-button-icon--closed-rtl {
      display: block;
    }
  }
}

@if $include_Print == true {
  @include print();
}
