@mixin saveLayer() {
  .esri-save-layer {
    width: 300px;
    height: 250px;

    &__error {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__error-icon {
      margin-top: 3rem;
      margin-bottom: 0.3rem;
      color: var(--calcite-color-status-danger);
    }

    &__process-loader {
      padding-top: 3rem;
      padding-bottom: 2rem;
    }

    &__process-label,
    &__error-label {
      margin-inline: 0.5rem;
    }

    &__layer-name-label {
      margin: 0.5rem 0.5rem 0;
    }

    &__portal-folder-label {
      margin: 0.5rem 0.5rem 0.25rem;
    }
  }
}

@if $include_SaveLayer == true {
  @include saveLayer();
}
