@mixin UtilityNetworkTrace {
  .esri-utility-trace-network {
    flex: 1 1 auto;

    &.esri-component.esri-widget--panel {
      min-height: $panel-min-height--medium;
    }

    calcite-icon {
      box-sizing: initial;
    }

    calcite-tab {
      background-color: $background-color--offset;
      padding-top: 0;
      padding-bottom: 0;

      &:not([selected]) {
        flex: 0;
      }
    }

    calcite-block {
      margin-bottom: 0;
    }

    &__add-button-container {
      display: flex;
      justify-content: center;
      margin: $cap-spacing--plus-half 0 $cap-spacing;
    }

    &__notice-container {
      padding: $cap-spacing--half;
    }

    &__list-container {
      background-color: $background-color;
      padding: $cap-spacing--quarter $side-spacing--quarter;
    }

    &__flow {
      height: 100%;
    }

    &__results-container {
      height: 100%;
    }

    &__number-input {
      width: 150px;
    }

    &__reset-prompt {
      @include defaultBoxShadow();

      display: flex;
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      flex-flow: column nowrap;
      border-top: solid 3px $border-color--subtle;
      background-color: var(--calcite-color-background);
      padding: $cap-spacing $side-spacing;
      max-height: 85%;
      animation: esri-fade-in-up 100ms ease-in-out;
      color: $font-color;
    }

    &__divider {
      flex: 0 0 auto;
      margin: 0 0 $cap-spacing 0;
      border-bottom: $border;
      border-color: $border-color--subtle;
      color: inherit;
    }

    &__padTop {
      padding-top: 5px;
    }
  }
}

@media (prefers-reduced-motion) {
  .esri-utility-trace-network__reset-prompt {
    animation: none;
  }
}

@if $include_UtilityNetworkTrace == true {
  @include UtilityNetworkTrace();
}
