@mixin utilityNetworkAssociations() {
  .esri-un-associations {
    &__action {
      height: 48px;

      &-refresh {
        --calcite-color-icon-color: #077ac2;
      }
    }

    &__block {
      &-content {
        margin: 0;
        border: {
          bottom: none;
        }
      }

      &-section-settings {
        padding: 0;
        border: {
          style: none;
        }
      }
    }

    &__div-controls {
      &-main {
        display: grid;
        gap: 0.5rem;
        background: var(--calcite-color-foreground-1) /* color */;
        padding: 0.5rem 0;
      }

      &-symbol-picker {
        margin: {
          top: 0.75rem;
        }
      }
    }

    &__dropdown {
      border: 1px solid var(--calcite-color-border-input);

      &-item {
        &-line-cap {
          height: 10px;
          background: {
            position: center;
            repeat: no-repeat;
          }
        }

        &-line-pattern {
          height: 3px;
        }
      }

      &-selected-item {
        &-line-cap {
          width: 100%;
          height: 10px;
          background: {
            position: center;
            repeat: no-repeat;
            size: 275px 10px;
          }
        }

        &-line-pattern {
          width: 100%;
          height: 3px;
        }
      }

      &-trigger {
        display: flex;
        align-items: center;
        margin: 0 6px;
        width: 100%;
        height: 24px;
      }
    }

    &__label {
      height: 1rem;

      &-and-slider {
        display: flex;
        flex-direction: column;
      }

      &-and-toggle {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: inherit;
        padding: {
          right: 0.25rem;
        }
      }
    }

    &__slider {
      padding: 0 0.5rem;
    }

    &__status-icon {
      &-container {
        width: 48px;
        height: 48px;
      }

      &-warning {
        --calcite-color-icon-color: #edd317;

        padding: 16px;
      }
    }

    &__switch {
      align-self: center;
      padding: 0.5rem;

      &-container {
        display: grid;
        width: 48px;
        height: 48px;
      }
    }

    &__widget-container {
      margin: 0;
      border-bottom: none;
      width: 330px;
    }
  }
}

@if $include_UtilityNetworkAssociations == true {
  @include utilityNetworkAssociations();
}
