@mixin utilityNetworkValidateTopology() {
  .esri-un-validate-topology {
    &__container {
      width: 330px;
    }

    &__content {
      margin: 0;
      border-bottom: none;
    }

    &__controls-container {
      display: grid;
      gap: 0.5rem;
    }

    &__status-icon {
      &-container {
        width: 48px;
        height: 48px;
      }

      &-error {
        --calcite-color-icon-color: #edd317;

        padding-top: 16px;
        padding-left: 16px;
      }

      &-success {
        --calcite-color-icon-color: #35ac46;

        padding-top: 16px;
        padding-left: 16px;
      }
    }
  }
}

@if $include_UtilityNetworkValidateTopology == true {
  @include utilityNetworkValidateTopology();
}
