
//* Esri Calcite Vibrant Colors - Last Updated 04/03/15 */

@import "../../scss/variables";



//* -- Calcite Vibrant_Blue -- */


.Calcite_Vibrant_Blue_100 {
  background-color: $Calcite_Vibrant_Blue_100;
}

.Calcite_Vibrant_Blue_150 {
  background-color: $Calcite_Vibrant_Blue_150;
}

.Calcite_Vibrant_Blue_200 {
  background-color: $Calcite_Vibrant_Blue_200;
}

.Calcite_Vibrant_Blue_250 {
  background-color: $Calcite_Vibrant_Blue_250;
}

.Calcite_Vibrant_Yellow_100 {
  background-color: $Calcite_Vibrant_Yellow_100;
}

.Calcite_Vibrant_Yellow_150 {
  background-color: $Calcite_Vibrant_Yellow_150;
}

.Calcite_Vibrant_Yellow_200 {
  background-color: $Calcite_Vibrant_Yellow_200;
}

.Calcite_Vibrant_Orange_100 {
  background-color: $Calcite_Vibrant_Orange_100;
}

.Calcite_Vibrant_Orange_150 {
  background-color: $Calcite_Vibrant_Orange_150;
}

.Calcite_Vibrant_Orange_200 {
  background-color: $Calcite_Vibrant_Orange_200;
}

.Calcite_Vibrant_Green_100 {
  background-color: $Calcite_Vibrant_Green_100;
}

.Calcite_Vibrant_Green_150 {
  background-color: $Calcite_Vibrant_Green_150;
}

.Calcite_Vibrant_Green_200 {
  background-color: $Calcite_Vibrant_Green_200;
}

.Calcite_Vibrant_Red_100 {
  background-color: $Calcite_Vibrant_Red_100;
}

.Calcite_Vibrant_Red_150 {
  background-color: $Calcite_Vibrant_Red_150;
}

.Calcite_Vibrant_Red_200 {
  background-color: $Calcite_Vibrant_Red_200;
}

.Calcite_Vibrant_Purple_100 {
  background-color: $Calcite_Vibrant_Purple_100;
}

.Calcite_Vibrant_Purple_150 {
  background-color: $Calcite_Vibrant_Purple_150;
}

.Calcite_Vibrant_Purple_200 {
  background-color: $Calcite_Vibrant_Purple_200;
}

.Calcite_Vibrant_Brown_100 {
  background-color: $Calcite_Vibrant_Brown_100;
}

.Calcite_Vibrant_Brown_150 {
  background-color: $Calcite_Vibrant_Brown_150;
}

.Calcite_Vibrant_Brown_200 {
  background-color: $Calcite_Vibrant_Brown_200;
}































