<div data-dojo-attach-point="_containerNode" class="${_css.disabled}">
  <div role="button" tabindex="0" data-dojo-attach-point="_zoomInNode"
       class="${_css.button} ${_css.interactive}" title="${_i18n.zoomIn}">
    <span aria-hidden="true" role="presentation"
          class="${_css.icon} ${_css.zoomInIcon}"></span>
    <span class="${_css.iconText}">${_i18n.zoomIn}</span>
  </div>
  <div role="button" tabindex="0" data-dojo-attach-point="_zoomOutNode"
       class="${_css.button} ${_css.interactive}" title="${_i18n.zoomOut}">
    <span aria-hidden="true" role="presentation"
          class="${_css.icon} ${_css.zoomOutIcon}"></span>
    <span class="${_css.iconText}">${_i18n.zoomOut}</span>
  </div>
</div>