.date__selector {
  font-size: 0.875rem;
  line-height: 1.55rem;
  padding-top: 0.775rem;
  margin-left: 1rem;
  margin-right: 0; }
  html[dir="rtl"] .date__selector {
    margin-right: 1rem; }

.date__selector--hide {
  display: none; }

.date-selector__pick-wrapper {
  position: relative;
  height: 2.4rem; }
