.esriGEConditionalStylingLegend {
    text-align: left;
}

.esriGEConditionalStylingLegend_row {
    white-space: nowrap;
    position: relative;
}

.esriGEConditionalStylingLegend_symbol {
    padding: 5px;
    border: 1px #CCCCCC;
}

.esriGEConditionalStylingLegend_symbolImage {
    background-size: 50px;
    background-repeat:no-repeat;
    width: 50px;
    height: 50px;
}

.esriGEConditionalStylingLegend_symbolChart {
    width: 6px;
    height: 6px;
    border-radius: 10px;
}

.esriGEConditionalStylingLegend_matchIndicator {
    background-image: url("./images/arrows/rightArrow.svg");
    background-size: 8px;
    background-repeat: no-repeat;
    background-position: center;
    width: 8px;
    height: 8px;
    position: absolute;
    left: -15px;
}

.esriGEConditionalStylingLegend_text .esriGEConditionalStylingLegend_matchIndicator {
    top: 8px;
}

.esriGEConditionalStylingLegend_chart .esriGEConditionalStylingLegend_matchIndicator {
    top: 4px;
}

.esriGEConditionalStylingLegend_image .esriGEConditionalStylingLegend_matchIndicator {
    top: 27px;
}
