


.floatingElementContainer.esriGEAdjustableGridValueField .floatingElement {
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
}




.floatingElementContainer.esriGEAdjustableGridValueField {
    overflow: visible;
}



.esriGEAdjustableGridValueField .shapeContainer_svgContainer {
    overflow: hidden;
    white-space: nowrap;
}

.esriGEAdjustableGridValueField .shapeContainer_svgContainerBackground {
    opacity: 0.3;
}

.esriGEAdjustableGridValueField .shapeContainer_svgContainerElement {
    position: absolute;
    top: 0px;
}

    .esriGEAdjustableGridValueField .shapeContainer_svgContainerElement > svg {
        position: absolute;
        top: 0px;
        left: 0px;
    }



.esriGEAdjustableGridValueField .shapeContainer_svgPlaceholder {
    background-image: url("./images/addShape.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: inherit;
    height: inherit;
}

.esriGEAdjustableGridValueField .valueField_valueBlock:hover .shapeContainer_svgPlaceholder {
    background-image: url("./images/addShape_over.svg");
}

.esriGEAdjustableGridValueField .shapeContainer_svgPlaceholderText {
    margin-top: -10px;
    width: 100%;
    text-align: center;
}


.esriGEReportPlayer_reportContainerGrid .shapeContainer_svgPlaceholder {
    display: none;
}



.floatingElementContainer.esriGEAdjustableGridValueField.templateImage_logoPlaceholder {
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("./images/logo/logoCircle.svg");
}

    .floatingElementContainer.esriGEAdjustableGridValueField.templateImage_logoPlaceholder .templateImage {
        opacity: 0;
    }

    .floatingElementContainer.esriGEAdjustableGridValueField.templateImage_logoPlaceholder.templateImage_logoPlaceholderShort {
        background-image: none;
    }
