.esriGEPageOptionsDialog {
    width: 400px;
}

    .esriGEPageOptionsDialog .esriGEOnDemandSelect {
        width: 180px;
    }

    .esriGEPageOptionsDialog .pageOptionsDialog_section {
        margin-left: 20px;
    }

    .esriGEPageOptionsDialog .pageOptionsDialog_bigRow20 {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .esriGEPageOptionsDialog .pageOptionsDialog_infoIcon {
        background-image: url("./images/infoIconGray.svg");
        height: 20px;
        width: 20px;
        background-size: contain;
        background-repeat: no-repeat;
        display: inline-block;
        cursor: pointer;
    }

    .esriGEPageOptionsDialog .pageOptionsDialog_actionButtonsBlock {
        text-align: right;
    }

    .esriGEPageOptionsDialog .pageOptionsDialog_actionButton {
        border: 1px solid #b2b2b2;
        background-color: transparent;
        color: #4c4c4c;
        height: 25px;
        line-height: 25px;
        text-align: center;
        min-width: 54px;
        padding-left: 5px;
        padding-right: 5px;
        cursor: pointer;
        margin: 5px;
    }

        .esriGEPageOptionsDialog .pageOptionsDialog_actionButton:hover {
            background-color: #EEEEEE;
        }

    .esriGEPageOptionsDialog .dijitTextBox {
        width: 250px;
    }

    .esriGEPageOptionsDialog .reportTitleBlock_label {
        min-width: 60px;
    }
