.label-chip__container {
  background-color: #efefef;
  padding: .25em .5em;
  border-radius: 3px;
  font-size: .85em;
  line-height: 1;
  white-space: nowrap; }

.label-chip__container--blue {
  background-color: #0079c1;
  color: #ffffff; }

.label-chip__container--green {
  background-color: #5a9359;
  color: #ffffff; }

.label-chip__container--yellow {
  background-color: #efe397;
  color: #4c4c4c; }

.label-chip__container--red {
  background-color: #de2900;
  color: #ffffff; }
