.qual-badge__container {
  padding: 6px 8px;
  border-radius: 20px;
  font-size: 14px;
  background-color: #DBEDFA;
  margin-right: 6px;
  margin-bottom: 2px;
  display: inline-block;
  line-height: 1.4;
  white-space: nowrap; }

.qual-badge__container--small {
  padding: 3px 4px; }

.qual-badge__container--tooltip {
  position: relative;
  cursor: pointer;
  cursor: auto; }
  .qual-badge__container--tooltip:after {
    content: attr(aria-label);
    position: absolute;
    z-index: 1000000;
    display: none;
    padding: 0.3875rem 0.775rem;
    font-size: 0.875rem;
    line-height: 1.55rem;
    color: #ffffff;
    text-align: center;
    word-wrap: break-word;
    white-space: pre;
    pointer-events: none;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 3px; }
  .qual-badge__container--tooltip:before {
    content: "";
    position: absolute;
    z-index: 1000001;
    display: none;
    width: 0;
    height: 0;
    color: rgba(0, 0, 0, 0.75);
    pointer-events: none;
    border: 5px solid transparent; }
  .qual-badge__container--tooltip:hover, .qual-badge__container--tooltip:active, .qual-badge__container--tooltip:focus {
    text-decoration: none; }
    .qual-badge__container--tooltip:hover:before, .qual-badge__container--tooltip:hover:after, .qual-badge__container--tooltip:active:before, .qual-badge__container--tooltip:active:after, .qual-badge__container--tooltip:focus:before, .qual-badge__container--tooltip:focus:after {
      display: inline-block; }
  .qual-badge__container--tooltip:hover:after, .qual-badge__container--tooltip:active:after, .qual-badge__container--tooltip:focus:after {
    display: table-cell; }
  .qual-badge__container--tooltip:after {
    width: 22em;
    width: -moz-max-content;
    width: -webkit-max-content;
    max-width: 22em;
    word-break: break-word;
    word-wrap: normal;
    white-space: pre-line;
    border-collapse: separate; }
  .qual-badge__container--tooltip.tooltip-bottom:after, .qual-badge__container--tooltip.tooltip-top:after {
    right: auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%); }
  .qual-badge__container--tooltip.tooltip-left:after, .qual-badge__container--tooltip.tooltip-right:after {
    right: 100%; }

.qual-badge__container--tooltip-left:after {
  top: auto;
  right: 100%;
  margin-right: 5px;
  bottom: 50%;
  margin-bottom: inherit;
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%); }
  html[dir="rtl"] .qual-badge__container--tooltip-left:after {
    right: auto;
    left: 100%;
    margin-right: 0;
    margin-left: 5px; }

.qual-badge__container--tooltip-left:before {
  top: 50%;
  bottom: 50%;
  left: -5px;
  margin-top: -5px;
  border-left-color: rgba(0, 0, 0, 0.75);
  border-bottom: 5px solid transparent; }
  html[dir="rtl"] .qual-badge__container--tooltip-left:before {
    left: auto;
    right: -5px;
    margin-right: 0;
    border-left-color: transparent;
    border-right-color: rgba(0, 0, 0, 0.75); }

.qual-badge__container--tooltip-top:after {
  top: auto;
  right: 50%;
  bottom: 100%;
  margin-bottom: 5px; }

.qual-badge__container--tooltip-top:before {
  top: -5px;
  right: 50%;
  bottom: auto;
  margin-right: -5px;
  border-top-color: rgba(0, 0, 0, 0.75);
  border-bottom: 5px solid transparent; }

.qual-badge__container--tooltip-right:after {
  top: auto;
  right: auto;
  bottom: 50%;
  left: 100%;
  margin-left: 5px;
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%); }
  html[dir="rtl"] .qual-badge__container--tooltip-right:after {
    left: auto;
    right: 100%;
    margin-left: 0;
    margin-right: 5px; }

.qual-badge__container--tooltip-right:before {
  top: 50%;
  right: -5px;
  bottom: 50%;
  margin-top: -5px;
  margin-right: 0;
  border-right-color: rgba(0, 0, 0, 0.75);
  border-bottom: 5px solid transparent; }
  html[dir="rtl"] .qual-badge__container--tooltip-right:before {
    left: -5px;
    right: auto;
    border-left-color: rgba(0, 0, 0, 0.75);
    border-right-color: transparent; }

.qual-badge__container svg {
  vertical-align: -3px; }

.esriRtl .qual-badge__container {
  margin-right: 0;
  margin-left: 6px; }

.qual-badge__text {
  margin-left: 2px;
  cursor: default; }
