{
  "scanSettings": {
    "configMode": "EXTERNAL",
    "configExternalURL": "",
    "projectToken": "",
	"python.path=python3",
    "baseBranches": []
  },
  "checkRunSettings": {
    "displayMode": "diff",
    "vulnerableCheckRunConclusionLevel": "failure"
  },
  "issueSettings": {
    "minSeverityLevel": "LOW"
  }
}