


.esriGEReportPlayer_chartContainer .chartContainer_legendContainer {
    position: absolute;
}

.esriGEReportPlayer_chartContainer .esriGESelectableLegend {
    border: 1px solid #b2b2b2;
    display: inline-block;
    overflow: hidden;
    color: #4C4C4C;
    background-color: white;
}

    .esriGEReportPlayer_chartContainer .esriGESelectableLegend .selectableLegendRoot {
        padding-top: 3px;
        padding-bottom: 3px;
        text-decoration: inherit;
        white-space: nowrap;
    }

    
    .esriGEReportPlayer_chartContainer .esriGESelectableLegend .selectableLegendRootColorRect {
        margin-left: 2px;
        margin-right: 2px;
        box-sizing: border-box;
    }

        .esriGEReportPlayer_chartContainer .esriGESelectableLegend .selectableLegendRootColorRect.square {
            width: 10px;
            height: 10px;
        }

        .esriGEReportPlayer_chartContainer .esriGESelectableLegend .selectableLegendRootColorRect.circle {
            width: 10px;
            height: 10px;
            border-radius: 50%;
        }

        .esriGEReportPlayer_chartContainer .esriGESelectableLegend .selectableLegendRootColorRect.rectangle {
            width: 15px;
            height: 6px;
        }

        .esriGEReportPlayer_chartContainer .esriGESelectableLegend .selectableLegendRootColorRect.line {
            width: 15px;
            height: 2px;
        }

    

    .esriGEReportPlayer_chartContainer .esriGESelectableLegend .selectableLegendRootLabel {
        max-width: 200px;
        text-decoration: inherit;
    }

    .esriGEReportPlayer_chartContainer .esriGESelectableLegend .selectableLegendRoot_unselected .selectableLegendRootLabel {
        opacity: 0.3;
    }

    

    .esriGEReportPlayer_chartContainer .esriGESelectableLegend .selectableLegendRootValue {
        text-decoration: inherit;
    }

    

    .esriGEReportPlayer_chartContainer .esriGESelectableLegend .selectableLegendRoot .selectableLegendRootCheckbox {
        position: relative;
        vertical-align: middle;
        opacity: 0;
        margin-right: 5px;
    }

    .esriGEReportPlayer_chartContainer .esriGESelectableLegend:hover .selectableLegendRootCheckbox {
        opacity: 1;
    }



.esriGEReportPlayer_chartContainer.graphicReportChart .esriGESelectableLegend .selectableLegendRootColorRect {
    margin-right: 5px;
}

.esriGEReportPlayer_chartContainer.graphicReportChart .esriGESelectableLegend .selectableLegendRoot_unselected .selectableLegendRootColorRect {
    opacity: 0.3;
}





.esriGEReportPlayer_chartContainer.legendPlacementTop .chartContainer_legendContainer,
.esriGEReportPlayer_chartContainer.legendPlacementBottom .chartContainer_legendContainer {
    text-align: center;
}

.esriGEReportPlayer_chartContainer.legendPlacementTop .esriGESelectableLegend,
.esriGEReportPlayer_chartContainer.legendPlacementBottom .esriGESelectableLegend {
    text-align: left;
}
