


.esriGEReportPlayer_chartContainer .chartContainer_legendContainer {
    position: absolute;
}

.esriGEReportPlayer_chartContainer .esriGESelectableLegend {
    border: 1px solid #b2b2b2;
    display: inline-block;
    overflow: hidden;
    color: #4C4C4C;
    background-color: white;
}

    .esriGEReportPlayer_chartContainer .esriGESelectableLegend .selectableLegendRoot {
        height: 13px;
        padding: 2px 3px 2px 3px;
        text-decoration: inherit;
        white-space: nowrap;
    }

    .esriGEReportPlayer_chartContainer .esriGESelectableLegend .selectableLegendRootColorRect {
        width: 10px;
        height: 10px;
        margin-left: 2px;
        margin-right: 2px;
    }

        .esriGEReportPlayer_chartContainer .esriGESelectableLegend .selectableLegendRootColorRect.selectableLegendRootColorRectWithBorder {
            width: 8px;
            height: 8px;
        }

    .esriGEReportPlayer_chartContainer .esriGESelectableLegend .selectableLegendRootLabel {
        max-width: 200px;
        text-decoration: inherit;
    }

    .esriGEReportPlayer_chartContainer .esriGESelectableLegend .selectableLegendRoot_unselected .selectableLegendRootLabel {
        opacity: 0.3;
    }

    

    .esriGEReportPlayer_chartContainer .esriGESelectableLegend .selectableLegendRoot .selectableLegendRootCheckbox {
        position: relative;
        top: -1px;
        opacity: 0;
    }

    .esriGEReportPlayer_chartContainer .esriGESelectableLegend:hover .selectableLegendRootCheckbox {
        opacity: 1;
    }



.esriGEReportPlayer_chartContainer.graphicReportChart .esriGESelectableLegend .selectableLegendRootColorRect {
    border-radius: 50%;
}

.esriGEReportPlayer_chartContainer.graphicReportChart .esriGESelectableLegend .selectableLegendRoot_unselected .selectableLegendRootColorRect {
    opacity: 0.3;
}





.esriGEReportPlayer_chartContainer.legendPlacementLeft .esriGESelectableLegend {
    text-align: right;
}

    .esriGEReportPlayer_chartContainer.legendPlacementLeft .esriGESelectableLegend .selectableLegendRoot {
        width: auto !important;
    }



.esriGEReportPlayer_chartContainer.legendPlacementRight .chartContainer_legendContainer {
    text-align: right;
}

.esriGEReportPlayer_chartContainer.legendPlacementRight .esriGESelectableLegend {
    text-align: left;
}

    .esriGEReportPlayer_chartContainer.legendPlacementRight .esriGESelectableLegend .selectableLegendRoot {
        width: auto !important;
    }



.esriGEReportPlayer_chartContainer.legendPlacementTop .chartContainer_legendContainer {
    text-align: center;
}

.esriGEReportPlayer_chartContainer.legendPlacementTop .esriGESelectableLegend {
    text-align: left;
}

    .esriGEReportPlayer_chartContainer.legendPlacementTop .esriGESelectableLegend .selectableLegendRoot {
        display: inline-block;
        vertical-align: middle;
    }



.esriGEReportPlayer_chartContainer.legendPlacementBottom .chartContainer_legendContainer {
    text-align: center;
}

.esriGEReportPlayer_chartContainer.legendPlacementBottom .esriGESelectableLegend {
    text-align: left;
}

    .esriGEReportPlayer_chartContainer.legendPlacementBottom .esriGESelectableLegend .selectableLegendRoot {
        display: inline-block;
        vertical-align: middle;
    }

        .esriGEReportPlayer_chartContainer.legendPlacementBottom .esriGESelectableLegend .selectableLegendRoot .selectableLegendRootCheckbox {
            position: relative;
            top: -1px;
        }
