


.esriGEChartContainer_chartTooltip {
    text-align: left;
}

    .esriGEChartContainer_chartTooltip .chartTooltip_row {
        white-space: nowrap;
    }

    .esriGEChartContainer_chartTooltip .chartTooltip_current {
        font-weight: bold;
    }

    .esriGEChartContainer_chartTooltip .chartTooltip_title {
        font-weight: bold;
    }

    .esriGEChartContainer_chartTooltip .chartTooltip_label {
        margin-right: 20px;
    }

    .esriGEChartContainer_chartTooltip .esriGEReportPlayerChartLegendSymbol.isSVGSymbol {
        width: 10px;
    }

    .esriGEChartContainer_chartTooltip a {
        color: #0079C1;
    }

.esriGEChartContainer_chartTooltip_masterTooltip {
    width: auto !important;
    max-width: initial !important;
}
