.DataCollectionsPage_Header {
    height: 25px;
    margin-top: 25px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 600;
    color: #666666;
}

.DataCollectionsPage_Panel {
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
    border: 1px #bcbcbc solid;
}

.DataCollectionsPage_Panel > div:first-child {
    margin-top: 0;
}

.DataCollectionsPage_PanelTop {
    border-bottom: none;
    padding-top: 5px;
}

.DataCollectionsPage_PanelCenter {
    border-top: none;
    border-bottom: none;
    height: 100%;
    padding-right: 3px;
}

.DataCollectionsPage_PanelBottom {
    border-top: none;
    margin-bottom: 5px;
}

.DataCollectionsPage_Search {
    display: block;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
    max-width:350px;
}

.DataCollectionButton {
    position: relative;
    text-align: center;
    width: 190px;
    height: 30px;
    line-height: 32px;
    display: inline-block;
    background: #2892CD;
    color: #fff;
}

.DataCollectionsPage_DataCollectionContainer {
    min-height:100px;
}

.DataCollectionsPage_DataCollectionContainer .DataCollectionButton {
    margin: 0 0 10px 10px;
}

.DataCollectionsPage_PopularVariables {
    left: 30px;
    margin-right: 60px;
}

.DataCollectionsPage_PopularVariables.dgrid {
    height: auto;
    border: 0;
}

.DataCollectionsPage_PopularVariables.dgrid .dgrid-scroller {
    position: relative;
    overflow: visible;
    margin-top: 0;
}

.DataCollectionsPage_DataCollectionContainer .dgrid {
    border: 0;
    height: 100%;
}

.DataCollectionsPage_DataCollectionContainer .dgrid-scroller {
    margin-top: 0;
    overflow-y: auto;
}

.DataCollectionsPage_DataCollectionContainer .Pagination {
    margin-left:20px;
    margin-right:20px;
    height:100%;
    background-color: white;
    border-left: 1px #bcbcbc solid;
    border-right: 1px #bcbcbc solid;
}

.DataCollectionsPage_DataCollectionContainer .Pagination_Items{
    border:0;
    left: 40px;
    right: 40px;
}

.DataCollectionsPage_DataCollectionContainer .Pagination_TriangleForward {
    margin-right:18px;
    margin-left:2px;
}

.dj_rtl .DataCollectionsPage_DataCollectionContainer .Pagination_TriangleForward {
    margin-right:auto;
    margin-left:22px;
}

.DataCollectionsPage_DataCollectionContainer .Pagination_TriangleBack {
    margin-right:2px;
    margin-left:18px;
}

.dj_rtl .DataCollectionsPage_DataCollectionContainer .Pagination_TriangleBack {
    margin-right:22px;
    margin-left:auto;
}

.DataCollectionsPage_ShowAll {
    margin: 0 20px 5px 20px;
    color: #2892CD;
    cursor: pointer;
    padding-top: 20px;
}

.DataCollectionsPage_ShowAll:hover {
    text-decoration: underline;
}


.DataCollectionsPage_PopularVariables .TrimWithEllipses {
    margin-right:20px;
}
