.DataVariablesPage_VarCount {
    margin-left: 20px;
    margin-right: 20px;
    background: white;
    border-style: solid;
    border-color: #bcbcbc;
    border-width: 1px 1px 0 1px;
    padding: 5px 10px 5px 10px;
}

.DataVariablesPage .dgrid {
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 10px;
    height: auto;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #bcbcbc;
    background: white;
}

.DataVariablesPage .dgrid-cell {
    border: none;
    vertical-align: middle;
}

.DataVariablesPage_FilterContainer .dgrid-list,
.DataVariablesPage_FilterContainer .dgrid-content,
.DataVariablesPage_FilterContainer .dgrid-scroller {
    height:auto;
    margin-top:0;
}

.DataVariablesPage_FilterContainer .dgrid-selected {
    background-color: white;
}

.DataVariablesPage_FilterContainer .MinLabel {
    float:left;
    padding-bottom:4px;
    max-width:70px;
}

.DataVariablesPage_FilterContainer .MaxLabel {
    float:right;
    margin-right:4px;
    padding-bottom:4px;
    max-width:70px;
}

.DataVariablesPage_FilterContainer .VarLabel {
    width:225px;
    text-overflow: ellipsis;
}

.DataVariablesPage_FilterContainer .FilterName {
    padding-top:15px;
}

.DataVariablesPage_FilterContainer .dojoxRangeSlider {
    width:228px;
}

.DataVariablesPage_Tree {
    min-height:110px;
}

.DataVariablesPage_Tree .dgrid-tree-container
{
    -moz-transition: none;
    -o-transition: none;
    -webkit-transition: none;
    transition: none;
}

.DataVariablesPage_Tree .field-expander
{
    width: 15pt;
    padding-top: 5px;
}

.DataVariablesPage_Tree .field-column
{
    width: 93.75pt;
}

.DataVariablesPage_Tree th
{
    font-weight: normal;
}

.DataVariablesPage_Tree .dgrid-header-row
{
    background: #cccccc;
}

.DataVariablesPage_Tree .ui-icon
{
    background-image: url(./images/spriteArrows.png);
}

.DataVariablesPage_Tree .dgrid-expando-icon
{
    width: 11px;
    height: 11px;
    margin-bottom:3px;
    margin-left:3px;
}

.DataVariablesPage_Tree .ui-icon-triangle-1-e {
    background-position: -33px 0;
}

.dj_rtl .DataVariablesPage_Tree .ui-icon-triangle-1-e {
    background-position: -11px 0;
}

.DataVariablesPage_Tree .ui-icon-triangle-1-se {
    background-position: 0 0;
}

div.VariableRowRoot {
    overflow:hidden;
}

div.DataVariablesPage_LowerBorder {
    border-bottom:1px dotted gray;
    width:100%;

    display:inline-block;
    height:1.2em;
}

.DataVariablesPage_VarCheck {
    margin-left: 30px !important;
}
