@import url(AgePyramid.css);
@import url(Anim.css);
@import url(BaseSelectComparison.css);
@import url(BaseWidget.css);
@import url(BufferOptions.css);
@import url(DataBrowser.css);
@import url(Favorites.css);
@import url(Grid.css);
@import url(HeadlineLayout.css);
@import url(InfographicsCarousel.css);
@import url(InfographicsMainPage.css);
@import url(NotSupported.css);
@import url(OneVar.css);
@import url(Pagination.css);
@import url(RelatedVariables.css);
@import url(SearchTextBox.css);
@import url(ShoppingCart.css);
@import url(Tapestry.css);
@import url(TriStateItem.css);
@import url(VariableInfo.css);
@import url(VariableToggle.css);
@import url(Wizard.css);

@import url(../light/AgePyramid.css);
@import url(../light/BaseSelectComparison.css);
@import url(../light/BaseWidget.css);
@import url(../light/InfographicsCarousel.css);
@import url(../light/InfographicsMainPage.css);
@import url(../light/OneVar.css);
@import url(../light/RelatedVariables.css);
@import url(../light/Tapestry.css);
@import url('../../ReportPlayer/themes/common/main.css');

@import url("./Shared.css");
@import url("./Waiting.css");
@import url('./FlowList.css');
@import url('./ImageNavigator.css');
