@import url('../../ReportPlayer/themes/main.css');
@import url('../../ReportPlayer/themes/main-2.css');
@import url('./Buttons.css');
@import url("./Shared.css");
@import url("./Tooltips.css");
@import url("./Waiting.css");
@import url('./FlowList.css');
@import url('./OnDemandSelect.css');
@import url('./ImageNavigator.css');
@import url('./PageNavigator.css');
@import url('./NumericalSlider.css');
@import url('./DataBrowser.css');
@import url('./ShoppingCart.css');
