.esriGENumericalSlider {
}

    .esriGENumericalSlider .esriGENumericalSliderContainer {
        width: 125px;
        height: 30px;
        display: inline-block;
        position: relative;
        bottom: 2px;
        float: left;
    }

    .esriGENumericalSlider .esriGENumericalSliderMinValueTextBox,
    .esriGENumericalSlider .esriGENumericalSliderMaxValueTextBox {
        width: 65px;
        margin-top: 3px;
        margin-right: 4px;
        margin-left: 4px;
        float: left;
    }

        .esriGENumericalSlider .esriGENumericalSliderMinValueTextBox .dijitTextBox,
        .esriGENumericalSlider .esriGENumericalSliderMaxValueTextBox .dijitTextBox {
            width: 65px;
        }

.dj_rtl .esriGENumericalSlider.esriGENumericalSliderContainer,
.dj_rtl .esriGENumericalSlider .esriGENumericalSliderMinValueTextBox,
.dj_rtl .esriGENumericalSlider .esriGENumericalSliderMaxValueTextBox {
    float: right;
}

.esriGENumericalSlider .esriGENumericalSliderContainer .dojoxRangeSlider {
    position: relative;
}

.esriGENumericalSlider .esriGENumericalSliderContainer .dijitSliderButtonContainerH {
    padding: 0 2px 0 2px;
}

.esriGENumericalSlider .esriGENumericalSliderContainer .dijitSliderH,
.esriGENumericalSlider .esriGENumericalSliderContainer .dijitSliderBarH {
    height: 20px;
}

.esriGENumericalSlider .esriGENumericalSliderContainer .dijitSliderBumperH {
    height: 20px !important;
    width: 0px !important;
}

.esriGENumericalSlider .esriGENumericalSliderContainer .dijitSliderImageHandleH {
    
    background-image: url("./images/sliderThumb.svg");
    height: 20px;
    width: 20px;
    top: 1px;
    z-index: 1000;
    background-position: 3px 4px !important;
}

.esriGENumericalSlider .esriGENumericalSliderContainer .dijitSlider .dijitSliderProgressBarH {
    opacity: 0;
}

.esriGENumericalSlider .esriGENumericalSliderContainer .dijitSliderRemainingBarH {
    background-color: transparent !important;
    z-index: 10;
}

.esriGENumericalSlider .esriGENumericalSliderContainer .dojoxRangeSliderBarContainer {
    border-bottom: 1px #767766 solid;
}

.esriGENumericalSlider .esriGENumericalSliderContainer .dijitSliderFocused .dijitSliderProgressBarH,
.esriGENumericalSlider .esriGENumericalSliderContainer .dijitSliderFocused .dijitSliderLeftBumper,
.esriGENumericalSlider .esriGENumericalSliderContainer .dijitSliderFocused .dijitSliderRemainingBarH,
.esriGENumericalSlider .esriGENumericalSliderContainer .dijitSliderFocused .dijitSliderRightBumper,
.esriGENumericalSlider .esriGENumericalSliderContainer .dijitSliderFocused .dijitSliderProgressBar,
.esriGENumericalSlider .esriGENumericalSliderContainer .dijitSliderFocused .dijitSliderBottomBumper,
.esriGENumericalSlider .esriGENumericalSliderContainer .dijitSliderFocused .dijitSliderRemainingBarV,
.esriGENumericalSlider .esriGENumericalSliderContainer .dijitSliderFocused .dijitSliderTopBumper,
.esriGENumericalSlider .esriGENumericalSliderContainer .dijitSliderProgressBarH,
.esriGENumericalSlider .esriGENumericalSliderContainer .dijitSliderLeftBumper,
.esriGENumericalSlider .esriGENumericalSliderContainer .dijitSliderRemainingBarH,
.esriGENumericalSlider .esriGENumericalSliderContainer .dijitSliderRightBumper,
.esriGENumericalSlider .esriGENumericalSliderContainer .dijitSliderProgressBar,
.esriGENumericalSlider .esriGENumericalSliderContainer .dijitSliderBottomBumper,
.esriGENumericalSlider .esriGENumericalSliderContainer .dijitSliderRemainingBarV,
.esriGENumericalSlider .esriGENumericalSliderContainer .dijitSliderTopBumper {
    border: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.esriGENumericalSlider .esriGENumericalSliderContainer .dojoxRangeSlider .dijitSliderMoveableH {
    margin-left: -10px;
}

.esriGENumericalSlider .esriGENumericalSliderContainer .dojoxRangeSlider .dijitSliderImageHandleH {
    left: 0;
}

.dj_rtl .esriGENumericalSlider .esriGENumericalSliderContainer .dojoxRangeSlider .dijitSliderImageHandleH {
    right: 0px;
}

.esriGENumericalSlider_statisticsContainerBlock {
    position: absolute;
    background-color: #CCCCCC;
}
