
.ShoppingCart {
    z-index: 100;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

.dj_rtl .ShoppingCart {
    left:20px;
    right:auto;
}

.ShoppingCart .Label {
    height: 25px;
    position: absolute;
    right: 0;
    z-index: 101;
}

.dj_rtl .Label {
    left:0;
    right:auto;
}


.ShoppingCart_CounterTD {
    white-space: nowrap;
    padding-bottom:0.3em;
}

.ShoppingCart_CounterTD > div {
    display: inline-block;
    vertical-align: bottom;
}

.ShoppingCart_CounterDivRightBorder{
    border-right: 2px solid #d4d4d4;
    height:15px;
    
    transform: translateX(-2px) rotate(30deg);
    transform-origin: right bottom;

    -ms-transform: translateX(-2px) rotate(30deg); 
    -ms-transform-origin: right bottom;

    -webkit-transform: translateX(-2px) rotate(30deg); 
    -webkit-transform-origin: right bottom;
    
}

.dj_rtl .ShoppingCart_CounterDivRightBorder {
    transform: translateX(2px) rotate(-30deg);
    transform-origin: left bottom;

    -ms-transform: translateX(2px) rotate(-30deg); 
    -ms-transform-origin: left bottom;

    -webkit-transform: translateX(2px) rotate(-30deg); 
    -webkit-transform-origin: left bottom;
}


.ShoppingCart_CounterDivLeftBorder  {
    border-left: 2px solid #d4d4d4;
    height:15px;
    
    transform: translateX(2px) rotate(-30deg);
    transform-origin: left bottom;

    -ms-transform: translateX(2px) rotate(-30deg); 
    -ms-transform-origin: left bottom;

    -webkit-transform: translateX(2px) rotate(-30deg); 
    -webkit-transform-origin: left bottom;
}

.dj_rtl .ShoppingCart_CounterDivLeftBorder{
    transform: translateX(-2px) rotate(30deg);
    transform-origin: right bottom;

    -ms-transform: translateX(-2px) rotate(30deg); 
    -ms-transform-origin: right bottom;

    -webkit-transform: translateX(-2px) rotate(30deg); 
    -webkit-transform-origin: right bottom;
}


.ShoppingCart_CounterDiv {
    border-bottom: 2px solid #d4d4d4;
    padding-left:4px;
    padding-right:4px;
}

.ShoppingCart div.ShoppingCart_OuterDiv {
    height:235px; 
    width:302px; 
    position:absolute;
    right:-2px;
    top:-3px;
}

.dj_rtl .ShoppingCart div.ShoppingCart_OuterDiv {
    left:-2px;
    right:auto;
}


.ShoppingCart div.ShoppingCart_DivList {
    background-color:white;
    height:200px; 
    width:300px; 
    right:0;
    top:32px;
    -webkit-box-shadow: 2px 2px 6px #9e9e9e;
    box-shadow: 2px 2px 6px #9e9e9e;
}

.ShoppingCart div.ShoppingCart_DivEmpty {
    height:100%;
    width:100%;
    color:#666666;
    font-size:1.1em;
    text-align:center;
    position:absolute;
    top:0;
    display:table;
    padding-top:32px;
}

.ShoppingCart div.ShoppingCart_DivEmpty div {
    display:table-cell;
    width:100%;
    height:100%;
    vertical-align:middle;
    padding:30px;
}

.ShoppingCart .dgrid-scroller {
    margin-top: 0;
    overflow-y: auto;
}

.ShoppingCart .ShoppingCart_LabelTd {
    padding-left: 9px;
    font-size:0.9em;
}

.dj_rtl .ShoppingCart .ShoppingCart_LabelTd {
    padding-right: 9px;
    padding-left:0;
}


.ShoppingCart .ShoppingCart_LabelTd div {
   display:inline-block;
   height:100%;
   line-height:12px; 
}

.ShoppingCart div.ShoppingCartRowOuter
{
    position:relative;
    padding:5px;
}

.ShoppingCart div.ShoppingCartRow
{
    position:relative;
    color:white;
	border: 1px solid white;
    background-color:#f99e19;
    line-height: 30px;
    padding-left: 5px;
}

.ShoppingCart div.ShoppingCartRowLabel {
    padding-right:20px;
}

.dj_rtl .ShoppingCart div.ShoppingCartRowLabel {
    padding-right:initial;
    padding-left:20px;
}


.ShoppingCart .ShoppingCartOpener {
    color: #b1b1b1;
    line-height: 22px;
    font-size:0.8em;
}

.ShoppingCart .ShoppingCartRowCloser
{
    background-image:  url('./images/CloseIconforSelectedVariables.png');
    background-position: center;
    background-repeat: no-repeat;
    width:15px;
    height:15px;
    position:absolute;
    top:8px;
    right:5px;
    display:inline-block;
}

.dj_rtl .ShoppingCart .ShoppingCartRowCloser {
    right:auto;
    left:5px;
}
