.VariableInfo_Header {
    font-weight:bold;
}

.VariableInfo_Header, .VariableInfo_Value {
    color:#666666;
    max-width: 250px;
}

.dj_rtl .VariableInfo_Header, .dj_rtl .VariableInfo_Value {
    text-align:right;
}
    
.VariableInfo_Spacer {
    height:0.5em;
}