
.esriGEProgress {
    background-color: rgba(255, 255, 255, 0.7);
    background-image: url("./images/hugeBusy.gif");
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: 50%;
    width: inherit;
    height: inherit;
}

.esriGEProgressAbsolute {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin-top: 0px !important;
    width: auto !important;
    height: auto !important;
}
