.btn-2018check__input {
  opacity: 0;
  position: absolute;
  cursor: pointer; }
  .btn-2018check__input:focus {
    box-shadow: none;
    border: none;
    outline: 1px dotted;
    outline: auto -webkit-focus-ring-color; }

.btn-2018check__input:focus + .btn-2018check__custom {
  border-color: #0079c1;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075), 0 0 5px rgba(81, 167, 232, 0.5);
  outline: none; }

.btn-2018check__custom {
  width: 16px;
  height: 16px;
  overflow: hidden;
  display: inline-block;
  background-color: #f8f8f8;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  vertical-align: -0.25em;
  margin-right: .25em;
  cursor: pointer;
  -webkit-transition: all 150ms linear;
  -o-transition: all 150ms linear;
  transition: all 150ms linear; }
  html[dir="rtl"] .btn-2018check__custom {
    margin-right: auto;
    margin-left: 0.25rem; }
  .btn-2018check__custom > svg {
    display: block;
    fill: #595959; }

.btn-2018check__custom--active {
  background-color: #0079c1;
  border-color: #0079c1; }
  .btn-2018check__custom--active > svg {
    fill: #ffffff; }
