.btn-toggle-switch__toggle {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent; }
  .btn-toggle-switch__toggle:after {
    content: '';
    display: table;
    clear: both; }

.btn-toggle-switch__label {
  float: left;
  display: inline-block;
  font-size: 0.875rem;
  line-height: 1.55rem;
  width: calc(100% - 3rem); }
  html[dir="rtl"] .btn-toggle-switch__label {
    float: right; }

.btn-toggle-switch__input {
  opacity: 0;
  position: absolute; }

.btn-toggle-switch__switch {
  float: right;
  position: relative;
  display: inline-block;
  width: 2rem;
  height: 1.25rem;
  background: white;
  box-shadow: inset 0 0 0 0.0625rem #ccc;
  border-radius: 0.65rem;
  vertical-align: -0.3rem;
  transition: all 0.4s cubic-bezier(0.17, 0.67, 0.43, 0.98); }
  html[dir="rtl"] .btn-toggle-switch__switch {
    float: left; }
  .btn-toggle-switch__switch:after {
    position: absolute;
    display: block;
    content: '';
    width: 1.175rem;
    height: 1.175rem;
    border-radius: 0.75rem;
    top: 0.025rem;
    left: 0.025rem;
    background: white;
    box-shadow: inset 0 0 0 1px #ccc, 0 0 0.05rem rgba(0, 0, 0, 0.05), 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
    transition: all 0.25s ease-out; }

.btn-toggle-switch__toggle:active .btn-toggle-switch__input + .btn-toggle-switch__switch,
.btn-toggle-switch__input + .btn-toggle-switch__switch:active {
  box-shadow: inset 0 0 0 0.73rem #ccc; }

.btn-toggle-switch__toggle:active .btn-toggle-switch__input + .btn-toggle-switch__switch:after,
.btn-toggle-switch__input + .btn-toggle-switch__switch:active:after {
  width: 1.15rem; }

.btn-toggle-switch__input:checked + .btn-toggle-switch__switch {
  box-shadow: inset 0 0 0 0.73rem #0079c2; }

.btn-toggle-switch__input:checked + .btn-toggle-switch__switch:after {
  left: 0.775rem; }

.btn-toggle-switch__toggle:active .btn-toggle-switch__input:checked + .btn-toggle-switch__switch:after,
.btn-toggle-switch__input:checked + .btn-toggle-switch__switch:active:after {
  left: 0.4375rem; }

.esriRtl .btn-toggle-switch__switch:after {
  left: auto;
  right: 0.025rem; }

.esriRtl .btn-toggle-switch__input:checked + .btn-toggle-switch__switch:after {
  left: auto;
  right: 0.775rem; }

.esriRtl .btn-toggle-switch__toggle:active .btn-toggle-switch__input:checked + .btn-toggle-switch__switch:after,
.esriRtl .btn-toggle-switch__input:checked + .btn-toggle-switch__switch:active:after {
  left: auto;
  right: 0.775rem; }

/* focus styles for accessibility */
.btn-toggle-switch__input:focus + .btn-toggle-switch__switch {
  box-shadow: inset 0 0 0 0.0625rem #ddd, 0 0 1px 2px #bbb; }

.btn-toggle-switch__input:checked:focus + .btn-toggle-switch__switch {
  box-shadow: inset 0 0 0 0.73rem #0079c2, 0 0 1px 2px #bbb; }
