@mixin areaMeasurement3D() {
  .esri-area-measurement-3d__container {
    position: relative;
    padding: $cap-spacing 0;
    overflow-y: auto;
    a {
      text-decoration: none;
    }
  }

  .esri-area-measurement-3d__measurement {
    padding: $cap-spacing $side-spacing;
    margin: $cap-spacing 0;
    background-color: $background-color--offset;
    animation: esri-fade-in 250ms ease-in-out;
  }

  .esri-area-measurement-3d__header {
    position: relative;
    font-size: $font-size__body;
    align-items: flex-start;
    justify-content: space-between;
    display: flex;
    flex: 0 0 auto;
  }

  .esri-area-measurement-3d__header-title,
  h1.esri-area-measurement-3d__header-title {
    font-size: $font-size__header-text;
    font-weight: $font-weight__bold;
    padding: 8px 0;
    margin: 0;
    display: block;
    flex: 1;
    word-break: break-word;
    text-align: left;
  }

  @include measurementWidgetStyles("esri-area-measurement-3d");
}

@if $include_AreaMeasurement3D == true {
  @include areaMeasurement3D();
}
