@mixin areaMeasurement3D() {
  .esri-area-measurement-3d__container {
    position: relative;
    padding: $cap_spacing $side_spacing;
    overflow-y: auto;
    a {
      text-decoration: none;
    }
  }

  .esri-area-measurement-3d__header {
    position: relative;
    font-size: $body_text_size;
    align-items: flex-start;
    justify-content: space-between;
    display: flex;
    flex: 0 0 auto;
  }

  .esri-area-measurement-3d__header-title,
  h1.esri-area-measurement-3d__header-title {
    font-size: $title_text_size;
    font-weight: $text_weight_title;
    padding: 8px 0;
    margin: 0;
    display: block;
    flex: 1;
    word-break: break-word;
    text-align: left;
  }

  .esri-area-measurement-3d__hint {
    padding-bottom: 12px;
  }

  .esri-area-measurement-3d__panel--error {
    color: $error_text_color;
  }

  .esri-area-measurement-3d__measurement {
  }

  .esri-area-measurement-3d__measurement-item {
    display: flex;
    align-items: baseline;
  }

  .esri-area-measurement-3d__measurement-item--disabled {
    display: flex;
    color: rgba($text_color, $disabled_opacity);
  }

  .esri-area-measurement-3d__measurement-item-title {
    flex: 1;
    line-height: 24px;
  }

  .esri-area-measurement-3d__measurement-item-value {
    flex: 1;
    line-height: 24px;
  }

  .esri-area-measurement-3d__units {
    display: flex;
    padding-bottom: 12px;
    align-items: baseline;
  }

  .esri-area-measurement-3d__units-label {
    flex: 1;
    line-height: 24px;
  }

  .esri-area-measurement-3d__units-select-wrapper {
    flex: 1;
  }

  .esri-area-measurement-3d__units-select {
    width: 100%;
    padding-right: 2.7em;
  }
}

@if $include_AreaMeasurement3D == true {
  @include areaMeasurement3D();
}
