@mixin bookmarks() {
  $bookmarks-height--loading: 150px !default;
  .esri-bookmarks {
    background-color: $background-color;
  }

  .esri-bookmarks.esri-disabled {
    color: $interactive-font-color--disabled;
  }

  .esri-bookmarks__loader-container {
    height: $bookmarks-height--loading;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .esri-bookmarks__loader {
    height: 64px;
    width: 100%;
    background: url(../base/images/loading-throb.gif) no-repeat center center;
  }

  .esri-bookmarks__list {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .esri-bookmarks__bookmark {
    border-bottom: 1px solid $border-color;
    position: relative;
    animation: esri-fade-in 250ms ease-in-out;
  }

  .esri-bookmarks__bookmark-button {
    border: none;
    border-color: transparent;
    background-color: transparent;
    padding: $cap-spacing--half $side-spacing;
    color: $interactive-font-color;
    cursor: pointer;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
    overflow: hidden;
    width: 100%;
    text-align: left;

    &:hover {
      background-color: $background-color--hover;
      color: $interactive-font-color--hover;
    }
  }

  @include loopingProgressBar(".esri-bookmarks__bookmark--active");

  .esri-bookmarks__bookmark--active {
    color: $font-color;
    background-color: $background-color--active;
    cursor: default;
    &:hover,
    &:focus {
      color: $font-color;
      background-color: $background-color--active;
      cursor: default;
    }
  }

  .esri-bookmarks__bookmark-name {
    font-size: $font-size--small;
    flex: 1;
    overflow: hidden;
    padding: $cap-spacing 0;
    overflow-wrap: break-word; /* Firefox */
    word-break: break-word;
  }

  .esri-bookmarks__bookmark-image-container {
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin-right: $side-spacing--half;
    max-width: $button-width--double;
  }

  .esri-bookmarks__image {
    max-width: $button-width--double;
  }

  .esri-bookmarks_edit-bookmark-button {
    color: $interactive-font-color;
  }

  .esri-bookmarks__add-bookmark {
    background-color: $background-color--offset;
    padding: $cap-spacing--half $side-spacing--half;
  }

  .esri-bookmarks__add-bookmark-button {
    border-radius: $border-radius;
    font-size: $font-size--small;
    justify-content: flex-start;
    padding: $cap-spacing $side-spacing--quarter;
    transition: background-color 250ms ease-in-out;
    &:hover {
      background-color: $background-color;
      text-decoration: none;
      @include defaultBoxShadow();
    }
  }

  .esri-bookmarks__add-bookmark-icon {
    font-size: $font-size;
    padding-left: $side-spacing--quarter;
    padding-right: $side-spacing--quarter;
  }

  .esri-bookmarks__authoring-card {
    background-color: $background-color--offset;
    padding: $cap-spacing--half $side-spacing--half;
    animation: esri-fade-in-down 250ms ease-in-out;
  }

  .esri-bookmarks__authoring-form {
    display: flex;
    flex-flow: column;
    padding: $cap-spacing $side-spacing;
    background-color: $background-color;
    @include defaultBoxShadow();
    border-radius: $border-radius;
  }

  .esri-bookmarks__authoring-label {
    display: flex;
    flex-flow: column;
  }

  .esri-bookmarks__authoring-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: $cap-spacing--half;
    .esri-button {
      font-size: $font-size--small;
      min-height: $button-height--half;
      width: 33%;
    }
    .esri-bookmarks__authoring-delete-button {
      color: $font-color--error;
      margin-right: auto;
      padding-left: 0;
      padding-right: 0;
      width: auto;
    }
  }

  .esri-widget__no-bookmark-icon {
    font-size: $button-height;
    line-height: $button-height--double;
    width: $button-height--double;
    height: $button-height--double;
    display: inline-block;
    text-align: center;
  }

  .esri-bookmarks--fade-in {
    opacity: 0;
    transition: opacity 375ms ease-out;
  }

  .esri-bookmarks--fade-in-active {
    opacity: 1;
  }

  html[dir="rtl"] .esri-bookmarks {
    .esri-bookmarks__bookmark {
      &--active:after {
        animation: looping-progresss-bar-ani $looping-progress-bar-params reverse;
      }
    }
    .esri-bookmarks__bookmark-container {
      margin-right: 0;
      margin-left: $side-spacing--half;
    }
    .esri-bookmarks__authoring-actions .esri-bookmarks__authoring-delete-button {
      margin-right: 0;
      margin-left: auto;
    }
  }
}

@if $include_Bookmarks==true {
  @include bookmarks();
}
