@mixin date-picker() {
  $section_margin: $cap-spacing--half;
  $cell_border: 1px solid $border-color;

  .esri-date-picker {
    display: inline-flex;
    position: relative;
    align-items: center;
    border: 1px solid $border-color;
    background-color: $background-color;
  }

  .esri-date-picker__calendar {
    @include defaultBoxShadow();

    position: absolute;
    background-color: $background-color;
    top: $cap-spacing * 3;
    left: 0;
    padding: $section_margin;
    z-index: 1;
  }

  .esri-date-picker__day-picker,
  .esri-date-picker__month-picker,
  .esri-date-picker__year-picker {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .esri-date-picker__day-picker,
  .esri-date-picker__month-picker {
    margin-bottom: $section_margin;
  }

  .esri-date-picker__date {
    margin: 0 $cap-spacing 0 0;
  }

  .esri-date-picker__calendar-toggle {
    border: none;
    font-size: $font-size;
    width: 100%;
    margin: 0;
    padding: 0 0.5em;
    height: $button-height;
    color: $font-color;
  }

  .esri-date-picker .esri-date-picker__month-dropdown {
    border: none;
    width: auto;
    font-weight: $font-weight__heading;
    padding-right: 2.3em;
  }

  .esri-date-picker__week-item {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .esri-date-picker__day-item--header {
    background: $background-color--offset;
    font-weight: $font-weight__heading;
    cursor: auto;
  }

  .esri-date-picker__day-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-bottom: $cell_border;
    border-right: $cell_border;
    cursor: pointer;
  }

  .esri-date-picker__day-item--header {
    border-top: $cell_border;
  }

  .esri-date-picker__day-item:first-child {
    border-left: $cell_border;
  }

  .esri-date-picker__day-item--nearby-month {
    color: $interactive-font-color--disabled;
  }

  .esri-date-picker__day-item--today {
    color: $border-color--active;
  }

  .esri-date-picker__day-item--active {
    background: $border-color;
  }

  .esri-date-picker__month-picker {
    font-weight: $font-weight__heading;
    justify-content: space-between;
  }

  .esri-date-picker__year-picker-item {
    color: $font-color;
    padding: $section_margin;
    margin: 0 4px;
    cursor: pointer;
  }

  .esri-date-picker__day-item--selected,
  .esri-date-picker__year-picker-item--selected {
    color: $interactive-font-color--inverse;
    background-color: $border-color--active;
    cursor: auto;
  }

  html[dir="rtl"] {
    .esri-date-picker__calendar {
      left: 0;
      right: $side-spacing;
    }

    .esri-date-picker__date {
      margin: 0 0 0 $cap-spacing;
    }
  }
}

@if $include_DatePicker == true {
  @include date-picker();
}
