@mixin horizontalSlider() {
  .esri-horizontal-slider.dijitSlider.dijitDisabled {
    opacity: 0.5;
  }

  .esri-horizontal-slider.dijitSlider .dijitSliderBumper {
    background: #999 none;
    box-shadow: none;
  }

  .esri-horizontal-slider.dijitSlider .dijitSliderBar {
    border-color: #999;
  }

  .esri-horizontal-slider.dijitSlider .dijitSliderProgressBar {
    background: #ddd none;
  }
  .esri-horizontal-slider.dijitSlider .dijitSliderRemainingBarH {
    box-shadow: none;
  }

  .esri-horizontal-slider.dijitSlider .dijitSliderImageHandle,
  .esri-horizontal-slider.dijitSlider .dijitSliderImageHandle.dijitSliderThumbHover {
    background: url("../base/images/slider-handle.png");
    border: none;
    width: 10px;
    height: 14px;
  }

  .dijitRtl .esri-horizontal-slider.dijitSlider .dijitSliderImageHandle {
    left: auto;
    right: 50%;
  }

  .dijitRtl .esri-horizontal-slider .dijitSliderMoveableH {
    right: auto;
    left: 0;
  }

  .esri-horizontal-slider .dijitRuleContainer {
    padding: 6px 0 20px;
    color: #4d4d4d;
  }

  .esri-horizontal-slider .dijitRuleLabel {
    z-index: 2;
    font-size: 12px;
  }

  /* ==========================================================================
   RTL
   ========================================================================== */
  html[dir="rtl"] {
    .dijitSlider .dijitSliderLeftBumper {
      border-radius: 0px 2px 2px 0;
      border-width: 1px 1px 1px 0;
      margin-left: -1px;
    }
    .dijitSlider .dijitSliderRightBumper {
      border-radius: 2px 0 0 2px;
      border-width: 1px 0 1px 1px;
      margin-left: -2px;
      margin-right: 0;
    }
  }
}

@if $include_HorizontalSlider == true {
  @include horizontalSlider();
}
