@mixin message() {
  .esri-message {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    position: absolute;
    left: -999em;
    top: -999em;
    z-index: 3;
    -webkit-tap-highlight-color: transparent;
    width: 64px;
    height: 64px;
    margin:-32px 0 0 -32px;
    pointer-events: none;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 100%;
    border-radius: 100%;
    display: none;
  }

  .esri-message__text {
    color: #fff;
    line-height: 1.1em;
    font-weight: 300;
    font-size: 12px;
    display: table-cell;
    vertical-align: middle;
    padding: 5px;
  }

  .esri-message--visible {
    display: table;
  }

  .esri-message--fade-in {
    -webkit-animation: esri-message--add .250s ease-out forwards, esri-message--remove .250s ease-out 2s forwards;
    animation: esri-message--add .250s ease-out forwards, esri-message--remove .250s ease-out 2s forwards;
  }

  @-webkit-keyframes esri-message--add {
    0% {
      opacity: 0;
      @include transform(scale3d(0, 0, 0));
    }
    100% {
      opacity: 1;
      @include transform(scale3d(1, 1, 1));
    }
  }

  @keyframes esri-message--add {
    0% {
      opacity: 0;
      @include transform(scale3d(0, 0, 0));
    }
    100% {
      opacity: 1;
      @include transform(scale3d(1, 1, 1));
    }
  }

  @-webkit-keyframes esri-message--remove {
    0% {
      opacity: 1;
      @include transform(scale3d(1, 1, 1));
    }
    100% {
      opacity: 0;
      @include transform(scale3d(0, 0, 0));
    }
  }

  @keyframes esri-message--remove {
    0% {
      opacity: 1;
      @include transform(scale3d(1, 1, 1));
    }
    100% {
      opacity: 0;
      @include transform(scale3d(0, 0, 0));
    }
  }
}

@if $include_Message == true {
  @include message();
}