@mixin rasterSymbologyEditor() {

  $thumbnail-height: 32px;
  $thumbnail-width: 32px;

  .esri-raster-symbology {
    display: flex;
    flex-flow: column nowrap;
    @import "../../../dgrid/css/dgrid.css";
  }
  .esri-raster-symbology-editor--hidden {
    display: none;
  }
  .esri-raster-symbology-editor--block {
    display: block;
  }
  .esri-raster-symbology-editor__percent-clip-row{
    display: table-row;
  }
  .esri-raster-symbology-editor__std-deviation-row{
    display: table-row;
  }
  .esri-raster-symbology-editor__stretch-dra-row{
    display: table-row;
  }
  .esri-raster-symbology-editor__stretch-color-ramp-row{
    display: table-row;
  }
  .esri-raster-symbology-editor__table{
    width: 100%;
  }
  .esri-raster-symbology-editor__filtering-select{
    width: 100%!important;
  }
  .field-esriRasterSymbologyEditorUniqueValueSymbol{
    width: 20%;
  }
  .field-esriRasterSymbologyEditorUniqueValueValue{
    width: 80%;
  }
  .esri-raster-symbology-editor__thumbnail-image{
    width: $thumbnail-width;
    height: $thumbnail-height;
  }
  .esri-raster-symbology-editor__stretch-type-icon--min-max{
    background-image: url(../base/images/raster-symbology-editor-stretch-type-min-max.png);
  }
  .esri-raster-symbology-editor__stretch-type-icon--none{
    background-image: url(../base/images/raster-symbology-editor-stretch-type-none.png);
  }
  .esri-raster-symbology-editor__stretch-type-icon--standard-deviation{
    background-image: url(../base/images/raster-symbology-editor-stretch-type-standard-deviation.png);
  }
  .esri-raster-symbology-editor__stretch-type-icon--percent-clip{
    background-image: url(../base/images/raster-symbology-editor-stretch-type-percent-clip.png);
  }
  .esri-raster-symbology-editor__band-combination-icon--natural-color{
    background-image: url(../base/images/raster-symbology-editor-band-combination-natural-color.png);
  }
  .esri-raster-symbology-editor__band-combination-icon--land-water{
    background-image: url(../base/images/raster-symbology-editor-band-combination-land-water.png);
  }
  .esri-raster-symbology-editor__band-combination-icon--landuse{
    background-image: url(../base/images/raster-symbology-editor-band-combination-landuse.png);
  }
  .esri-raster-symbology-editor__band-combination-icon--bathymetric{
    background-image: url(../base/images/raster-symbology-editor-band-combination-bathymetric.png);
  }
  .esri-raster-symbology-editor__band-combination-icon--vegetation{
    background-image: url(../base/images/raster-symbology-editor-band-combination-vegetation.png);
  }
  .esri-raster-symbology-editor__band-combination-icon--color-infrared{
    background-image: url(../base/images/raster-symbology-editor-band-combination-color-infrared.png);
  }
  .esri-raster-symbology-editor__symbology-type-icon--rgb{
    background-image: url(../base/images/raster-symbology-editor-symbology-type-rgb.png);
    @extend .esri-raster-symbology-editor__thumbnail-image;
  }
  .esri-raster-symbology-editor__symbology-type-icon--stretch{
    background-image: url(../base/images/raster-symbology-editor-symbology-type-stretch.png);
    @extend .esri-raster-symbology-editor__thumbnail-image;
  }
  .esri-raster-symbology-editor__symbology-type-icon--unique-value{
    background-image: url(../base/images/raster-symbology-editor-symbology-type-unique-value.png);
    @extend .esri-raster-symbology-editor__thumbnail-image;
  }
  .esri-raster-symbology-editor__symbology-type-icon--discrete{
    background-image: url(../base/images/raster-symbology-editor-symbology-type-discrete.png);
    @extend .esri-raster-symbology-editor__thumbnail-image;
  }
  .esri-raster-symbology-editor__menu-item-td {
    border: none!important; 
    background: none!important;
  }
  .esri-raster-symbology-editor__dgrid-symbol-cell{
    width: 15px; 
    height: 15px; 
    border: 1px solid #000; 
    margin-left: auto; 
    margin-right: auto; 
  }
  .esri-raster-symbology-editor__menu-item-text{
    white-space: pre-wrap;
    width: 40ex;
  }
  .esri-raster-symbology-editor__checkbox{
    display: inline-block;
  }
}


@if $include_RasterSymbologyEditor == true {
  @include rasterSymbologyEditor();
}