@mixin ripple() {
  .esri-ripple {
    background-color: transparent;
    margin: 0;
    padding: 0;
    overflow: visible;
    -webkit-transition: color 0.7s;
    transition: color 0.7s;
    -webkit-tap-highlight-color: transparent;
    width: 70px;
    height: 70px;
    margin: -35px 0 0 -35px;
    position: absolute;
    left: -999em;
    top: -999em;
    z-index: 1;
    pointer-events: none;
    display: none;
  }

  .esri-ripple::after {
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    content: '';
    opacity: 0;
    pointer-events: none;
    margin: -2px 0 0 -2px;
    border: 2px solid rgba(0, 0, 0, 0.5);
  }

  .esri-ripple--visible {
    display: block;
  }

  .esri-ripple--start::after {
    -webkit-animation: esri-ripple--animation 0.3s ease-out forwards;
    animation: esri-ripple--animation 0.3s ease-out forwards;
  }

  @-webkit-keyframes esri-ripple--animation {
    0% {
      opacity: 1;
      @include transform(scale3d(0.5, 0.5, 1));
    }
    100% {
      opacity: 0;
      @include transform(scale3d(1.5, 1.5, 1));
    }
  }

  @keyframes esri-ripple--animation {
    0% {
      opacity: 1;
      @include transform(scale3d(0.5, 0.5, 1));
    }
    100% {
      opacity: 0;
      @include transform(scale3d(1.5, 1.5, 1));
    }
  }
}

@if $include_Ripple == true {
  @include ripple();
}