$spinner_size: 24px;

@mixin spinner() {
  .esri-spinner {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0;
    overflow: visible;
    width: $spinner_size;
    height: $spinner_size;
    position: absolute;
    left: -999em;
    top: -999em;
    z-index: 2;
    pointer-events: none;
    display: none;
    opacity: 0;
    display: none;
    @include transformOrigin(0, 0);
  }

  .esri-spinner::before {
    position: absolute;
    margin: -50% 0 0 -50%;
    width: 100%;
    height: 100%;
    background: url("../base/images/Loading_Indicator_double_32.svg") no-repeat center;
    display: block;
    content: '';
    -webkit-animation: esri-spinner--rotate-animation 750ms linear infinite;
    -moz-animation: esri-spinner--rotate-animation 750ms linear infinite;
    -ms-animation: esri-spinner--rotate-animation 750ms linear infinite;
    -o-animation: esri-spinner--rotate-animation 750ms linear infinite;
    animation: esri-spinner--rotate-animation 750ms linear infinite;
  }

  .esri-spinner--visible {
    display: block;
  }

  .esri-spinner--start {
    -webkit-animation: esri-spinner--start-animation 250ms cubic-bezier(.17, .67, .36, .99) forwards;
    -moz-animation: esri-spinner--start-animation 250ms cubic-bezier(.17, .67, .36, .99) forwards;
    -ms-animation: esri-spinner--start-animation 250ms cubic-bezier(.17, .67, .36, .99) forwards;
    -o-animation: esri-spinner--start-animation 250ms cubic-bezier(.17, .67, .36, .99) forwards;
    animation: esri-spinner--start-animation 250ms cubic-bezier(.17, .67, .36, .99) forwards;
  }

  .esri-spinner--finish {
    opacity: 1;
    -webkit-animation: esri-spinner--finish-animation 125ms ease-in forwards;
    -moz-animation: esri-spinner--finish-animation 125ms ease-in forwards;
    -ms-animation: esri-spinner--finish-animation 125ms ease-in forwards;
    -o-animation: esri-spinner--finish-animation 125ms ease-in forwards;
    animation: esri-spinner--finish-animation 125ms ease-in forwards;
    -webkit-animation-delay: 75ms;
    -moz-animation-delay: 75ms;
    -ms-animation-delay: 75ms;
    -o-animation-delay: 75ms;
    animation-delay: 75ms;
  }
}

@include keyframes(esri-spinner--start-animation) {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

@include keyframes(esri-spinner--finish-animation) {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
}

@include keyframes(esri-spinner--rotate-animation) {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@if $include_Spinner == true {
  @include spinner();
}