@import '../../css/CommonVariables';
@import '../../css/CommonMixins';

$compass_size: 20px !default;

.esri-compass {
  border-radius: 50%;
}

.esri-compass__icon {
  font-size: $compass_size;
  line-height: $compass_size;
  text-align: center;
  width: $compass_size;
  height: $compass_size;
}
