@import "../../scss/variables_dark";

//*
//{
//name: "Calcite Core Colors Dark",
//tags: "Calcite Core,Calcite,Dark"
//}
//*/

//* -- Calcite Core Blue -- */

.Calcite_Blue_100 {
  background-color: $Calcite_Blue_100;

  /*
   {
  Hex:"#194765",
  RGB:"r25 g71 b101",
    guid:"13f7f404-7f22-4be3-b1a8-63e7d570d109",
    accessibility_white_text:"AAaa",
    accessibility_black_text:""
  }
  */

}

.Calcite_Blue_150 {
  background-color: $Calcite_Blue_150;

  /*
   {
  Hex:"#1C5C8B",
  RGB:"r28 g92 b139",
    guid:"ba344091-1d38-4d04-9441-8c3d412e7a26",
    accessibility_white_text:"AAaa",
    accessibility_black_text:""
  }
  */

}


.Calcite_Blue_200 {
  background-color: $Calcite_Blue_200;

  /*
   {
  Hex:"#3A8EC2",
  RGB:"r58 g142 b194",
    guid:"f32f5d5f-6f08-4abb-ad7a-eea60a700409",
    accessibility_white_text:"AA",
    accessibility_black_text:"AAaa"
  }
  */

}


.Calcite_Blue_250 {
  background-color: $Calcite_Blue_250;

  /*
   {
  Hex:"#409DD8",
  RGB:"r64 g157 b216",
    guid:"0a37e721-ad68-4004-bf27-e6bbb9832c6c",
    accessibility_white_text:"",
    accessibility_black_text:"AAaa"
  }
  */

}


.Calcite_Blue_a100 {
  background-color: $Calcite_Blue_a100;

  /*
   {
  Hex:"#CCCCCC",
  RGB:"r204 g204 b204",
    guid:"d0f45c43-173a-4107-8b6d-e159dfa33449",
    accessibility_white_text:"",
    accessibility_black_text:""
  }
  */

}


.Calcite_Blue_a150 {
  background-color: $Calcite_Blue_a150;

  /*
   {
  Hex:"#CCCCCC",
  RGB:"r204 g204 b204",
    guid:"8e6f8d0e-919e-4fcc-a262-1a773d993a45",
    accessibility_white_text:"",
    accessibility_black_text:""
  }
  */

}


.Calcite_Blue_a200 {
  background-color: $Calcite_Blue_a200;

  /*
   {
  Hex:"#CCCCCC",
  RGB:"r204 g204 b204",
    guid:"6ac6da98-5268-4a4d-88cd-c041582cf039",
    accessibility_white_text:"",
    accessibility_black_text:""
  }
  */

}

.Calcite_Blue_a250 {
  background-color: $Calcite_Blue_a250;

  /*
   {
  Hex:"#CCCCCC",
  RGB:"r204 g204 b204",
    guid:"f08d8462-ddfc-483e-9a2f-77b060a98658",
    accessibility_white_text:"",
    accessibility_black_text:""
  }
  */

}





//* -- Calcite Core Yellow -- *//


.Calcite_Yellow_100 {
  background-color: $Calcite_Yellow_100;

  /*
   {
  Hex:"#786815",
  RGB:"r120 g104 b21",
    guid:"96b1f515-4816-4845-9f20-4cec1bb6b15b",
    accessibility_white_text:"AAaa",
    accessibility_black_text:"AA"
  }
  */

}

.Calcite_Yellow_150 {
  background-color: $Calcite_Yellow_150;

  /*
   {
  Hex:"#A18900",
  RGB:"r161 g137 b0",
    guid:"eb1cb7b1-e500-42ec-aaa1-4c164dd9d766",
    accessibility_white_text:"AA",
    accessibility_black_text:"AAaa"
  }
  */

}


.Calcite_Yellow_200 {
  background-color: $Calcite_Yellow_200;

  /*
   {
  Hex:"#BCA626",
  RGB:"r188 g166 b38",
    guid:"1a3663ed-23c0-47f9-aee0-71cf058e5300",
    accessibility_white_text:"",
    accessibility_black_text:"AAaa"
  }
  */

}


.Calcite_Yellow_250 {
  background-color: $Calcite_Yellow_250;

  /*
   {
  Hex:"#CBB635",
  RGB:"r203 g182 b53",
    guid:"7c241ac9-b0d7-4a35-8de6-33ea53c8e470",
    accessibility_white_text:"",
    accessibility_black_text:"AAaa"
  }
  */

}



.Calcite_Yellow_a100 {
  background-color: $Calcite_Yellow_a100;

  /*
   {
  Hex:"#CCCCCC",
  RGB:"r204 g204 b204",
    guid:"0bbe3546-fc84-42d1-a741-56e42599dc9a",
    accessibility_white_text:"",
    accessibility_black_text:""
  }
  */

}


.Calcite_Yellow_a150 {
  background-color: $Calcite_Yellow_a150;

  /*
   {
  Hex:"#CCCCCC",
  RGB:"r204 g204 b204",
    guid:"d29fd5e2-1e11-4106-ad89-ffe75fa5de90",
    accessibility_white_text:"",
    accessibility_black_text:""
  }
  */

}


.Calcite_Yellow_a200 {
  background-color: $Calcite_Yellow_a200;

  /*
   {
  Hex:"#CCCCCC",
  RGB:"r204 g204 b204",
    guid:"04c355b9-1cc1-4b31-a4dc-e4db5a028858",
    accessibility_white_text:"",
    accessibility_black_text:""
  }
  */

}

.Calcite_Yellow_a250 {
  background-color: $Calcite_Yellow_a250;

  /*
   {
  Hex:"#CCCCCC",
  RGB:"r204 g204 b204",
    guid:"270e0bb5-979c-42a6-9126-857042c36cd7",
    accessibility_white_text:"",
    accessibility_black_text:""
  }
  */

}





//* -- Calcite Core Orange -- *//


.Calcite_Orange_100 {
  background-color: $Calcite_Orange_100;

  /*
   {
  Hex:"#744B22",
  RGB:"r116 g75 b34",
    guid:"10bc24d0-c2a6-4327-9960-ced18032ed2e",
    accessibility_white_text:"AAaa",
    accessibility_black_text:""
  }
  */

}

.Calcite_Orange_150 {
  background-color: $Calcite_Orange_150;

  /*
   {
  Hex:"#A0641F",
  RGB:"r160 g100 b31",
    guid:"ea1d5847-9320-4aac-98ec-198e701bf976",
    accessibility_white_text:"AAaa",
    accessibility_black_text:"AA"
  }
  */

}


.Calcite_Orange_200 {
  background-color: $Calcite_Orange_200;

  /*
   {
  Hex:"#D08633",
  RGB:"r208 g134 b51",
    guid:"5e84a63b-02c0-4513-b989-08720832737a",
    accessibility_white_text:"",
    accessibility_black_text:"AAaa"
  }
  */

}


.Calcite_Orange_250 {
  background-color: $Calcite_Orange_250;

  /*
   {
  Hex:"#E79539",
  RGB:"r231 g149 b57",
    guid:"d16d400d-f2af-495d-a7be-db87753bba72",
    accessibility_white_text:"",
    accessibility_black_text:"AAaa"
  }
  */

}



.Calcite_Orange_a100 {
  background-color: $Calcite_Orange_a100;

  /*
   {
  Hex:"#CCCCCC",
  RGB:"r204 g204 b204",
    guid:"4d5cd545-83e6-46a8-bd94-6a9e99d90026",
    accessibility_white_text:"",
    accessibility_black_text:""
  }
  */

}


.Calcite_Orange_a150 {
  background-color: $Calcite_Orange_a150;

  /*
   {
  Hex:"#CCCCCC",
  RGB:"r204 g204 b204",
    guid:"75e2a476-8da6-45c3-adc0-4d7d500ad12b",
    accessibility_white_text:"",
    accessibility_black_text:""
  }
  */

}


.Calcite_Orange_a200 {
  background-color: $Calcite_Orange_a200;

  /*
   {
  Hex:"#CCCCCC",
  RGB:"r204 g204 b204",
    guid:"0d4c57cd-77f1-46c6-82dd-bcdcf3107cb2",
    accessibility_white_text:"",
    accessibility_black_text:""
  }
  */

}

.Calcite_Orange_a250 {
  background-color: $Calcite_Orange_a250;

  /*
   {
  Hex:"#CCCCCC",
  RGB:"r204 g204 b204",
    guid:"51296e7e-3646-4686-865a-33f29a683a7b",
    accessibility_white_text:"",
    accessibility_black_text:""
  }
  */

}





//* -- Calcite Core Green -- *//


.Calcite_Green_100 {
  background-color: $Calcite_Green_100;

  /*
   {
  Hex:"#285328",
  RGB:"r40 g83 b40",
    guid:"0c9ebb2b-a11a-4eff-a004-8ebe8f7a864d",
    accessibility_white_text:"AAaa",
    accessibility_black_text:""
  }
  */

}

.Calcite_Green_150 {
  background-color: $Calcite_Green_150;

  /*
   {
  Hex:"#376E37",
  RGB:"r55 g110 b55",
    guid:"f34e66a9-cebe-4c92-a715-5dcfec9f4cb8",
    accessibility_white_text:"AAaa",
    accessibility_black_text:"AA"
  }
  */

}


.Calcite_Green_200 {
  background-color: $Calcite_Green_200;

  /*
   {
  Hex:"#4A9349",
  RGB:"r74 g147 b73",
    guid:"31c206df-af65-41c9-823d-617d733cd870",
    accessibility_white_text:"AA",
    accessibility_black_text:"AAaa"
  }
  */

}


.Calcite_Green_250 {
  background-color: $Calcite_Green_250;

  /*
   {
  Hex:"#57AC56",
  RGB:"r87 g172 b86",
    guid:"a487cb84-4ec0-407e-a094-20d22ab88747",
    accessibility_white_text:"",
    accessibility_black_text:"AAaa"
  }
  */

}



.Calcite_Green_a100 {
  background-color: $Calcite_Green_a100;

  /*
   {
  Hex:"#CCCCCC",
  RGB:"r204 g204 b204",
    guid:"f4618a95-f0d3-4e29-aba2-719b9b6e6ba4",
    accessibility_white_text:"",
    accessibility_black_text:""
  }
  */

}


.Calcite_Green_a150 {
  background-color: $Calcite_Green_a150;

  /*
   {
  Hex:"#CCCCCC",
  RGB:"r204 g204 b204",
    guid:"dbe8f620-e3bf-4a0f-9336-50b2177d3a94",
    accessibility_white_text:"",
    accessibility_black_text:""
  }
  */

}


.Calcite_Green_a200 {
  background-color: $Calcite_Green_a200;

  /*
   {
  Hex:"#CCCCCC",
  RGB:"r204 g204 b204",
    guid:"2c4234a7-0d16-40b1-ac78-d8a0b2434613",
    accessibility_white_text:"",
    accessibility_black_text:""
  }
  */

}

.Calcite_Green_a250 {
  background-color: $Calcite_Green_a250;

  /*
   {
  Hex:"#CCCCCC",
  RGB:"r204 g204 b204",
    guid:"74206a10-7562-4efa-8bfd-1185fb3251aa",
    accessibility_white_text:"",
    accessibility_black_text:""
  }
  */

}






//* -- Calcite Core Red -- *//


.Calcite_Red_100 {
  background-color: $Calcite_Red_100;

  /*
   {
  Hex:"#622721",
  RGB:"r98 g39 b33",
    guid:"aab5ddb2-634b-4752-9d52-2efae2d22d73",
    accessibility_white_text:"AAaa",
    accessibility_black_text:""
  }
  */

}

.Calcite_Red_150 {
  background-color: $Calcite_Red_150;

  /*
   {
  Hex:"#843117",
  RGB:"r132 g49 b23",
    guid:"e9791e86-f31c-4dd9-8be7-4eba9d3b61cb",
    accessibility_white_text:"AAaa",
    accessibility_black_text:""
  }
  */

}


.Calcite_Red_200 {
  background-color: $Calcite_Red_200;

  /*
   {
  Hex:"#AA411E",
  RGB:"r170 g65 b30",
    guid:"2f77f9a5-ecc7-4940-8cb9-131cd88bd597",
    accessibility_white_text:"AAaa",
    accessibility_black_text:"AA"
  }
  */

}


.Calcite_Red_250 {
  background-color: $Calcite_Red_250;

  /*
   {
  Hex:"#C64F27",
  RGB:"r198 g79 b39",
    guid:"647617d4-e986-49f9-9055-4a9277b45532",
    accessibility_white_text:"AAaa",
    accessibility_black_text:"AAaa"
  }
  */

}



.Calcite_Red_a100 {
  background-color: $Calcite_Red_a100;

  /*
   {
  Hex:"#CCCCCC",
  RGB:"r204 g204 b204",
    guid:"ec36a8f5-b27f-4b45-a937-0ef41be84866",
    accessibility_white_text:"",
    accessibility_black_text:""
  }
  */

}


.Calcite_Red_a150 {
  background-color: $Calcite_Red_a150;

  /*
   {
  Hex:"#CCCCCC",
  RGB:"r204 g204 b204",
    guid:"8d721bd3-479c-4006-9b86-f2af7f02dba9",
    accessibility_white_text:"",
    accessibility_black_text:""
  }
  */

}


.Calcite_Red_a200 {
  background-color: $Calcite_Red_a200;

  /*
   {
  Hex:"#CCCCCC",
  RGB:"r204 g204 b204",
    guid:"f0e4e732-25b2-4556-86ca-0dfa9692e77a",
    accessibility_white_text:"",
    accessibility_black_text:""
  }
  */

}

.Calcite_Red_a250 {
  background-color: $Calcite_Red_a250;

  /*
   {
  Hex:"#CCCCCC",
  RGB:"r204 g204 b204",
    guid:"a5e7ae65-2f04-496a-9042-c68071c36b87",
    accessibility_white_text:"",
    accessibility_black_text:""
  }
  */

}



//* -- Calcite Core Purple -- *//


.Calcite_Purple_100 {
  background-color: $Calcite_Purple_100;

  /*
   {
  Hex:"#3D3553",
  RGB:"r61 g53 b83",
    guid:"97db6f2e-40f0-4abb-be42-b3e98b232d3d",
    accessibility_white_text:"AAaa",
    accessibility_black_text:""
  }
  */

}

.Calcite_Purple_150 {
  background-color: $Calcite_Purple_150;

  /*
   {
  Hex:"#4B3D6D",
  RGB:"r75 g61 b109",
    guid:"8cb08557-9a65-4751-894c-2c3d417d157d",
    accessibility_white_text:"AAaa",
    accessibility_black_text:""
  }
  */

}


.Calcite_Purple_200 {
  background-color: $Calcite_Purple_200;

  /*
   {
  Hex:"#60508B",
  RGB:"r96 g80 b139",
    guid:"27291eee-8749-4c47-b4b0-7b9c6f7fce65",
    accessibility_white_text:"AAaa",
    accessibility_black_text:"AA"
  }
  */

}


.Calcite_Purple_250 {
  background-color: $Calcite_Purple_250;

  /*
   {
  Hex:"#7F6FA9",
  RGB:"r127 g111 b169",
    guid:"99825edd-7b96-45dc-91e0-6ddd52271e62",
    accessibility_white_text:"AA",
    accessibility_black_text:"AAaa"
  }
  */

}



.Calcite_Purple_a100 {
  background-color: $Calcite_Purple_a100;

  /*
   {
  Hex:"#CCCCCC",
  RGB:"r204 g204 b204",
    guid:"062f96f8-4251-43ab-8d47-0aaeff26ddb3",
    accessibility_white_text:"",
    accessibility_black_text:""
  }
  */

}


.Calcite_Purple_a150 {
  background-color: $Calcite_Purple_a150;

  /*
   {
  Hex:"#CCCCCC",
  RGB:"r204 g204 b204",
    guid:"dd3debdb-695d-4573-ad3f-7b2c1c4bf4c0",
    accessibility_white_text:"",
    accessibility_black_text:""
  }
  */

}


.Calcite_Purple_a200 {
  background-color: $Calcite_Purple_a200;

  /*
   {
  Hex:"#CCCCCC",
  RGB:"r204 g204 b204",
    guid:"63bb3eb0-0afb-414e-989a-eb767edfe051",
    accessibility_white_text:"",
    accessibility_black_text:""
  }
  */

}

.Calcite_Purple_a250 {
  background-color: $Calcite_Purple_a250;

  /*
   {
  Hex:"#CCCCCC",
  RGB:"r204 g204 b204",
    guid:"996dbe04-551d-42c5-ac48-c8d332a08fc5",
    accessibility_white_text:"",
    accessibility_black_text:""
  }
  */

}




//* -- Calcite Core Brown -- *//


.Calcite_Brown_100 {
  background-color: $Calcite_Brown_100;

  /*
   {
  Hex:"#4A331C",
  RGB:"r74 g51 b28",
    guid:"e1be3ec0-54a0-4743-bf47-abc26731417e",
    accessibility_white_text:"AAaa",
    accessibility_black_text:""
  }
  */

}

.Calcite_Brown_150 {
  background-color: $Calcite_Brown_150;

  /*
   {
  Hex:"#66431E",
  RGB:"r102 g67 b30",
    guid:"61f29613-6817-4852-8bde-a70fc4cd0276",
    accessibility_white_text:"AAaa",
    accessibility_black_text:""
  }
  */

}


.Calcite_Brown_200 {
  background-color: $Calcite_Brown_200;

  /*
   {
  Hex:"#8B5D2A",
  RGB:"r139 g93 b42",
    guid:"b6d25db6-455a-4603-aae0-2727b1999aa2",
    accessibility_white_text:"AAaa",
    accessibility_black_text:"AA"
  }
  */

}


.Calcite_Brown_250 {
  background-color: $Calcite_Brown_250;

  /*
   {
  Hex:"#A56F31",
  RGB:"r65 g111 b49",
    guid:"e6f939eb-ae27-4437-92cf-06473463e65d",
    accessibility_white_text:"AA",
    accessibility_black_text:"AAaa"
  }
  */

}



.Calcite_Brown_a100 {
  background-color: $Calcite_Brown_a100;

  /*
   {
  Hex:"#CCCCCC",
  RGB:"r204 g204 b204",
    guid:"1999a103-35ca-4b80-8a67-d3cbeca8225c",
    accessibility_white_text:"",
    accessibility_black_text:""
  }
  */

}


.Calcite_Brown_a150 {
  background-color: $Calcite_Brown_a150;

  /*
   {
  Hex:"#CCCCCC",
  RGB:"r204 g204 b204",
    guid:"fa114b3d-2ce1-4d1d-b0b2-a1743dda8f88",
    accessibility_white_text:"",
    accessibility_black_text:""
  }
  */

}


.Calcite_Brown_a200 {
  background-color: $Calcite_Brown_a200;

  /*
   {
  Hex:"#CCCCCC",
  RGB:"r204 g204 b204",
    guid:"3bdc321f-a3ca-4b74-8bc6-d7ad4afb0ae5",
    accessibility_white_text:"",
    accessibility_black_text:""
  }
  */

}

.Calcite_Brown_a250 {
  background-color: $Calcite_Brown_a250;

  /*
   {
  Hex:"#CCCCCC",
  RGB:"r204 g204 b204",
    guid:"2fe3c649-8ff6-4196-bb16-6a08317ebdfd",
    accessibility_white_text:"",
    accessibility_black_text:""
  }
  */

}

































