@keyframes esri-fade-in-down {
  0% {
    opacity: 0;
    transform: translate3D(0, -5px, 0); }
  25% {
    opacity: 0;
    transform: translate3D(0, -5px, 0); }
  100% {
    opacity: 1;
    transform: translate3D(0, 0, 0); } }

@keyframes esri-fade-in {
  0% {
    opacity: 0; }
  25% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes esri-fade-in-scale {
  0% {
    opacity: 0;
    transform: scale3D(0.95, 0.95, 1); }
  100% {
    opacity: 1;
    transform: scale3D(1, 1, 1); } }

@keyframes panel-advance {
  0% {
    opacity: 0;
    transform: translate3d(50px, 0, 0) scale(0.99); }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(1); } }

@keyframes panel-retreat {
  0% {
    opacity: 0;
    transform: translate3d(-50px, 0, 0) scale(0.99); }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(1); } }

/* ==========================================================================
   RTL
   ========================================================================== */
@keyframes panel-advance--rtl {
  0% {
    opacity: 0;
    transform: translate3d(-50px, 0, 0) scale(0.99); }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(1); } }

@keyframes panel-retreat--rtl {
  0% {
    opacity: 0;
    transform: translate3d(50px, 0, 0) scale(0.99); }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(1); } }

.esri-widget__header {
  align-items: center;
  background-color: white;
  display: flex;
  flex: 1 0 100%;
  padding: 12px 0 12px 15px;
  justify-content: space-between;
  min-height: 48px;
  width: 100%; }
  .esri-widget__header .esri-widget__heading {
    align-items: center;
    color: #6e6e6e;
    display: flex;
    margin: 0;
    padding: 0;
    width: calc(100% - 48px); }
  .esri-widget__header-button {
    -webkit-appearance: none;
    align-items: center;
    align-self: stretch;
    background-color: transparent;
    border: none;
    color: #6e6e6e;
    cursor: pointer;
    display: flex;
    flex: 0 0 48px;
    justify-content: center;
    padding: 0;
    width: 48px; }

.esri-widget__heading {
  color: #4c4c4c;
  margin: 0 0 0.5rem 0; }

h1.esri-widget__heading {
  font-size: 20px; }

h2.esri-widget__heading {
  font-size: 16px; }

h3.esri-widget__heading,
h4.esri-widget__heading,
h5.esri-widget__heading,
h6.esri-widget__heading {
  font-size: 14px; }

.esri-widget__footer {
  width: 100%; }

.esri-widget__footer-pagination {
  align-items: center;
  color: #6e6e6e;
  display: flex;
  justify-content: center; }
  .esri-widget__footer-pagination-previous-button, .esri-widget__footer-pagination-next-button {
    background-color: transparent;
    border: 0;
    border-radius: 4px;
    margin: 6px 7px;
    padding: 0;
    cursor: pointer;
    transition: background-color 125ms ease-in-out;
    width: 32px;
    height: 32px; }
    .esri-widget__footer-pagination-previous-button:hover, .esri-widget__footer-pagination-previous-button:focus, .esri-widget__footer-pagination-next-button:hover, .esri-widget__footer-pagination-next-button:focus {
      background-color: #f0f0f0;
      color: #2e2e2e; }

.esri-flow-manager {
  background-color: white;
  border-left: 1px solid rgba(50, 50, 50, 0.15);
  border-right: 1px solid rgba(50, 50, 50, 0.15);
  display: flex;
  flex-direction: column;
  font-family: "Avenir Next W00", "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%;
  overflow: hidden;
  width: 27vw;
  min-width: 300px;
  max-width: 420px; }
  .esri-flow-manager__frame {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: column;
    position: relative; }
  .esri-flow-manager__frame--advancing {
    animation: panel-advance 250ms ease-in-out; }
  .esri-flow-manager__frame--retreating {
    animation: panel-retreat 250ms ease-in-out; }
  .esri-flow-manager__header {
    align-items: center;
    background-color: white;
    border-bottom: 1px solid rgba(50, 50, 50, 0.15);
    color: #4c4c4c;
    display: flex;
    height: 48px;
    justify-content: center;
    position: relative;
    z-index: 2; }
  .esri-flow-manager__header--child {
    justify-content: flex-start; }
  .esri-flow-manager__header-button {
    -webkit-appearance: none;
    align-items: center;
    align-self: stretch;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    flex: 0 0 48px;
    justify-content: center;
    padding: 0;
    width: 48px;
    transition: background-color 250ms ease-in-out; }
    .esri-flow-manager__header-button:hover {
      background-color: #f0f0f0; }
  .esri-flow-manager__header-menu-button {
    border-left: 1px solid rgba(50, 50, 50, 0.15); }
  .esri-flow-manager__header-dropdown {
    align-self: stretch;
    display: flex;
    position: relative; }
    .esri-flow-manager__header-dropdown .esri-menu {
      color: #6e6e6e;
      left: auto;
      max-height: unset;
      min-width: 150px;
      right: 2px;
      visibility: visible;
      animation: esri-fade-in-down 125ms ease-in-out; }
      .esri-flow-manager__header-dropdown .esri-menu .esri-flow-manager__menu-item {
        margin-top: 0;
        margin-bottom: 0;
        padding: 0;
        cursor: default; }
        .esri-flow-manager__header-dropdown .esri-menu .esri-flow-manager__menu-item:hover, .esri-flow-manager__header-dropdown .esri-menu .esri-flow-manager__menu-item:focus {
          background-color: white; }
        .esri-flow-manager__header-dropdown .esri-menu .esri-flow-manager__menu-item .esri-flow-manager__action {
          border: none;
          padding: 12px 15px;
          width: 100%;
          cursor: pointer; }
          .esri-flow-manager__header-dropdown .esri-menu .esri-flow-manager__menu-item .esri-flow-manager__action:hover, .esri-flow-manager__header-dropdown .esri-menu .esri-flow-manager__menu-item .esri-flow-manager__action:focus {
            background-color: #f0f0f0; }
  .esri-flow-manager__action {
    display: flex;
    align-items: center; }
  .esri-flow-manager__action--disabled {
    opacity: 0.4;
    pointer-events: none; }
  .esri-flow-manager__action-icon {
    margin-right: 0.2em; }
  .esri-flow-manager__title {
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    overflow: hidden;
    padding: 0 15px;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .esri-flow-manager__title--child {
    font-size: 14px;
    text-align: center;
    width: calc(100% - 96px); }
  .esri-flow-manager__content {
    background-color: whitesmoke;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 48px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0; }
  .esri-flow-manager__content--child {
    bottom: 60px; }
  .esri-flow-manager__footer {
    align-items: center;
    background-color: white;
    border-top: 1px solid rgba(50, 50, 50, 0.15);
    bottom: 0;
    display: flex;
    height: 48px;
    justify-content: center;
    left: 0;
    padding: 6px 7px;
    position: absolute;
    right: 0;
    z-index: 2; }
    .esri-flow-manager__footer .esri-button {
      margin: 3px 3px;
      max-width: 80%;
      min-width: 40%; }
  .esri-flow-manager .esri-tip {
    box-shadow: 0 0 0 1px rgba(50, 50, 50, 0.25);
    margin: 18px 15px;
    max-width: initial;
    width: calc(100% - 30px); }
    .esri-flow-manager .esri-tip__main {
      max-width: unset; }

/* ==========================================================================
   RTL
   ========================================================================== */
html[dir="rtl"] .esri-flow-manager__header-menu-button {
  border-left: 0;
  border-right: 1px solid rgba(50, 50, 50, 0.25); }

html[dir="rtl"] .esri-flow-manager__header-dropdown .esri-menu {
  right: auto;
  left: 2px; }

html[dir="rtl"] .esri-flow-manager__action-icon {
  margin-right: 0;
  margin-left: 0.2em; }

html[dir="rtl"] .esri-flow-manager__frame--advancing {
  animation: panel-advance--rtl 250ms ease-in-out; }

html[dir="rtl"] .esri-flow-manager__frame--retreating {
  animation: panel-retreat--rtl 250ms ease-in-out; }
