.light .OneVarMultiComparison_CurrentRow
{
	color: #666666;
    font-weight:600;
}

.light .OneVarMultiComparison_Row
{
	color: #666666;
}

.light .OneVarMultiComparison_TextColumnHeader
{
	color: #666666;
}

.light .OneVarMultiComparison_ValueColumnHeader
{
    color: #666666;
}

.light .OneVarMultiComparison_TextColumn
{
	border: 1px solid #CECECE;
}

.light .OneVarMultiComparison_ValueColumn
{
	border: 1px solid #CECECE;
}

.light .OneVarMultiComparison_ChartColumn
{
	border: 1px solid #CECECE;
}

.light .OneVarMultiComparison_Expanded_Value_Primary
{
	color: #669933;
}

.light .OneVarMultiComparison_Comparison
{
	margin: 0;
    font-size: 11px;
    color: #a4a4a4;
}

.light .OneVarMultiComparison_Expanded_CurrentBar
{
	background: #669933;
}

