.light .Tapestry_ValueCell
{ 
    color:#999999;
}

.light .Tapestry_AttrCell
{ 
    color:#999999;
}

.light .Tapestry_TextCell
{ 
    color:#999999;
}

.light .Tapestry_TopOne
{    
    color:#339933;
}

.light .Tapestry_TopTwo
{
   color:#cc6600;
}

.light .Tapestry_TopThree
{
    color:#3366cc;
}