<div class="gxeMultiplicityTools" style="display:none;">
  <div class="gxeIcon gxeIconRepeat" 
    data-dojo-attach-point="repeatElementNode"
    data-dojo-attach-event="onClick: repeatElementClicked"
    title="${i18nBase.multiplicity.repeatElement}"></div>
  <div class="gxeIcon gxeIconRemove" 
    data-dojo-attach-point="removeElementNode"
    data-dojo-attach-event="onClick: removeElementClicked"
    title="${i18nBase.multiplicity.removeElement}"></div>
  <div class="gxeIcon gxeIconMoveUp" 
    data-dojo-attach-point="moveElementUpNode"
    data-dojo-attach-event="onClick: moveElementUpClicked"
    title="${i18nBase.multiplicity.moveElementUp}"></div>
  <div class="gxeIcon gxeIconMoveDown" 
    data-dojo-attach-point="moveElementDownNode"
    data-dojo-attach-event="onClick: moveElementDownClicked"
    title="${i18nBase.multiplicity.moveElementDown}"></div>
</div>
