<div data-dojo-attach-point="containerNode">
  <div data-dojo-type="esri/dijit/metadata/form/Element"
    data-dojo-props="target:'resTitle',minOccurs:1,label:'${i18nArcGIS.citation.resTitle}',forInspire:false">
  </div>  
  <div data-dojo-type="esri/dijit/metadata/form/Element"
    data-dojo-props="target:'resTitle',minOccurs:1,label:'${i18nArcGIS.citation.resTitle}',forInspire:true">
    <div data-dojo-type="esri/dijit/metadata/form/InputSelectOne">
      <div data-dojo-type="esri/dijit/metadata/form/Options">
        <div data-dojo-type="esri/dijit/metadata/form/Option" data-dojo-props="label:'',value:''"></div>
        <div data-dojo-type="esri/dijit/metadata/form/Option"
          data-dojo-props="label:'${i18nArcGIS.citation.resTitleForInspire.bg} (BG): РЕГЛАМЕНТ (ЕС) № 1089/2010  НА КОМИСИЯТА',
          value:'РЕГЛАМЕНТ (ЕС) № 1089/2010 НА КОМИСИЯТА от 23 ноември 2010 година за прилагане на Директива 2007/2/ЕО на Европейския парламент и на Съвета по отношение на оперативната съвместимост на масиви от пространствени данни и услуги за пространствени данни'">
        </div>
        <div data-dojo-type="esri/dijit/metadata/form/Option"
          data-dojo-props="label:'${i18nArcGIS.citation.resTitleForInspire.cs} (CS): NAŘÍZENÍ KOMISE (EU) č. 1089/2010',
          value:'NAŘÍZENÍ KOMISE (EU) č. 1089/2010 ze dne 23. listopadu 2010, kterým se provádí směrnice Evropského parlamentu a Rady 2007/2/ES, pokud jde o interoperabilitu sad prostorových dat a služeb prostorových dat'">
        </div>
        <div data-dojo-type="esri/dijit/metadata/form/Option"
          data-dojo-props="label:'${i18nArcGIS.citation.resTitleForInspire.da} (DA): KOMMISSIONENS FORORDNING (EU) Nr. 1089/2010',
          value:'KOMMISSIONENS FORORDNING (EU) Nr. 1089/2010 af 23. november 2010 om gennemførelse af Europa-Parlamentets og Rådets direktiv 2007/2/EF for så vidt angår interoperabilitet for geodatasæt og -tjenester'">
        </div>
        <div data-dojo-type="esri/dijit/metadata/form/Option"
          data-dojo-props="label:'${i18nArcGIS.citation.resTitleForInspire.de} (DE): VERORDNUNG (EG) Nr. 1089/2010 DER KOMMISSION',
          value:'VERORDNUNG (EG) Nr. 1089/2010 DER KOMMISSION vom 23. November 2010 zur Durchführung der Richtlinie 2007/2/EG des Europäischen Parlaments und des Rates hinsichtlich der Interoperabilität von Geodatensätzen und -diensten'">
        </div>
        <div data-dojo-type="esri/dijit/metadata/form/Option"
          data-dojo-props="label:'${i18nArcGIS.citation.resTitleForInspire.el} (EL): ΚΑΝΟΝΙΣΜΟΣ (ΕΕ) αριθ. 1089/2010 ΤΗΣ ΕΠΙΤΡΟΠΗΣ',
          value:'ΚΑΝΟΝΙΣΜΟΣ (ΕΕ) αριθ. 1089/2010 ΤΗΣ ΕΠΙΤΡΟΠΗΣ της 23ης Νοεμβρίου 2010 σχετικά με την εφαρμογή της οδηγίας 2007/2/ΕΚ του Ευρωπαϊκού Κοινοβουλίου και του Συμβουλίου όσον αφορά τη διαλειτουργικότητα των συνόλων και των υπηρεσιών χωρικών δεδομένων'">
        </div>
        <div data-dojo-type="esri/dijit/metadata/form/Option"
          data-dojo-props="label:'${i18nArcGIS.citation.resTitleForInspire.en} (EN): COMMISSION REGULATION (EU) No 1089/2010',
          value:'COMMISSION REGULATION (EU) No 1089/2010 of 23 November 2010 implementing Directive 2007/2/EC of the European Parliament and of the Council as regards interoperability of spatial data sets and services'">
        </div>
        <div data-dojo-type="esri/dijit/metadata/form/Option"
          data-dojo-props="label:'${i18nArcGIS.citation.resTitleForInspire.es} (ES): REGLAMENTO (UE) N o 1089/2010 DE LA COMISIÓN',
          value:'REGLAMENTO (UE) N o 1089/2010 DE LA COMISIÓN de 23 de noviembre de 2010 por el que se aplica la Directiva 2007/2/CE del Parlamento Europeo y del Consejo en lo que se refiere a la interoperabilidad de los conjuntos y los servicios de datos espaciales'">
        </div>
        <div data-dojo-type="esri/dijit/metadata/form/Option"
          data-dojo-props="label:'${i18nArcGIS.citation.resTitleForInspire.et} (ET): KOMISJONI MÄÄRUS (EL) nr 1089/2010',
          value:'KOMISJONI MÄÄRUS (EL) nr 1089/2010, 23. november 2010, millega rakendatakse Euroopa Parlamendi ja nõukogu direktiivi 2007/2/EÜ seoses ruumiandmekogumite ja -teenuste ristkasutatavusega'">
        </div>
        <div data-dojo-type="esri/dijit/metadata/form/Option"
          data-dojo-props="label:'${i18nArcGIS.citation.resTitleForInspire.fi} (FI): KOMISSION ASETUS (EU) N:o 1089/2010',
          value:'KOMISSION ASETUS (EU) N:o 1089/2010, annettu 23 päivänä marraskuuta 2010, Euroopan parlamentin ja neuvoston direktiivin 2007/2/EY täytäntöönpanosta paikkatietoaineistojen ja -palvelujen yhteentoimivuuden osalta'">
        </div>
        <div data-dojo-type="esri/dijit/metadata/form/Option"
          data-dojo-props="label:'${i18nArcGIS.citation.resTitleForInspire.fr} (FR): RÈGLEMENT (UE) No 1089/2010 DE LA COMMISSION',
          value:'RÈGLEMENT (UE) No 1089/2010 DE LA COMMISSION du 23 novembre 2010 portant modalités d\'application de la directive 2007/2/CE du Parlement européen et du Conseil en ce qui concerne l\'interopérabilité des séries et des services de données géographiques'">
        </div>
        <div data-dojo-type="esri/dijit/metadata/form/Option"
          data-dojo-props="label:'${i18nArcGIS.citation.resTitleForInspire.hr} (HR): UREDBA KOMISIJE (EU) br. 1089/2010',
          value:'UREDBA KOMISIJE (EU) br. 1089/2010 od 23. studenoga 2010 o provedbi Direktive 2007/2/EZ Europskog parlamenta i Vijeca o meduoperativnosti skupova prostornih podataka i usluga u vezi s prostornim podacima'">
        </div>
        <div data-dojo-type="esri/dijit/metadata/form/Option"
          data-dojo-props="label:'${i18nArcGIS.citation.resTitleForInspire.hu} (HU): A BIZOTTSÁG 1089/2010/EU RENDELETE',
          value:'A BIZOTTSÁG 1089/2010/EU RENDELETE (2010. november 23.) a 2007/2/EK európai parlamenti és tanácsi irányelv téradatkészletek és -szolgáltatások interoperabilitására vonatkozó rendelkezéseinek végrehajtásáról'">
        </div>
        <div data-dojo-type="esri/dijit/metadata/form/Option"
          data-dojo-props="label:'${i18nArcGIS.citation.resTitleForInspire.it} (IT): REGOLAMENTO (UE) N. 1089/2010 DELLA COMMISSIONE',
          value:'REGOLAMENTO (UE) N. 1089/2010 DELLA COMMISSIONE del 23 novembre 2010 recante attuazione della direttiva 2007/2/CE del Parlamento europeo e del Consiglio per quanto riguarda l\'interoperabilità dei set di dati territoriali e dei servizi di dati territoriali'">
        </div>
        <div data-dojo-type="esri/dijit/metadata/form/Option"
          data-dojo-props="label:'${i18nArcGIS.citation.resTitleForInspire.lt} (LT): KOMISIJOS REGLAMENTAS (ES) Nr. 1089/2010',
          value:'KOMISIJOS REGLAMENTAS (ES) Nr. 1089/2010 2010 m. lapkričio 23 d. kuriuo įgyvendinamos Europos Parlamento ir Tarybos direktyvos 2007/2/EB nuostatos dėl erdvinių duomenų rinkinių ir paslaugų sąveikumo'">
        </div>
        <div data-dojo-type="esri/dijit/metadata/form/Option"
          data-dojo-props="label:'${i18nArcGIS.citation.resTitleForInspire.lv} (LV): KOMISIJAS REGULA (ES) Nr. 1089/2010',
          value:'KOMISIJAS REGULA (ES) Nr. 1089/2010 (2010. gada 23. novembris), ar kuru īsteno Eiropas Parlamenta un Padomes Direktīvu 2007/2/EK attiecībā uz telpisko datu kopu un telpisko datu pakalpojumu savstarpējo izmantojamību'">
        </div>
        <div data-dojo-type="esri/dijit/metadata/form/Option"
          data-dojo-props="label:'${i18nArcGIS.citation.resTitleForInspire.mt} (MT): REGOLAMENT TAL-KUMMISSJONI (UE) Nru 1089/2010',
          value:'REGOLAMENT TAL-KUMMISSJONI (UE) Nru 1089/2010 tat-23 ta\' Novembru 2010 li jimplimenta d-Direttiva 2007/2/KE tal-Parlament Ewropew u tal-Kunsill fir-rigward tal- interoperabbiltà tas-settijiet ta’ dejta u servizzi ġeografiċi'">
        </div>
        <div data-dojo-type="esri/dijit/metadata/form/Option"
          data-dojo-props="label:'${i18nArcGIS.citation.resTitleForInspire.nl} (NL): VERORDENING (EU) Nr. 1089/2010 VAN DE COMMISSIE',
          value:'VERORDENING (EU) Nr. 1089/2010 VAN DE COMMISSIE van 23 november 2010 ter uitvoering van Richtlijn 2007/2/EG van het Europees Parlement en de Raad betreffende de interoperabiliteit van verzamelingen ruimtelijke gegevens en van diensten met betrekking tot ruimtelijke gegevens'">
        </div>
        <div data-dojo-type="esri/dijit/metadata/form/Option"
          data-dojo-props="label:'${i18nArcGIS.citation.resTitleForInspire.pl} (PL): ROZPORZĄDZENIE KOMISJI (UE) NR 1089/2010',
          value:'ROZPORZĄDZENIE KOMISJI (UE) NR 1089/2010 z dnia 23 listopada 2010 r. w sprawie wykonania dyrektywy 2007/2/WE Parlamentu Europejskiego i Rady w zakresie interoperacyjności zbiorów i usług danych przestrzennych'">
        </div>
        <div data-dojo-type="esri/dijit/metadata/form/Option"
          data-dojo-props="label:'${i18nArcGIS.citation.resTitleForInspire.pt} (PT): REGULAMENTO (UE) N. o 1089/2010 DA COMISSÃO',
          value:'REGULAMENTO (UE) N. o 1089/2010 DA COMISSÃO de 23 de Novembro de 2010 que estabelece as disposições de execução da Directiva 2007/2/CE do Parlamento Europeu e do Conselho relativamente à interoperabilidade dos conjuntos e serviços de dados geográficos'">
        </div>
        <div data-dojo-type="esri/dijit/metadata/form/Option"
          data-dojo-props="label:'${i18nArcGIS.citation.resTitleForInspire.ro} (RO): REGULAMENTUL (UE) NR. 1089/2010 AL COMISIEI',
          value:'REGULAMENTUL (UE) NR. 1089/2010 AL COMISIEI din 23 noiembrie 2010 de punere în aplicare a Directivei 2007/2/CE a Parlamentului European şi a Consiliului în ceea ce priveşte interoperabilitatea seturilor şi serviciilor de date spaţiale'">
        </div>
        <div data-dojo-type="esri/dijit/metadata/form/Option"
          data-dojo-props="label:'${i18nArcGIS.citation.resTitleForInspire.sk} (SK): NARIADENIE KOMISIE (EÚ) č. 1089/2010',
          value:'NARIADENIE KOMISIE (EÚ) č. 1089/2010 z 23. novembra 2010, ktorým sa vykonáva smernica Európskeho parlamentu a Rady 2007/2/ES, pokiaľ ide o interoperabilitu súborov a služieb priestorových údajov'">
        </div>
        <div data-dojo-type="esri/dijit/metadata/form/Option"
          data-dojo-props="label:'${i18nArcGIS.citation.resTitleForInspire.sl} (SL): UREDBA KOMISIJE (EU) št. 1089/2010',
          value:'UREDBA KOMISIJE (EU) št. 1089/2010 z dne 23. novembra 2010 o izvajanju Direktive 2007/2/ES Evropskega parlamenta in Sveta glede medopravilnosti zbirk prostorskih podatkov in storitev v zvezi s prostorskimi podatki'">
        </div>
        <div data-dojo-type="esri/dijit/metadata/form/Option"
          data-dojo-props="label:'${i18nArcGIS.citation.resTitleForInspire.sv} (SV): KOMMISSIONENS FÖRORDNING (EU) nr 1089/2010',
          value:'KOMMISSIONENS FÖRORDNING (EU) nr 1089/2010 av den 23 november 2010 om genomförande av Europaparlamentets och rådets direktiv 2007/2/EG vad gäller interoperabilitet för rumsliga datamängder och datatjänster'">
        </div>
      </div>
    </div>
  </div>

  <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
    data-dojo-props="target:'date',minOccurs:1,showHeader:false">
    <div data-dojo-type="esri/dijit/metadata/form/OpenElement"
      data-dojo-props="target:'pubDate',minOccurs:1,label:'${i18nArcGIS.citation.date.pubDate}'">
      <div data-dojo-type="esri/dijit/metadata/types/arcgis/form/InputDate" data-dojo-props="allowTime:true"></div>
    </div>
  </div>
</div>