@keyframes esri-fade-in-down {
  0% {
    opacity: 0;
    transform: translate3D(0, -5px, 0); }
  25% {
    opacity: 0;
    transform: translate3D(0, -5px, 0); }
  100% {
    opacity: 1;
    transform: translate3D(0, 0, 0); } }

@keyframes esri-fade-in {
  0% {
    opacity: 0; }
  25% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes esri-fade-in-scale {
  0% {
    opacity: 0;
    transform: scale3D(0.95, 0.95, 1); }
  100% {
    opacity: 1;
    transform: scale3D(1, 1, 1); } }

@keyframes panel-advance {
  0% {
    opacity: 0;
    transform: translate3d(50px, 0, 0) scale(0.99); }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(1); } }

@keyframes panel-retreat {
  0% {
    opacity: 0;
    transform: translate3d(-50px, 0, 0) scale(0.99); }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(1); } }

/* ==========================================================================
   RTL
   ========================================================================== */
@keyframes panel-advance--rtl {
  0% {
    opacity: 0;
    transform: translate3d(-50px, 0, 0) scale(0.99); }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(1); } }

@keyframes panel-retreat--rtl {
  0% {
    opacity: 0;
    transform: translate3d(50px, 0, 0) scale(0.99); }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(1); } }

.esri-widget__header {
  align-items: center;
  background-color: white;
  display: flex;
  flex: 1 0 100%;
  padding: 12px 0 12px 15px;
  justify-content: space-between;
  min-height: 48px;
  width: 100%; }
  .esri-widget__header .esri-widget__heading {
    align-items: center;
    color: #6e6e6e;
    display: flex;
    margin: 0;
    padding: 0;
    width: calc(100% - 48px); }
  .esri-widget__header-button {
    -webkit-appearance: none;
    align-items: center;
    align-self: stretch;
    background-color: transparent;
    border: none;
    color: #6e6e6e;
    cursor: pointer;
    display: flex;
    flex: 0 0 48px;
    justify-content: center;
    padding: 0;
    width: 48px; }

.esri-widget__heading {
  color: #4c4c4c;
  margin: 0 0 0.5rem 0; }

h1.esri-widget__heading {
  font-size: 20px; }

h2.esri-widget__heading {
  font-size: 16px; }

h3.esri-widget__heading,
h4.esri-widget__heading,
h5.esri-widget__heading,
h6.esri-widget__heading {
  font-size: 14px; }

.esri-widget__footer {
  width: 100%; }

.esri-widget__footer-pagination {
  align-items: center;
  color: #6e6e6e;
  display: flex;
  justify-content: center; }
  .esri-widget__footer-pagination-previous-button, .esri-widget__footer-pagination-next-button {
    background-color: transparent;
    border: 0;
    border-radius: 4px;
    margin: 6px 7px;
    padding: 0;
    cursor: pointer;
    transition: background-color 125ms ease-in-out;
    width: 32px;
    height: 32px; }
    .esri-widget__footer-pagination-previous-button:hover, .esri-widget__footer-pagination-previous-button:focus, .esri-widget__footer-pagination-next-button:hover, .esri-widget__footer-pagination-next-button:focus {
      background-color: #f0f0f0;
      color: #2e2e2e; }

.esri-tip-manager {
  align-items: center;
  background-color: whitesmoke;
  border: 1px solid rgba(50, 50, 50, 0.15);
  display: flex;
  flex-flow: column;
  min-width: 380px;
  overflow: hidden; }
  .esri-tip-manager .esri-tip-manager__header {
    background-color: transparent; }
  .esri-tip-manager h1.esri-widget__heading {
    font-weight: 400; }
  .esri-tip-manager--invisible {
    display: none; }
  .esri-tip-manager__tip-container {
    background-color: whitesmoke;
    height: 27vh;
    min-width: 380px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 15px 6px;
    width: 100%; }
    .esri-tip-manager__tip-container--advancing {
      animation: panel-advance 250ms ease-in-out; }
    .esri-tip-manager__tip-container--retreating {
      animation: panel-retreat 250ms ease-in-out; }
  .esri-tip-manager .esri-tip {
    align-self: center;
    margin: 12px auto;
    max-width: 640px;
    width: 90%;
    border-radius: 4px;
    overflow: hidden;
    border-bottom: 1px solid rgba(50, 50, 50, 0.15); }

/* ==========================================================================
   RTL
   ========================================================================== */
html[dir="rtl"] .esri-tip--advancing {
  animation: panel-advance--rtl 250ms ease-in-out; }

html[dir="rtl"] .esri-tip--retreating {
  animation: panel-retreat--rtl 250ms ease-in-out; }

.esri-view-width-greater-than-medium .esri-tip-manager.esri-component {
  width: 640px; }

.esri-view-width-less-than-large .esri-tip-manager.esri-component {
  width: 640px; }

.esri-view-width-less-than-medium .esri-tip-manager.esri-component {
  margin: 0;
  min-width: 100%;
  width: 100%; }

.esri-view-height-greater-than-small .esri-tip-manager.esri-component .esri-tip-manager__tip-container {
  height: 240px; }

.esri-view-height-xmsall .esri-tip-manager.esri-component .esri-tip-manager__tip-container {
  height: 180px; }
