.nav-pager__btn {
  position: relative;
  display: inline-block;
  padding: 0.31rem 0.9rem;
  width: auto;
  color: #ffffff;
  border: 1px solid #0079c1;
  border-radius: 0;
  background-color: #0079c1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.05s linear;
  transition: all 0.05s linear;
  cursor: pointer;
  white-space: nowrap;
  font-size: 0.9375rem;
  line-height: 1.55rem;
  background: none;
  color: #0079c1;
  border: none;
  color: #005e95; }
  .nav-pager__btn:hover {
    text-decoration: none;
    background-color: #005e95;
    color: #ffffff; }
  .nav-pager__btn:hover {
    color: #005e95;
    background: none;
    text-decoration: underline; }

.nav-pager__btn--disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: .3; }

@media screen and (max-width: 480px) {
  .nav-pager__page-btn--inactive {
    display: none; } }

.nav-pager__page-btn--active {
  position: relative;
  display: inline-block;
  padding: 0.31rem 0.9rem;
  width: auto;
  color: #ffffff;
  border: 1px solid #0079c1;
  border-radius: 0;
  background-color: #0079c1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.05s linear;
  transition: all 0.05s linear;
  cursor: pointer;
  white-space: nowrap;
  font-size: 0.9375rem;
  line-height: 1.55rem; }
  .nav-pager__page-btn--active:hover {
    text-decoration: none;
    background-color: #005e95;
    color: #ffffff; }

@media screen and (max-width: 480px) {
  .nav-pager__dots {
    display: none; } }

.nav-pager__container {
  text-align: center; }

.nav-pager__page-btn-container {
  display: inline-block;
  padding-right: 2rem;
  padding-left: 2rem; }
  html[dir="rtl"] .nav-pager__page-btn-container {
    padding-left: 2rem; }
  html[dir="rtl"] .nav-pager__page-btn-container {
    padding-right: 2rem; }

.nav-pager__limit-container {
  margin-bottom: 1.55rem;
  display: block; }

.nav-pager__limit-inner {
  background-color: #f3edc7;
  border: 1px solid #e4d154;
  display: inline-block;
  max-width: 40em;
  padding: 0.775rem; }

.nav-pager__limit-text {
  margin-bottom: 0; }
