
/* Esri Brand Colors - Last Updated 04/16/15 */

@import "../../scss/variables";


/*
{
name: "Esri Brand Colors",
tags: "Brand Colors,Brand"
}
*/

/* -- Esri Brand Blue -- */

.Brand_Blue_100 {
  background-color: $Brand_Blue_100;

  /*
   {
  Hex:"#b9e0f7",
  CMYK:"c25 m2 y0 k0",
  AdobeRGB:"r196 g223 b246",
  sRGB:"r185 g224 b247",
  guid:"487af1c6-5547-4727-9716-913b4d0b3a7a",
  accessibility_white_text:"",
  accessibility_black_text:"AAaa"
  }
  */

}

.Brand_Blue_150 {
  background-color: $Brand_Blue_150;

  /*
   {
  Hex:"#00b9f2",
  CMYK:"c80 m0 y0 k0",
  AdobeRGB:"r75 g184 b239",
  sRGB:"r0 g185 b242",
  guid:"a6395586-91ea-4893-932a-571b66582a67",
  accessibility_white_text:"",
  accessibility_black_text:"AAaa"
  }
  */

}

.Brand_Blue_200 {
  background-color: $Brand_Blue_200;

  /*
   {
  Hex:"#007ac2",
  CMYK:"c100 m43 y0 k0",
  AdobeRGB:"r23 g121 b191",
  sRGB:"r0 g122 b194",
  guid:"f1c219e1-ef6a-46be-9a4e-fa0b5dc5a552",
  accessibility_white_text:"AAaa",
  accessibility_black_text:"AAaa"
  }
  */

}

.Brand_Blue_250 {
  background-color: $Brand_Blue_250;

  /*
   {
  Hex:"#004575",
  CMYK:"c100 m43 y0 k50",
  AdobeRGB:"r0 g71 b115",
  sRGB:"r0 g69 b117",
  guid:"ba4e2698-0172-4983-81ff-c22b0ab7f0d3",
  accessibility_white_text:"AAaa",
  accessibility_black_text:""
  }
  */

}


/* -- Esri Brand Warm -- */

.Brand_Yellow_100 {
  background-color: $Brand_Yellow_100;

  /*
   {
  Hex:"#ffec4f",
  CMYK:"c0 m3 y80 k0",
  AdobeRGB:"r245 g235 b93",
  sRGB:"r225 g236 b79",
  guid:"2af4ee33-7083-40b6-ac44-9f905f0a266f",
  accessibility_white_text:"",
  accessibility_black_text:"AAaa"
  }
  */

}

.Brand_Orange_100 {
  background-color: $Brand_Orange_100;

  /*
   {
  Hex:"#f89927",
  CMYK:"c0 m45 y95 k0",
  AdobeRGB:"r226 g152 b54",
  sRGB:"r248 g153 b39",
  guid:"12e5df75-11dc-400f-939f-c7d8bd7a95f8",
  accessibility_white_text:"",
  accessibility_black_text:"AAaa"
  }
  */

}

.Brand_Orange_150 {
  background-color: $Brand_Orange_150;

  /*
   {
  Hex:"#f36f20",
  CMYK:"c0 m70 y100 k0",
  AdobeRGB:"r215 g111 b44",
  sRGB:"r243 g111 b32",
  guid:"d64dcde0-f5b5-4689-93f7-8313175ef618",
  accessibility_white_text:"",
  accessibility_black_text:"AAaa"
  }
  */

}

.Brand_Orange_200 {
  background-color: $Brand_Orange_200;

  /*
   {
  Hex:"#da4d1e",
  CMYK:"c0 m82 y100 k10",
  AdobeRGB:"r190 g79 b38",
  sRGB:"r218 g77 b30",
  guid:"6cbe3a22-21ae-4e54-af13-e0db797a6346",
  accessibility_white_text:"AA",
  accessibility_black_text:"AAaa"
  }
  */

}

.Brand_Red_100 {
  background-color: $Brand_Red_100;

  /*
   {
  Hex:"#de2900",
  CMYK:"c7 m95 y100 k0",
  AdobeRGB:"r0 g0 b0",
  sRGB:"r222 g41 b0",
  guid:"ca450d51-156e-4d0d-a1e6-49205555fc4b",
  accessibility_white_text:"AAaa",
  accessibility_black_text:"AA"
  }
  */

}


/* -- Esri Brand Green -- */

.Brand_Green_100 {
  background-color: $Brand_Green_100;

  /*
   {
  Hex:"#d1e391",
  CMYK:"c20 m0 y55 k0",
  AdobeRGB:"r213 g226 b148",
  sRGB:"r209 g227 b145",
  guid:"74d795a0-7cc4-4cf5-8d6d-4ae147179d93",
  accessibility_white_text:"",
  accessibility_black_text:"AAaa"
  }
  */

}

.Brand_Green_150 {
  background-color: $Brand_Green_150;

  /*
   {
  Hex:"#aad04b",
  CMYK:"c38 m0 y90 k0",
  AdobeRGB:"r180 g207 b87",
  sRGB:"r170 g208 b75",
  guid:"c0bead6b-3d92-4fb0-a126-f73517e33f8c",
  accessibility_white_text:"",
  accessibility_black_text:"AAaa"
  }
  */

}

.Brand_Green_200 {
  background-color: $Brand_Green_200;

  /*
   {
  Hex:"#35ac46",
  CMYK:"c75 m0 y100 k5",
  AdobeRGB:"r105 g170 b79",
  sRGB:"r53 g172 b70",
  guid:"f23988a2-1cde-490f-940e-7bdf39db9f52",
  accessibility_white_text:"",
  accessibility_black_text:"AAaa"
  }
  */

}

.Brand_Green_250 {
  background-color: $Brand_Green_250;

  /*
   {
  Hex:"#2a7433",
  CMYK:"c73 m9 y94 k39",
  AdobeRGB:"r74 g115 b58",
  sRGB:"r42 g116 b51",
  guid:"f270cfb7-6cd9-4597-ba90-d812fb7f65d3",
  accessibility_white_text:"AAaa",
  accessibility_black_text:"AA"
  }
  */

}

/* -- Esri Brand Purple -- */

.Brand_Purple_100 {
  background-color: $Brand_Purple_100;

  /*
   {
  Hex:"#dfcce3",
  CMYK:"c10 m20 y0 k0",
  AdobeRGB:"r217 g203 b226",
  sRGB:"r223 g203 b227",
  guid:"d5b964e1-cebf-4e38-973d-ec272a90371d",
  accessibility_white_text:"",
  accessibility_black_text:"AAaa"
  }
  */

}

.Brand_Purple_150 {
  background-color: $Brand_Purple_150;

  /*
   {
  Hex:"#b279b4",
  CMYK:"c30 m60 y0 k0",
  AdobeRGB:"r163 g121 b177",
  sRGB:"r178 g122 b179",
  guid:"05c574ef-8588-4e97-9251-9130f9193978",
  accessibility_white_text:"AA",
  accessibility_black_text:"AAaa"
  }
  */

}

.Brand_Purple_200 {
  background-color: $Brand_Purple_200;

  /*
   {
  Hex:"#8f499c",
  CMYK:"c50 m85 y0 k0",
  AdobeRGB:"r127 g74 b152",
  sRGB:"r142 g73 b155",
  guid:"4efa3594-8b85-4b71-8f7f-d5e38ba8cca3",
  accessibility_white_text:"AAaa",
  accessibility_black_text:"AA"
  }
  */

}

.Brand_Purple_250 {
  background-color: $Brand_Purple_250;

  /*
   {
  Hex:"#6b1978",
  CMYK:"c60 m100 y0 k20",
  AdobeRGB:"r93 g32 b117",
  sRGB:"r102 g26 b100",
  guid:"462cd8c4-ea73-40ac-8d22-ccce6b27f25b",
  accessibility_white_text:"AAaa",
  accessibility_black_text:""
  }
  */

}

/* -- Esri Brand Brown -- */

.Brand_Brown_100 {
  background-color: $Brand_Brown_100;

  /*
   {
  Hex:"#ecdcb9",
  CMYK:"c2 m7 y26 k5",
  AdobeRGB:"r232 g219 b185",
  sRGB:"r236 g220 b185",
  guid:"942a8da4-fa03-4d1f-977e-a6327c8c0a14",
  accessibility_white_text:"",
  accessibility_black_text:"AAaa"
  }
  */

}

.Brand_Brown_150 {
  background-color: $Brand_Brown_150;

  /*
   {
  Hex:"#be9969",
  CMYK:"c7 m27 y55 k22",
  AdobeRGB:"r179 g152 b107",
  sRGB:"r190 g153 b105",
  guid:"854a356c-36b8-4c14-a54f-dca3c85ba2e1",
  accessibility_white_text:"",
  accessibility_black_text:"AAaa"
  }
  */

}

.Brand_Brown_200 {
  background-color: $Brand_Brown_200;

  /*
   {
  Hex:"#7b4f1c",
  CMYK:"c17 m52 y87 k50",
  AdobeRGB:"r112 g80 b37",
  sRGB:"r123 g79 b28",
  guid:"240ba3a7-fec3-4639-bbb8-ed38a47743ae",
  accessibility_white_text:"AAaa",
  accessibility_black_text:""
  }
  */

}

.Brand_Brown_250 {
  background-color: $Brand_Brown_250;

  /*
   {
  Hex:"#523b20",
  CMYK:"c25 m45 y70 k70",
  AdobeRGB:"r78 g62 b39",
  sRGB:"r82 g59 b32",
  guid:"e7975f09-420f-4467-bbe4-1f9292b1abf8",
  accessibility_white_text:"AAaa",
  accessibility_black_text:""
  }
  */

}

/* -- Esri Brand Gray -- */

.Brand_Gray_100 {
  background-color: $Brand_Gray_100;

  /*
   {
  Hex:"#b4b4b4",
  CMYK:"c0 m0 y0 k35",
  AdobeRGB:"r178 g178 b178",
  sRGB:"r180 g180 b180",
  guid:"d985a8fd-68f3-4c8e-9af4-dbda932b8cfe",
  accessibility_white_text:"",
  accessibility_black_text:"AAaa"
  }
  */

}

.Brand_Gray_150 {
  background-color: $Brand_Gray_150;

  /*
   {
  Hex:"#969696",
  CMYK:"c0 m0 y0 k50",
  AdobeRGB:"r150 g150 b150",
  sRGB:"r150 g150 b150",
  guid:"b8fdaa89-975e-45b8-b001-abfb359eb0d1",
  accessibility_white_text:"",
  accessibility_black_text:"AAaa"

  }
  */

}

.Brand_Gray_200 {
  background-color: $Brand_Gray_200;

  /*
   {
  Hex:"#6e6e6e",
  CMYK:"c0 m0 y0 k70",
  AdobeRGB:"r110 g110 b110",
  sRGB:"r110 g110 b110",
  guid:"520fe793-6207-4373-9b30-9584d69eed2a",
  accessibility_white_text:"AAaa",
  accessibility_black_text:"AA"

  }
  */

}

.Brand_Gray_250 {
  background-color: $Brand_Gray_250;

  /*
   {
  Hex:"#464646",
  CMYK:"c0 m0 y0 k88",
  AdobeRGB:"r71 g71 b71",
  sRGB:"r70 g70 b70",
  guid:"404d0353-df2a-41fd-8c66-24604343d84c",
  accessibility_white_text:"AAaa",
  accessibility_black_text:""
  }
  */

}











