@import "../../scss/variables_dark";


//*
//{
//name: "Calcite Highlight Colors Dark",
//tags: "Calcite Highlight,Calcite,Dark"
//}
//*/

//* -- Calcite Highlight_Blue -- *//

.Calcite_Highlight_Blue_100 {
  background-color: $Calcite_Highlight_Blue_100;

  /*
   {
  Hex:"#284965",
  RGB:"r40 g73 b101",
  guid:"9d9b40c8-bcf8-4daf-bc2e-cda7a945dbfe",
  accessibility_white_text:"AAaa",
  accessibility_black_text:""
  }
  */

}

.Calcite_Highlight_Blue_150 {
  background-color: $Calcite_Highlight_Blue_150;

  /*
   {
  Hex:"#3C6D98",
  RGB:"r60 g109 b152",
  guid:"abff3827-47ce-48cd-ad38-3fdd15fdf403",
  accessibility_white_text:"AAaa",
  accessibility_black_text:"AA"
  }
  */

}


.Calcite_Highlight_Blue_200 {
  background-color: $Calcite_Highlight_Blue_200;

  /*
   {
  Hex:"#1061A5",
  RGB:"r16 g97 b165",
  guid:"7eb5c97a-acb0-402c-9144-efebee945178",
  accessibility_white_text:"AAaa",
  accessibility_black_text:"AA"
  }
  */

}


.Calcite_Highlight_Blue_250 {
  background-color: $Calcite_Highlight_Blue_250;

  /*
   {
  Hex:"#136FBF",
  RGB:"r19 g111 b191",
  guid:"0cb9beea-9b8c-4c65-9248-4a5b18531fba",
  accessibility_white_text:"AAaa",
  accessibility_black_text:"AA"
  }
  */

}


.Calcite_Highlight_Blue_300 {
  background-color: $Calcite_Highlight_Blue_300;

  /*
   {
  Hex:"#80BCE0",
  RGB:"r128 g188 b224",
  guid:"38f2919c-06ad-460a-8b0c-0a744db64124",
  accessibility_white_text:"AA",
  accessibility_black_text:"AAaa"
  }
  */

}


.Calcite_Highlight_Blue_350 {
  background-color: $Calcite_Highlight_Blue_350;

  /*
   {
  Hex:"#2493F2",
  RGB:"r36 g147 b242",
  guid:"2ca7fdf2-ec0c-476d-87a9-9f380f87e8e0",
  accessibility_white_text:"AA",
  accessibility_black_text:"AAaa"
  }
  */

}


.Calcite_Highlight_Blue_400 {
  background-color: $Calcite_Highlight_Blue_400;

  /*
   {
  Hex:"#3FA6FF",
  RGB:"r63 g166 b255",
  guid:"0e23bbec-ea9a-4141-8ff5-85eff51dcd02",
  accessibility_white_text:"",
  accessibility_black_text:"AAaa"
  }
  */

}


//* -- Calcite Highlight Green -- */


.Calcite_Highlight_Green_100 {
  background-color: $Calcite_Highlight_Green_100;

  /*
   {
  Hex:"#1f581f",
  RGB:"r31 g88 b31",
  guid:"7afcbda4-d694-4058-84ba-3f088eea4e7c",
  accessibility_white_text:"AAaa",
  accessibility_black_text:"AA"
  }
  */

}

.Calcite_Highlight_Green_150 {
  background-color: $Calcite_Highlight_Green_150;

  /*
   {
  Hex:"#468b46",
  RGB:"r70 g139 b70",
  guid:"434a4524-83a7-44e4-abbf-2b0e138deff3",
  accessibility_white_text:"AA",
  accessibility_black_text:"AAaa"
  }
  */

}


.Calcite_Highlight_Green_200 {
  background-color: $Calcite_Highlight_Green_200;

  /*
   {
  Hex:"#247924",
  RGB:"r36 g121 b36",
  guid:"c631a293-e5f6-46bf-973b-979c870239f7",
  accessibility_white_text:"AAaa",
  accessibility_black_text:"AA"
  }
  */

}


.Calcite_Highlight_Green_250 {
  background-color: $Calcite_Highlight_Green_250;

  /*
   {
  Hex:"#298b29",
  RGB:"r41 g139 b41",
  guid:"fb0fa22b-7ef8-4658-9c13-b657587aacbf",
  accessibility_white_text:"AA",
  accessibility_black_text:"AAaa"
  }
  */

}


.Calcite_Highlight_Green_300 {
  background-color: $Calcite_Highlight_Green_300;

  /*
   {
  Hex:"#30a230",
  RGB:"r48 g162 b48",
  guid:"326cee71-a89f-4d7c-8eaa-3089d1587f40",
  accessibility_white_text:"AA",
  accessibility_black_text:"AAaa"
  }
  */

}


.Calcite_Highlight_Green_350 {
  background-color: $Calcite_Highlight_Green_350;

  /*
   {
  Hex:"#33ac33",
  RGB:"r51 g172 b51",
  guid:"75d53b8a-d9e6-42e4-87f8-b8c0e6b14b04",
  accessibility_white_text:"",
  accessibility_black_text:"AAaa"
  }
  */

}


.Calcite_Highlight_Green_400 {
  background-color: $Calcite_Highlight_Green_400;

  /*
   {
  Hex:"#38be38",
  RGB:"r56 g190 b56",
  guid:"63b45775-fd77-49b8-a86b-a8fdd0b24d14",
  accessibility_white_text:"",
  accessibility_black_text:"AAaa"
  }
  */

}