.esriRFxWeightedSumTableEditor .field-idNum {
  width: 3em;
}

.esriRFxWeightedSumTableEditor .field-idNum.dgrid-sortable {
  width: 2.75em;
}

.esriRFxWeightedSumTableEditor .field-weight {
  width: 4em;
}

.esriRFxWeightedSumTableEditor .field-weight.dgrid-sortable {
  width: 3.7em;
}

.esriRFxWeightedSumTableEditor .dgrid .dijitNumberTextBox {
  height: 29px !important;
  width: 100%;
}