.esriRFxWeightedSumTableEditor .field-idNum {
  width: 3em;
}

.esriRFxWeightedSumTableEditor .field-weight {
  width: 4em;
}

.esriRFxWeightedSumTableEditor .dgrid .dijitNumberTextBox,
.esriRFxWeightedSumTableEditor .dgrid input {
  height: 2.5em;
  width: 100%;
}