/*!
This CSS resource incorporates links to font software which is the valuable copyrighted
property of Monotype Imaging and/or its suppliers. You may not attempt to copy, install,
redistribute, convert, modify or reverse engineer this font software. Please contact Monotype
Imaging with any questions regarding Web Fonts:  http://www.fonts.com
*/

@font-face {
  font-family: "Avenir Next W00";
  src: url("../base/fonts/avenir-next/Avenir_Next_W00_400.eot?#iefix");
  src: url("../base/fonts/avenir-next/Avenir_Next_W00_400.eot?#iefix") format("eot"), url("../base/fonts/avenir-next/Avenir_Next_W00_400.woff2") format("woff2"), url("../base/fonts/avenir-next/Avenir_Next_W00_400.woff") format("woff"), url("../base/fonts/avenir-next/Avenir_Next_W00_400.ttf") format("truetype"), url("../base/fonts/avenir-next/Avenir_Next_W00_400.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next W00";
  src: url("../base/fonts/avenir-next/Avenir_Next_W00_Italic_400.eot?#iefix");
  src: url("../base/fonts/avenir-next/Avenir_Next_W00_Italic_400.eot?#iefix") format("eot"), url("../base/fonts/avenir-next/Avenir_Next_W00_Italic_400.woff2") format("woff2"), url("../base/fonts/avenir-next/Avenir_Next_W00_Italic_400.woff") format("woff"), url("../base/fonts/avenir-next/Avenir_Next_W00_Italic_400.ttf") format("truetype"), url("../base/fonts/avenir-next/Avenir_Next_W00_Italic_400.svg") format("svg");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Avenir Next W00";
  src: url("../base/fonts/avenir-next/Avenir_Next_W00_600.eot?#iefix");
  src: url("../base/fonts/avenir-next/Avenir_Next_W00_600.eot?#iefix") format("eot"), url("../base/fonts/avenir-next/Avenir_Next_W00_600.woff2") format("woff2"), url("../base/fonts/avenir-next/Avenir_Next_W00_600.woff") format("woff"), url("../base/fonts/avenir-next/Avenir_Next_W00_600.ttf") format("truetype"), url("../base/fonts/avenir-next/Avenir_Next_W00_600.svg") format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next W00";
  src: url("../base/fonts/avenir-next/Avenir_Next_W00_Italic_600.eot?#iefix");
  src: url("../base/fonts/avenir-next/Avenir_Next_W00_Italic_600.eot?#iefix") format("eot"), url("../base/fonts/avenir-next/Avenir_Next_W00_Italic_600.woff2") format("woff2"), url("../base/fonts/avenir-next/Avenir_Next_W00_Italic_600.woff") format("woff"), url("../base/fonts/avenir-next/Avenir_Next_W00_Italic_600.ttf") format("truetype"), url("../base/fonts/avenir-next/Avenir_Next_W00_Italic_600.svg") format("svg");
  font-weight: 600;
  font-style: italic;
}
