.gcard-thumbnail__container {
  margin-left: 1rem;
  margin-right: 1rem;
  width: 50px;
  height: 50px; }
  html[dir="rtl"] .gcard-thumbnail__container {
    margin-right: 1rem; }
  html[dir="rtl"] .gcard-thumbnail__container {
    margin-left: 1rem; }

.gcard-thumbnail__svg-container > svg {
  width: 100%;
  height: 100%; }
  .gcard-thumbnail__svg-container > svg > text {
    font-size: 1.69949rem;
    line-height: 2.325rem; }
    @media screen and (max-width: 859px) {
      .gcard-thumbnail__svg-container > svg > text {
        font-size: 1.50357rem; } }
    @media screen and (max-width: 479px) {
      .gcard-thumbnail__svg-container > svg > text {
        font-size: 1.32812rem; } }

.btn-2018check__input {
  opacity: 0;
  position: absolute;
  cursor: pointer; }
  .btn-2018check__input:focus {
    box-shadow: none;
    border: none;
    outline: 1px dotted;
    outline: auto -webkit-focus-ring-color; }

.btn-2018check__input:focus + .btn-2018check__custom {
  border-color: #0079c1;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075), 0 0 5px rgba(81, 167, 232, 0.5);
  outline: none; }

.btn-2018check__custom {
  width: 16px;
  height: 16px;
  overflow: hidden;
  display: inline-block;
  background-color: #f8f8f8;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  vertical-align: -0.25em;
  margin-right: .25em;
  cursor: pointer;
  -webkit-transition: all 150ms linear;
  -o-transition: all 150ms linear;
  transition: all 150ms linear; }
  html[dir="rtl"] .btn-2018check__custom {
    margin-right: auto;
    margin-left: 0.25rem; }
  .btn-2018check__custom > svg {
    display: block;
    fill: #595959; }

.btn-2018check__custom--active {
  background-color: #0079c1;
  border-color: #0079c1; }
  .btn-2018check__custom--active > svg {
    fill: #ffffff; }

.gcard-gcc__container {
  padding-top: 1.1625rem;
  padding-bottom: 1.1625rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-top: 1px solid #dddddd;
  box-sizing: border-box;
  display: flex;
  position: relative;
  align-items: center;
  overflow: hidden; }
  html[dir="rtl"] .gcard-gcc__container {
    padding-right: 1rem; }
  html[dir="rtl"] .gcard-gcc__container {
    padding-left: 1rem; }
  @media screen and (max-width: 480px) {
    .gcard-gcc__container {
      padding-left: 0.5rem;
      padding-right: 0.5rem; }
      html[dir="rtl"] .gcard-gcc__container {
        padding-right: 0.5rem; }
      html[dir="rtl"] .gcard-gcc__container {
        padding-left: 0.5rem; } }

.gcard-gcc__container--active {
  border-top: 1px solid #0079c1;
  background-color: #d2e9f9; }
  .gcard-gcc__container--active:after {
    border-top: 1px solid #0079c1;
    bottom: -1px;
    content: "";
    left: 0px;
    position: absolute;
    width: 100%;
    z-index: 1; }

.gcard-gcc__flex {
  display: flex;
  flex: 1;
  justify-content: space-between; }

.gcard-gcc__title-owner {
  display: inline-block;
  max-width: 16rem; }
  @media screen and (max-width: 480px) {
    .gcard-gcc__title-owner {
      max-width: 180px; } }

.gcard-gcc__title {
  font-size: 1.2019rem;
  line-height: 1.55rem;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  text-overflow: ellipsis; }
  @media screen and (max-width: 859px) {
    .gcard-gcc__title {
      font-size: 1.1305rem; } }
  @media screen and (max-width: 479px) {
    .gcard-gcc__title {
      font-size: 1.0625rem; } }

.gcard-gcc__owner {
  font-size: 0.8125rem;
  line-height: 1.55rem;
  display: block; }

.gcard-gcc__small-info {
  font-size: 0.8125rem;
  line-height: 1.55rem;
  color: #959595;
  display: none; }
  @media screen and (max-width: 860px) {
    .gcard-gcc__small-info {
      display: block; } }

.gcard-gcc__info {
  font-size: 0.875rem;
  line-height: 1.55rem;
  font-weight: 500;
  font-style: normal;
  color: #6e6e6e;
  display: flex;
  align-items: center; }
  .gcard-gcc__info b,
  .gcard-gcc__info strong {
    font-weight: 600; }
  @media screen and (max-width: 860px) {
    .gcard-gcc__info {
      display: none; } }
