.drp-accordion__content {
  display: block;
  padding: .75rem .6rem;
  font-size: 0.875rem; }

.drp-accordion__content--no-padding {
  padding: 0; }

.drp-accordion__clear-btn {
  font-size: 0.8125rem;
  line-height: 1.55rem;
  float: right;
  padding: 0;
  border: none;
  color: #4c4c4c;
  text-decoration: none;
  white-space: normal;
  font-weight: inherit;
  text-align: left;
  cursor: pointer;
  background-color: transparent;
  overflow: visible; }
  html[dir="rtl"] .drp-accordion__clear-btn {
    float: left; }
  .drp-accordion__clear-btn:hover {
    text-decoration: underline;
    background-color: transparent;
    color: #323232; }

.esriRtl .drp-accordion__clear-btn {
  text-align: right; }

.drp-accordion__title {
  margin: 0;
  padding: 0.51667rem;
  font-weight: 400;
  font-style: normal;
  font-size: 0.9375rem;
  line-height: 1.55rem;
  background-color: #f8f8f8;
  border-top: 1px solid #efefef;
  cursor: pointer;
  background-color: transparent;
  border-top: 1px solid #ddd; }
  .drp-accordion__title b,
  .drp-accordion__title strong {
    font-weight: 500; }
  .drp-accordion__title:focus, .drp-accordion__title:hover {
    -webkit-transition: all, 150ms linear;
    transition: all, 150ms linear;
    background-color: #f4f4f4;
    outline: none; }
  .drp-accordion__title:focus, .drp-accordion__title:hover {
    background-color: rgba(0, 0, 0, 0.035); }

.drp-accordion__icon > svg {
  fill: currentColor;
  pointer-events: none;
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  padding-right: .15em;
  transform: rotate(-90deg); }
  html[dir="rtl"] .drp-accordion__icon > svg {
    transform: rotate(90deg); }

.drp-accordion__icon--active > svg {
  transform: rotate(0deg); }
  html[dir="rtl"] .drp-accordion__icon--active > svg {
    transform: rotate(0deg); }

.btn-check-toggle__item {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  list-style-type: none;
  line-height: 1.25rem;
  position: relative; }
  .btn-check-toggle__item:before {
    content: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2213%22%20height%3D%2213%22%20viewBox%3D%220%200%2032%2032%22%20class%3D%22svg-icon%22%3E%3Cpath%20fill%3D%22%23cccccc%22%20d%3D%22M11.927%2022l-6.882-6.883-3%203L11.927%2028%2031.204%208.728l-3.001-3.001z%22%2F%3E%3C%2Fsvg%3E");
    left: 0;
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 50ms linear;
    -o-transition: opacity 50ms linear;
    transition: opacity 50ms linear;
    pointer-events: none;
    margin-top: 1px; }
  .btn-check-toggle__item:hover:before {
    opacity: 1; }
  html[dir="rtl"] .btn-check-toggle__item:before {
    left: 100%; }

.btn-check-toggle__item--active:before {
  opacity: 1;
  content: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2213%22%20height%3D%2213%22%20viewBox%3D%220%200%2032%2032%22%20class%3D%22svg-icon%22%3E%3Cpath%20fill%3D%22%235a9359%22%20d%3D%22M11.927%2022l-6.882-6.883-3%203L11.927%2028%2031.204%208.728l-3.001-3.001z%22%2F%3E%3C%2Fsvg%3E"); }

.btn-check-toggle__button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  margin-bottom: 0.31rem;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 400;
  color: #4c4c4c;
  margin-left: 1rem;
  display: inline-block;
  text-align: left;
  max-width: calc(100% - 2rem); }
  .btn-check-toggle__button:hover {
    color: #4c4c4c; }
    .btn-check-toggle__button:hover > .btn-check-toggle__text {
      text-decoration: underline; }
  html[dir="rtl"] .btn-check-toggle__button {
    margin-right: 1rem;
    margin-left: 0;
    text-align: right; }

.btn-check-toggle__button--active {
  font-weight: 600; }

.btn-check-toggle__sub-list {
  padding-left: 1rem;
  margin-left: 0;
  margin-bottom: 0; }
  html[dir="rtl"] .btn-check-toggle__sub-list {
    padding-right: 1rem; }

.btn-check-toggle__text {
  word-wrap: break-word; }

.btn-check-toggle__count {
  display: inline-block;
  font-size: 0.8125rem;
  line-height: 1.55rem;
  line-height: inherit; }

.ftr-categories__tree {
  margin-left: 0;
  margin-bottom: 0; }
