.calcite .SearchTextBox {
    white-space: nowrap;
}

.calcite .SearchTextBox .dijitInputContainer {
    display: inline-block;
    width: 80%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    vertical-align: middle;
    border: 1px solid #CBCBCB;
    height: 28px;
}

.calcite .SearchTextBox_PromptMode {
    color: #b6b6b6 !important;
    font-style: italic;
}

.calcite .SearchTextBox_SearchBox {
    display: inline-block;
    position: relative;
    background: url('../../../dijit/geoenrichment/themes/common/images/dataSearchIcon.png') no-repeat center center;
    width: 16px;
    height: 16px;
    margin-left: -22px;
    vertical-align: middle;
    cursor: pointer;
}