.nav-tabnav__btn {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  border: 1px solid #dddddd;
  border-bottom: none;
  padding: .25em .75em;
  color: #005e95;
  font-size: 0.9375rem;
  line-height: 1.55rem;
  background-color: #efefef;
  box-sizing: border-box;
  transition: background-color 150ms linear, color 150ms 150ms linear;
  outline: none;
  position: relative; }
  .nav-tabnav__btn:hover, .nav-tabnav__btn:focus {
    background-color: rgba(0, 0, 0, 0.02);
    background-image: linear-gradient(to top, transparent 94%, #0079c1 96%, #0079c1 100%); }
  @media screen and (max-width: 860px) {
    .nav-tabnav__btn {
      display: none; } }

.nav-tabnav__btn--active {
  background-color: white; }
  .nav-tabnav__btn--active:hover {
    background-color: white;
    background-image: none; }
  .nav-tabnav__btn--active:after {
    border-top: 1px solid white;
    bottom: -1px;
    content: "";
    left: 0px;
    position: absolute;
    width: 100%;
    z-index: 1; }

.nav-tabnav__nav {
  padding-top: 0.775rem;
  background-color: white; }

.nav-tabnav__mobile-menu {
  display: none; }
  @media screen and (max-width: 860px) {
    .nav-tabnav__mobile-menu {
      display: flex;
      justify-content: flex-end; } }

.nav-tabnav__section-dropdown-text {
  margin-bottom: 0.775rem;
  font-size: 1.2019rem;
  line-height: 1.55rem;
  font-weight: 500; }
  @media screen and (max-width: 859px) {
    .nav-tabnav__section-dropdown-text {
      font-size: 1.1305rem; } }
  @media screen and (max-width: 479px) {
    .nav-tabnav__section-dropdown-text {
      font-size: 1.0625rem; } }
