.esri-tags .select2-container-multi .select2-choices {
  list-style-type:none;
}

.esri-tags .select2-container-multi .select2-choices .select2-search-choice {
  padding: 3px 18px 3px 3px;
  margin: 3px 5px 3px 5px;
  position: relative;
  line-height: 13px;
  color: #333;
  cursor: default;
  border: 1px solid #7FBBDF;
  display:inline-block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 2px #ffffff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 2px #ffffff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 2px #ffffff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #D1E9F9;
  filter: none;
  background-image: none;
}

.esri-tags .select2-container-multi .select2-search-choice-close {
  left: 3px;
}

.esri-tags .select2-search-choice-close {
  background-image: url("../../../themes/calcite/images/ago_sprite.png") !important;
  background-position: -48px -81px;
  width: 13px;
  height: 13px;
  display:block;
  position: absolute;
  left: auto;
  right: 3px;
  top: 3px;
  font-size: 1px;
  outline: none;
}

.esri-tags .select2-search-choice-close:hover,
.esri-tags .select2-search-choice-close:focus { background-position: -32px -81px; }

.esri-tags .select2-container .dgrid-row.ui-state-default {
  padding:3px 3px 4px 3px;
  cursor:pointer;
  outline: none !important;
}

.esri-tags .select2-container .dgrid-row.ui-state-default.dgrid-row-odd { background:#eee; }

.esri-tags .select2-container .dgrid-row.ui-state-default.dgrid-hover,
.esri-tags .select2-container .dgrid-row.ui-state-default.dgrid-row-odd.dgrid-hover,
.esri-tags .dgrid-focus,
.esri-tags .select2-container-multi .select2-choices .select2-search-choice-focus {
  background: #E1F0FB !important;
}

.esri-tags .select2-container .dgrid-no-data {
  color: #969696;
  font-size: 1.3em;
  padding: 1em;
  text-align: center;
}

.esri-tags .select2-container .dgrid-scroller { outline: none !important; }

.esri-tags .select2-container-multi .select2-choices .select2-search-choice {
  padding: 3px 20px 3px 3px;
  float: left;
}

.dj_rtl .esri-tags .select2-container-multi .select2-choices .select2-search-choice {
  padding: 3px 5px 3px 18px;
  float: right;
}

.dj_rtl .esri-tags .select2-container-multi .select2-search-choice-close { right: auto; left: 3px; }

.esri-tags .dijitReset .dijitInputInner, .esri-tags .dijitInputField {
  
  
  margin-left: 0.3em;
}

.dj_rtl .esri-tags .dijitReset .dijitInputInner,
.dj_rtl .esri-tags .dijitInputField {
  margin-left: 0;
  margin-right: 0.3em;
}

.esri-tags .dijitInputInner {
  background-color: white !important;
}

div.esri-tags {
  outline: none;
}



.esri-tags .highlight-match {
  color: red;
}


.esri-tags .dgrid-no-data, .esri-tags .dgrid-loading {
  color: #aaa;
  font-size: 2em;
  padding: 1em;
  text-align: center;
}



.esri-tags .dgrid-selected {
  background: #999;
}


.esri-tags .dgrid-cell {
  border: none !important;
}

.esri-tags .dgrid-focus {
  background-color: #CCCCCC;
}

.esri-tags .dijitInputInner {
  background-color: white !important;
}

.esri-tags .dgrid-scroller {
  margin-top: 0 !important;
}


.esri-tags .dijitButton {
  position: absolute !important;
  top: 120px !important;
}


.esri-tags .rtl {
  padding-right: 1em;
}

.esri-tags .grid-height-limiter {
  height: 6em;
}

.esri-tags .select2-container {
  margin: 0;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.esri-tags .select2-container,
.esri-tags .select2-search,
.esri-tags .select2-search input {
  
  -webkit-box-sizing: border-box; 
  -khtml-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  -ms-box-sizing: border-box; 
  box-sizing: border-box; 
}

.esri-tags .select2-container .select2-choice {
  display: block;
  height: 26px;
  padding: 0 0 0 8px;
  overflow: hidden;
  position: relative;
  border: 1px solid #aaa !important;
  white-space: nowrap;
  line-height: 26px;
  color: #444;
  text-decoration: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fff;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(0.5, white));
  background-image: -webkit-linear-gradient(center bottom, #eeeeee 0%, white 50%);
  background-image: -moz-linear-gradient(center bottom, #eeeeee 0%, white 50%);
  background-image: -o-linear-gradient(bottom, #eeeeee 0%, #ffffff 50%);
  background-image: -ms-linear-gradient(top, #ffffff 0%, #eeeeee 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#eeeeee", GradientType=0);
  background-image: linear-gradient(top, #ffffff 0%, #eeeeee 50%);
}

.esri-tags .select2-container .select2-choice span {
  margin-right: 26px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.esri-tags .select2-search {
  display: inline-block;
  width: 100%;
  min-height: 26px;
  margin: 0;
  padding-left: 4px;
  padding-right: 4px;
  position: relative;
  z-index: 10000;
  white-space: nowrap;
}

.esri-tags .select2-search input {
  width: 100%;
  height: auto !important;
  min-height: 26px;
  padding: 4px 20px 4px 5px;
  margin: 0;
  outline: 0;
  font-family: sans-serif;
  font-size: 1em;
  border: 1px solid #aaa;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #fff url("../images/select.png") no-repeat 100% -22px;
  background: url("../images/select.png") no-repeat 100% -22px, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee));
  background: url("../images/select.png") no-repeat 100% -22px, -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%);
  background: url("../images/select.png") no-repeat 100% -22px, -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
  background: url("../images/select.png") no-repeat 100% -22px, -o-linear-gradient(bottom, white 85%, #eeeeee 99%);
  background: url("../images/select.png") no-repeat 100% -22px, -ms-linear-gradient(top, #ffffff 85%, #eeeeee 99%);
  background: url("../images/select.png") no-repeat 100% -22px, linear-gradient(top, #ffffff 85%, #eeeeee 99%);
}


.esri-tags .select2-container-multi .select2-choices {
  height: auto !important;
  height: 1%;
  margin: 0;
  padding: 0;
  position: relative;
  border: 1px solid #aaa;
  cursor: text;
  overflow: hidden;
}

.esri-tags .select2-container-multi .select2-choices {
  min-height: 26px;
}

.esri-tags .select2-container-multi.select2-container-active .select2-choices {
  border: 1px solid #5897fb;
  outline: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, .3);
  box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}

.esri-tags .select2-container-multi .select2-choices li {
  float: left;
  list-style: none;
}

.esri-tags .select2-container-multi .select2-choices .select2-search-field {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.esri-tags .select2-container-multi .select2-choices .select2-search-field input {
  padding: 5px;
  margin: 1px 0;
  font-family: sans-serif;
  font-size: 100%;
  color: #666;
  outline: 0;
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: transparent !important;
}

.esri-tags .select2-default {
  color: #999 !important;
}

.esri-tags .select2-container-multi .select2-choices .select2-search-choice {
  padding: 3px 5px 3px 18px;
  margin: 3px 0 3px 5px;
  position: relative;
  line-height: 13px;
  color: #333;
  cursor: default;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 2px #ffffff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 2px #ffffff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 2px #ffffff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.esri-tags .select2-container-multi .select2-choices .select2-search-choice span {
  cursor: default;
}

.esri-tags .select2-container-multi .select2-choices .select2-search-choice-focus {
  background: #d4d4d4;
}

.esri-tags .select2-search-choice-close {
  display: block;
  width: 12px;
  height: 13px;
  position: absolute;
  right: 3px;
  top: 3px;
  font-size: 1px;
  outline: none;
}

.esri-tags .dijitReset .dijitInputInner,
.esri-tags .dijitInputField {
  line-height: 23px;
  padding: 2px 0 0 !important;
  outline: none;
}

.esri-tags .ie-style .dijitReset .dijitInputInner,
.esri-tags .ie-style .dijitInputField {
  line-height: 21px !important;
  padding: 2px 0 2px !important;
}

.esri-tags .dijitPlaceHolder {
  left: 0 !important;
}

.dj_rtl .esri-tags .dijitPlaceHolder {
  left: auto;
  right: 0 !important;
}

.esri-tags .input-text-box {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  border: none !important;
  margin-left: 10px;
}

.esri-tags .drop-down-list {
  display: none;
  position: absolute;
  z-index: 999;
  -moz-box-shadow: 2px 2px 20px #888888;
  -webkit-box-shadow: 2px 2px 20px #888888;
  box-shadow: 2px 2px 20px #888888;
  background-color: white;
}

.esri-tags .select2-container-multi .select2-choices .select2-search-choice {
  padding: 3px 20px 3px 3px;
  float: left;
}

.dj_rtl .esri-tags .select2-container-multi .select2-choices .select2-search-choice {
  padding: 3px 3px 3px 20px;
  float: right;
}

.esri-tags .select2-container-multi .select2-search-choice-close {
  right: 3px;
  left: auto;
}

.dj_rtl .esri-tags .select2-container-multi .select2-search-choice-close {
  left: 3px;
  right: auto;
}


.esri-tags .container_2 {
  width: 92%;
  margin-left: 4%;
  margin-right: 4%;
}

.esri-tags .grid_1,
.esri-tags .grid_2 {
  display:inline;
  float: left;
  position: relative;
  margin: 0;
}

.dj_rtl .esri-tags .grid_1,
.dj_rtl .esri-tags .grid_2 {
  float: right;
}

.esri-tags .alpha {
  margin-left: 0;
}

.esri-tags .omega {
  margin-right: 0;
}

.esri-tags .container_2 .grid_1 {
  width:48.0%;
}

.esri-tags .container_2 .grid_2 {
  width:98.0%;
}

.esri-tags .container_2 .prefix_1 {
  padding-left:50.0%;
}

.esri-tags .container_2 .suffix_1 {
  padding-right:50.0%;
}

.esri-tags .container_2 .push_1 {
  left:50.0%;
}

.esri-tags .container_2 .pull_1 {
  left:-50.0%;
}


.esri-tags .clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}


.esri-tags .clearfix:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}

.esri-tags .clearfix {
  display: inline-block;
}

.esri-tags .clearfix {
  height: 1%;
}

.esri-tags .clearfix {
  display: block;
}
