/*
  Core Settings and Imports
*/

$include_widgets: true !default;

// Widget core
$include_Widget: $include_widgets !default;

// Widgets (sorted alphabetically)
$include_AreaMeasurement3D: $include_widgets !default;
$include_Attribution: $include_widgets !default;
$include_BasemapGallery: $include_widgets !default;
$include_BasemapToggle: $include_widgets !default;
$include_Bookmarks: $include_widgets !default;
$include_BrowseItems: $include_widgets !default;
$include_ColorPicker: $include_widgets !default;
$include_Compass: $include_widgets !default;
$include_CoordinateConversion: $include_widgets !default;
$include_DatePicker: $include_widgets !default;
$include_Directions: $include_widgets !default;
$include_Expand: $include_widgets !default;
$include_Feature: $include_widgets !default;
$include_HorizontalSlider: $include_widgets !default;
$include_LayerList: $include_widgets !default;
$include_Legend: $include_widgets !default;
$include_NavigationToggle: $include_widgets !default;
$include_Print: $include_widgets !default;
$include_DirectLineMeasurement3D: $include_widgets !default;
$include_Popup: $include_widgets !default;
$include_RasterSymbologyEditor: $include_widgets !default;
$include_RendererSlider: $include_widgets !default;
$include_ScaleBar: $include_widgets !default;
$include_Search: $include_widgets !default;
$include_Spinner: $include_widgets !default;
$include_Tags: $include_widgets !default; // TODO : make _Tags.scss use this var.  Currently something around line 251 is causing issues when it's in a mixin
$include_TimePicker: $include_widgets !default;
$include_Zoom: $include_widgets !default;

$icomoon-font-path: "../base/icons/fonts"; // Override for esri/themes/base/icons/style.scss

@import "fonts/avenir-next/avenir-next.scss";
@import "icons/style.scss";

@import "colorVariables";
@import "type";
@import "sizes";
@import "mixins";

@import "View";
@import "Ui";
@import "Overlay";
@import "OverlayItem";

@import "widgets/Widget";

// Widgets (sorted alphabetically)
@import "widgets/AreaMeasurement3D";
@import "widgets/Attribution";
@import "widgets/BasemapGallery";
@import "widgets/BasemapToggle";
@import "widgets/Bookmarks";
@import "widgets/BrowseItems";
@import "widgets/ColorPicker";
@import "widgets/Compass";
@import "widgets/CoordinateConversion";
@import "widgets/DatePicker";
@import "widgets/DijitTooltip";
@import "widgets/Directions";
@import "widgets/Expand";
@import "widgets/Feature";
@import "widgets/HorizontalSlider";
@import "widgets/IdentityDialog";
@import "widgets/LayerList";
@import "widgets/Legend";
@import "widgets/NavigationToggle";
@import "widgets/Popup";
@import "widgets/Print";
@import "widgets/DirectLineMeasurement3D";
@import "widgets/RasterSymbologyEditor";
@import "widgets/RendererSlider";
@import "widgets/ScaleBar";
@import "widgets/Search";
@import "widgets/SearchResultRenderer";
@import "widgets/Spinner";
@import "widgets/Tags";
@import "widgets/TimePicker";
@import "widgets/Zoom";
