////////////////////////////////////////
// Widget Common Mixins
@mixin boxShadow($arguments) {
  box-shadow: #{$arguments};
}

@mixin defaultBoxShadow() {
  @include boxShadow("0 1px 2px rgba(0, 0, 0, 0.3)");
}

@mixin borderBoxShadow() {
  box-shadow: 0 0 0 1px rgba($interactive-font-color, 0.3);
}

@mixin pointerStyle($width, $height) {
  content: "";
  position: absolute;
  width: $width + px;
  height: $height + px;
}

@mixin outlineStyle() {
  outline: 2px solid $interactive-font-color;
  outline-offset: 2px;
  z-index: 1;
}

@function sqrt($r) {
  $x0: 1;
  $x1: $x0;
  @for $i from 1 through 10 {
    $x1: $x0 - ($x0 * $x0 - abs($r)) / (2 * $x0);
    $x0: $x1;
  }
  @return $x1;
}

@mixin contentMaxHeightDockedSide($contentHeight) {
  $pageMenuHeight: $contentHeight - 60;
  .esri-popup--is-docked {
    &-top-left,
    &-top-right,
    &-bottom-left,
    &-bottom-right {
      .esri-popup__content {
        max-height: #{$contentHeight}px;
      }
    }
  }
}

@mixin mediaImgMaxWidth($max_width) {
  .esri-feature {
    .esri-feature__media-item {
      img {
        max-width: #{$max_width}px;
      }
    }
    .esri-feature--media-pagination-visible {
      .esri-feature__media-item {
        img {
          max-width: #{($max_width - 60)}px;
        }
      }
    }
  }
}

@mixin popupWidth_BasedOnViewSize($width) {
  .esri-popup__main-container {
    width: #{$width}px;
  }
}

@mixin popupHeight_BasedOnViewSize($height) {
  $pageMenuHeight: $height - 100;
  .esri-popup__main-container {
    max-height: #{$height}px;
  }
  &.esri-popup--feature-menu-open {
    .esri-popup__feature-menu-viewport {
      max-height: #{$pageMenuHeight}px;
    }
  }
}

@mixin measurementWidgetStyles($selector) {
  .#{$selector}__panel--error {
    color: $font-color--error;
    padding: 0 $side-spacing;
    animation: esri-fade-in 250ms ease-in-out;
  }

  .#{$selector}__hint {
    padding: 0 $side-spacing;
    animation: esri-fade-in 250ms ease-in-out;
  }

  .#{$selector}__hint-text {
    margin: $cap-spacing 0;
    padding: 0;
  }

  .#{$selector}__measurement {
    padding: $cap-spacing $side-spacing;
    margin: $cap-spacing 0;
    background-color: $background-color--offset;
    animation: esri-fade-in 250ms ease-in-out;
  }

  .#{$selector}__measurement-item {
    display: flex;
    padding-bottom: $cap-spacing;
    flex-flow: column;
  }

  .#{$selector}__measurement-item--disabled {
    display: flex;
    color: rgba($font-color, $opacity--disabled);
  }

  .#{$selector}__measurement-item-title {
    padding-bottom: $cap-spacing--quarter;
  }

  .#{$selector}__measurement-item-value {
    font-weight: $font-weight__bold;
  }

  .#{$selector}__settings {
    display: flex;
    justify-content: space-between;
    padding: $cap-spacing--half $side-spacing;
  }

  .#{$selector}__units {
    display: flex;
    flex: 0 1 48%;
    flex-flow: column;
    padding: 0;
    animation: esri-fade-in 250ms ease-in-out;
    &:only-child {
      flex: 1 0 100%;
    }
  }

  .#{$selector}__units-select-wrapper {
    width: 100%;
  }

  .#{$selector}__units-select {
    width: 100%;
    padding-left: 0.5em;
    padding-right: 2.7em;
  }

  .#{$selector}__actions {
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 0 $side-spacing;
  }

  html[dir="rtl"] {
    .#{$selector}__units-select {
      padding-left: 2.7em;
      padding-right: 0.5em;
    }
  }
}

@mixin loopingProgressBar($selector) {
  #{$selector}:before,
  #{$selector}:after {
    content: "";
    opacity: 1;
    position: absolute;
    height: 2px;
    top: 0;
    transition: opacity 500ms ease-in-out;
  }
  #{$selector}:before {
    background-color: $border-color;
    width: 100%;
    z-index: 1;
  }
  #{$selector}:after {
    background-color: $interactive-font-color;
    width: $looping-progress-bar-width;
    z-index: 2;
    animation: looping-progresss-bar-ani $looping-progress-bar-params;
  }
}
