// Sizes & Placement
$button_width                 : 32px  !default ;
$button_height                : 32px  !default ;
$panel_width                  : 300px !default ;
$side_spacing                 : 15px  !default ;
$cap_spacing                  : 12px  !default ;
$menu_gap                     : 5px   !default ;
$menu_placement               : 100%  !default ;
$docked_margin                : 15px  !default ;
$popup_pointer_width          : 12    !default ;
$popup_pointer_height         : 12    !default ;
$popup_pointer_scale_x        : 0.75  !default ;
$popup_pointer_scale_y        : 2     !default ;
$popup_pointer_corner_scale_x : 1     !default ;
$popup_pointer_corner_scale_y : 3.5   !default ;