// Sizes & Placement
$button_width                 : 32px  !default ;
$button_height                : 32px  !default ;
$panel_width                  : 300px !default ;
$panel_max_height             : 420px !default ;
$panel_min_height             : 32px  !default ;
$thumbnail_width              : 100px !default ;
$thumbnail_height             : 67px  !default ;
$side_spacing                 : 15px  !default ;
$cap_spacing                  : 12px  !default ;
$menu_gap                     : 5px   !default ;
$menu_placement               : 100%  !default ;
$docked_margin                : 15px  !default ;
$popup_pointer_width          : 12    !default ;
$popup_pointer_height         : 12    !default ;
$popup_pointer_scale_x        : 0.75  !default ;
$popup_pointer_scale_y        : 2     !default ;
$popup_pointer_corner_scale_x : 1     !default ;
$popup_pointer_corner_scale_y : 3.5   !default ;
$looping_progress_bar_width   : 20%   !default ;
$looping_progress_bar_params  : 1500ms linear infinite !default;

// Component Heights
$gt_medium_height             : 680px !default ;
$medium_height                : 540px !default ;
$small_height                 : 420px !default ;
$xsmall_height                : 240px !default ;