// Font
$font_family: "Avenir Next W00", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

// Text
$line_height: 1.3em !default;
$text_size: 14px !default;
$text_size_small: 12px !default;
$text_weight_title: 600 !default;
$text_weight_header: 600 !default;
$text_weight_normal: 400 !default;
$title_text_size: 16px !default;
$h1_text_size: 18px !default;
$h2_text_size: 14px !default;
$body_text_size: 12px !default;
$icon_text_size: 16px !default;
$table_text_size: 14px !default;
$caption_text_size: 10px !default;
$button_text_size: 16px !default;
