
.esri-view {

  overflow: hidden;
  margin: 0;
  padding: 0;

  .esri-view-root {
    position:  relative;
    border:    none;
    padding:   0;
    margin:    0;
    left:      0;
    top:       0;
    overflow:  hidden;
    width:     100%;
    height:    100%;
  }

  .esri-view-surface {
    position:  absolute;
    border:    none;
    padding:   0;
    margin:    0;
    left:      0;
    top:       0;
    overflow:  hidden;
    width:     100%;
    height:    100%;

    /*
     * TODO
     * Layers should probably manage this on their own
     */
    direction: ltr;
  }

  .esri-view-surface[data-interacting='true'] {
    cursor: move;
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }

  .esri-display-object,
  .esri-bitmap {
    position:  absolute;
    border:    none;
    margin:    0;
    padding:   0;
    // @dris0000 @juan6600
    // Keep these prefixes?
    -webkit-user-drag: none;
    -webkit-user-select: none;
  }

  .esri-bitmap {
    max-width: none;
    transform-origin: top left;
  }
}
