.esriAttributeInspector { width:100%; z-index: 99;}
.esriAttributeInspector .atiLayerName {margin:5px auto;font-weight:bold;border-bottom:1px solid #A9A9A9;}
.esriAttributeInspector .atiField { margin:1px; }
.esriAttributeInspector .atiRichTextField { margin:5px auto; }
.esriAttributeInspector .atiTextAreaField {}
.esriAttributeInspector .atiLabel { margin:1px;padding-right:5px; }
.esriAttributeInspector .atiTooltip {}

.esriAttributeInspector .atiNavMessage { float:left;margin:5px 5px auto auto; }
.esriAttributeInspector .atiButtons { margin:5px auto;padding-top:5px;border-top:1px solid #A9A9A9;}
.esriAttributeInspector .atiNavButtons { float:right; }
.esriAttributeInspector .atiButton { margin:0px;width:16px; height:16px;background-image:url(../images/attribute_inspector_sprite.png) }
.esriAttributeInspector .atiPrevIcon { background-position  : -32px 0px; }
.esriAttributeInspector .atiNextIcon { background-position  : -48px 0px; }
.esriAttributeInspector .atiFirstIcon { background-position : -16px 0px; }
.esriAttributeInspector .atiLastIcon { background-position  : 0px 0px; }
.esriAttributeInspector .atiDeleteButton { float:left; }

.esriAttributeInspector .atiAttachmentEditor { padding:10px; }
.esriAttributeInspector .atiEditorTrackingInfo { padding-top:10px; }

.esriAttributeInspector .dijitTextBoxDisabled input{ color:black; }


.dj_ie7 .dijitButtonNode > BUTTON.dijitButtonContents > * {
    position:static;
}

.esriAttributeInspector .dijitDateTextBox  {
margin:1px;
}
.esriAttributeInspector .dijitTimeTextBox {
width: 15em;
margin:1px;
}