div.esriRenderingRuleContainer {
  font-family: verdana,helvetica;
  font-size: 12px;  
}
.esriRenderingRuleTable {
  table-layout:fixed;
  border-collapse: separate;
  text-align: left;
  border-spacing: 0px 10px;
  width: 100%;
  max-width: 400px;
}
.esriRenderingRuleCol1 {
  width: 33%;
}
.esriRenderingRuleCol2{
  width: 33%;
}
.esriRenderingRuleCol3{
  width: 33%;
}
.esriRenderingRuleHeadingLabel {
  font-weight:bold;
  padding-bottom:10px;
}
.esriRenderingRuleEnhancementHeadingLabel{
  font-weight:bold;
  padding-bottom:25px;  
}
.esriRenderingRuleApply {
  text-align: center;
}
.esriRenderingRuleRasterFunctionList {
  padding:0px;
  margin:0px;
  width: 99%;
}
.esriRenderingRuleBandIdsRedList {
  padding:0px;
  margin:0px;
  color: Black;
  width: 100%;
}
.esriRenderingRuleBandIdsGreenList {
  padding:0px;
  margin:0px;
  color: Black;
  width: 100%;
}
.esriRenderingRuleBandIdsBlueList {
  padding:0px;
  margin:0px;
  color: Black;
  width: 98%;
}
.esriRenderingRuleFixedInput{
  padding-left:10px;
  width: 50px;
  font-family: inherit;
  font-size: inherit;  
}
.esriRenderingRuleMsgLabel {
  font-size: 11px;
  float:right;
  font: Verdana;
}
.esriRenderingRuleStretchMethodList {
  padding:0px;
  margin:0px;
  width: 100%;  
}
.esriRenderingRuleGammaSlider{
  width: 100%;
  padding-top:20px;
}
.esriRenderingRuleDraCheckbox {
  float: left;
}
.esriRenderingRuleDraLabel {
  padding-left:5px;
}
.esriRenderingRuleApplyButton {
  text-align: center;
  float: center;
  font-family: inherit;
  font-size: inherit;
}
.esriRenderingRuleRasterFunctionList.dijitReset {
  vertical-align: middle;
  line-height: inherit !important;
}
.esriRenderingRuleStretchMethodList .dijitReset {
  line-height: inherit !important;
}

.esriRenderingRuleBandIdsRedList .dijitInputInner,
.esriRenderingRuleBandIdsGreenList .dijitInputInner,
.esriRenderingRuleBandIdsBlueList .dijitInputInner,
.esriRenderingRuleRasterFunctionList .dijitInputInner { 
  height: 100%;
  line-height: 22px;
  
}

.esriRenderingRuleBandIdsRedList .dijitButtonNode.dijitArrowButton,
.esriRenderingRuleBandIdsGreenList .dijitButtonNode.dijitArrowButton,
.esriRenderingRuleBandIdsBlueList .dijitButtonNode.dijitDownArrowButton,
.esriRenderingRuleRasterFunctionList .dijitButtonNode.dijitDownArrowButton {
  padding-top: 3px!important;
  padding-bottom: 0px!important;
}

.esriRenderingRuleRasterFunctionList.dijitSelect input,
.esriRenderingRuleBandIdsRedList.dijitSelect input,
.esriRenderingRuleBandIdsGreenList.dijitSelect input,
.esriRenderingRuleBandIdsBlueList.dijitSelect input
{
  letter-spacing: 0!important;
  text-indent: 0!important;
  text-align: left!important;
}

.esriRenderingRuleBandIdsRedList.dijitSelect input.dijitArrowButtonInner,
.esriRenderingRuleBandIdsGreenList.dijitSelect input.dijitArrowButtonInner,
.esriRenderingRuleBandIdsBlueList.dijitSelect input.dijitArrowButtonInner,
.esriRenderingRuleRasterFunctionList.dijitSelect input.dijitArrowButtonInner {
  text-indent: -2em!important;
  letter-spacing: -5em!important;
}