/*
  Theme: Light (Default)
*/

$include_BasemapToggle    : false;
$include_ColorPicker      : false;
$include_HorizontalSlider : false;
$include_Legend           : false;
$include_RendererSlider   : false;
$include_Search           : false;
$include_Tags             : false;

@import "../base/core";
