.esriGEReportPlayerSelect.dijitSelect,
.esriGEReportPlayerSelect.dijitSelectHover,
.esriGEReportPlayerSelect.dijitSelectFocused,
.esriGEReportPlayerSelect.dijitSelectHoverFocused,
.esriGEReportPlayerSelect.dijitSelect .dijitButtonContents,
.esriGEReportPlayerSelect.dijitSelect .dijitArrowButton,
.esriGEReportPlayerSelect.dijitSelect .dijitArrowButtonInner,
.esriGEReportPlayerSelect.dijitSelect.dijitFocused {
    background-color: transparent;
    border: none;
    color: #4d4d4d;
}

    .esriGEReportPlayerSelect.dijitSelect .dijitArrowButton {
        background-image: none;
        color: #4d4d4d;
    }

        .esriGEReportPlayerSelect.dijitSelect .dijitArrowButton .dijitArrowButtonInner,
        .esriGEReportPlayerSelect.dijitSelectHover .dijitArrowButton .dijitArrowButtonInner,
        .esriGEReportPlayerSelect.dijitSelectFocused .dijitArrowButton .dijitArrowButtonInner,
        .esriGEReportPlayerSelect.dijitSelectHoverFocused .dijitArrowButton .dijitArrowButtonInner {
            background-image: url("../images/arrows/downArrow.svg");
            background-position: center;
        }



.esriGEReportPlayer.playerThemeDark .esriGEReportPlayerSelect.dijitSelect,
.esriGEReportPlayer.playerThemeDark .esriGEReportPlayerSelect.dijitSelectHover,
.esriGEReportPlayer.playerThemeDark .esriGEReportPlayerSelect.dijitSelectFocused,
.esriGEReportPlayer.playerThemeDark .esriGEReportPlayerSelect.dijitSelectHoverFocused,
.esriGEReportPlayer.playerThemeDark .esriGEReportPlayerSelect.dijitSelect .dijitButtonContents,
.esriGEReportPlayer.playerThemeDark .esriGEReportPlayerSelect.dijitSelect .dijitArrowButton,
.esriGEReportPlayer.playerThemeDark .esriGEReportPlayerSelect.dijitSelect .dijitArrowButtonInner,
.esriGEReportPlayer.playerThemeDark .esriGEReportPlayerSelect.dijitSelect.dijitFocused {
    color: white;
}

    .esriGEReportPlayer.playerThemeDark .esriGEReportPlayerSelect.dijitSelect .dijitArrowButton {
        color: white;
    }

        .esriGEReportPlayer.playerThemeDark .esriGEReportPlayerSelect.dijitSelect .dijitArrowButton .dijitArrowButtonInner,
        .esriGEReportPlayer.playerThemeDark .esriGEReportPlayerSelect.dijitSelectHover .dijitArrowButton .dijitArrowButtonInner,
        .esriGEReportPlayer.playerThemeDark .esriGEReportPlayerSelect.dijitSelectFocused .dijitArrowButton .dijitArrowButtonInner,
        .esriGEReportPlayer.playerThemeDark .esriGEReportPlayerSelect.dijitSelectHoverFocused .dijitArrowButton .dijitArrowButtonInner {
            background-image: url("../images/arrows/downArrowWhite.svg");
        }
