

.esriGEReportPlayerPrintNode .esriGEReportPlayer_reportContainerGrid.reportContainerPreviewMode .reportContainerGrid_mainContainer {
    text-align: left;
    overflow: hidden;
}

.esriGEReportPlayerPrintNode .esriGEReportPlayer_reportContainerGrid.reportContainerPreviewMode .reportContainerGrid_stackContainer {
    margin: 0px;
}

.esriGEReportPlayerPrintNode .esriGEReportPlayer_reportContainerGrid.reportContainerPreviewMode .reportContainerGrid_mainContainer {
    padding-left: 0px !important;
    padding-right: 0px !important;
    max-width: none !important;
    max-height: none !important;
}

.esriGEReportPlayerPrintNode .esriGEReportPlayer_reportContainerGrid.reportContainerPreviewMode .reportContainerGrid_stackContainer {
    border: none;
    display: block;
}

.esriGEReportPlayerPrintNode .esriGEReportPlayer_reportContainerGrid.reportContainerPreviewMode .reportContainerGrid_gridZoomFillerContainer {
    width: auto !important;
    height: auto !important;
    margin-top: 0px !important;
}

.esriGEReportPlayerPrintNode .esriGEReportPlayer_reportContainerGrid.reportContainerPreviewMode .reportContainerGrid_gridZoomScalableContainer {
    position: static !important;
}

.esriGEReportPlayerPrintNode .esriSimpleSliderTR {
    display: none;
}

.esriGEReportPlayerInPrinting .reportPlayer_header,
.esriGEReportPlayerInPrinting .reportPlayer_headerPageNavigator {
    display: none;
}



.esriGEReportPlayerPrintNode .dijitArrowButtonContainer {
    display: none;
}

.esriGEReportPlayerPrintNode .dijitSelect {
    border: none;
}

.esriGEReportPlayerPrintNode .WidgetBack .BaseSelectComparison_Select .dijitSelect .dijitButtonContents span {
    font-weight: bold;
}

.esriGEReportPlayerPrintNode .SortArrow {
    display: none;
}

.esriGEReportPlayerPrintNode .dynamicInfographic_viewDiv {
}

.esriGEReportPlayerPrintNode .Wizard_Link {
    display: none;
}



.esriGEReportPlayerPrintNode .Tapestry_thumbnail_Code {
    border-radius: 18px;
}

.esriGEReportPlayerPrintNode .Tapestry_Details_Image div:first-child {
    border-radius: 35px;
}

.esriGEReportPlayerPrintNode .Tapestry_Details_Table .Tapestry_Details_Image div:first-child {
    border-radius: 45px;
}

.esriGEReportPlayerPrintNode .Tapestry_Main_Arrow div {
    background-image: none;
}



.esriGEReportPlayerPrintNode .simpleInfographic_topToolbar {
    display: none;
}

.esriGEReportPlayerPrintNode .sectionDynamicSettings_settingsButton,
.esriGEReportPlayerPrintNode .simpleInfographic_drillDataButton,
.esriGEReportPlayerPrintNode .simpleInfographic_drillDataButtonIcon {
    display: none !important;
}



.esriGEReportPlayerPrintNode .esriGEAreaDetailsInfographic .areaDetails_noDetailsPlaceHolderImage {
    display: none;
}



.esriGEReportPlayerPrintNode .esriGEImageNavigator .noImage {
    display: none;
}
