

.esriGEReportPlayer {
    position: relative;
    min-height: 100px;
}

    

    .esriGEReportPlayer .reportPlayer_header {
        position: relative;
        height: 50px;
    }

        .esriGEReportPlayer .reportPlayer_header .reportPlayer_areaTitleDiv {
            position: absolute;
            left: 0px;
            right: 0px;
            top: 16px;
            text-align: center;
        }

        .esriGEReportPlayer .reportPlayer_header .reportPlayer_areaTitleInnerDiv {
            position: relative;
            text-align: left;
        }

        .esriGEReportPlayer .reportPlayer_header .reportPlayer_areasSelectDiv {
            position: absolute;
            top: 16px;
        }

        .esriGEReportPlayer .reportPlayer_header .reportPlayer_zoomSelectPageSelectBlock {
            position: absolute;
            
            top: 16px;
        }

        .esriGEReportPlayer .reportPlayer_header .reportPlayer_zoomSelectDiv {
        }

        .esriGEReportPlayer .reportPlayer_header .reportPlayer_pageSelectDiv {
            margin-left: 50px;
        }

        .esriGEReportPlayer .reportPlayer_header .reportPlayer_commandButtonsContainer {
            position: absolute !important;
            right: 20px;
            top: 12px;
        }

            .esriGEReportPlayer .reportPlayer_header .reportPlayer_commandButtonsContainer .playerExportButton {
                margin-right: 25px;
                position: relative;
                top: -1px;
            }

    

    .esriGEReportPlayer .reportPlayer_headerPageNavigator {
        position: absolute;
        top: 60px;
    }

    

    .esriGEReportPlayer.esriGEReportPlayerPaginationView .reportPlayer_header {
        margin-bottom: 10px;
    }

    .esriGEReportPlayer.esriGEReportPlayerPaginationView .reportPalyer_printableDivContainer {
        text-align: center;
    }

    .esriGEReportPlayer.esriGEReportPlayerPaginationView .reportPalyer_printableDiv {
        display: inline-block;
    }

    

    .esriGEReportPlayer .esriGEReportPlayerErrorMessage {
        color: red;
        font-size: 13px;
        text-align: center;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
    }

    

    .esriGEReportPlayer .esriGEReportPlayer_pageBreak {
        display: none;
    }

    

    .esriGEReportPlayer .Tapestry_Details_Image div:first-child {
        background-size: cover;
    }

    

    .esriGEReportPlayer.esriGEReportPlayerFullScreen {
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
    }

    

    .esriGEReportPlayer.playerThemeDark {
        background-color: #525659;
    }

        .esriGEReportPlayer.playerThemeDark .reportPlayer_header {
            background-color: #0079C1;
            color: white;
        }

        .esriGEReportPlayer.playerThemeDark .reportPlayer_commandButtonsContainer .esriGEDisabledContent {
            background-color: #0079C1;
        }

        .esriGEReportPlayer.playerThemeDark .esriGEReportPlayerProgress {
            background-color: rgba(82, 86, 89, 0.8);
        }

    

    .esriGEReportPlayer.playerThemeLight {
        background-color: #FFFFFF;
    }

        .esriGEReportPlayer.playerThemeLight .reportPlayer_header {
            background-color: #EFEFEF;
            color: #4d4d4d;
        }

        .esriGEReportPlayer.playerThemeLight .reportPlayer_commandButtonsContainer .esriGEDisabledContent {
            background-color: #EEEEEE;
        }

        .esriGEReportPlayer.playerThemeLight .esriGEReportPlayerProgress {
            background-color: rgba(255, 255, 255, 0.8);
        }

        

        .esriGEReportPlayer .esriGEWaitingMessageProgressBar{
            height: 5px;
        }