.Calcite_Vibrant_Blue_100 {
  background-color: #1376bf;
  /*
   {
  Hex:"#1275BE",
  RGB:"r18 g117 b190",
  guid:"cd7d5208-4b1d-4ded-a32c-d255f3abb3a7",
  accessibility_white_text:"AAaa",
  accessibility_black_text:"AA"
  }
  */ }

.Calcite_Vibrant_Blue_150 {
  background-color: #0089f0;
  /*
   {
  Hex:"#0088EF",
  RGB:"r0 g136 b239",
  guid:"9d362f4a-4df1-4912-93fe-6ba8a5811b36",
  accessibility_white_text:"AA",
  accessibility_black_text:"AAaa"
  }
  */ }

.Calcite_Vibrant_Blue_200 {
  background-color: #00c0f0;
  /*
   {
  Hex:"#00BFEF",
  RGB:"r0 g191 b239",
  guid:"0de86406-710c-4887-9712-e12a7dfa0362",
  accessibility_white_text:"",
  accessibility_black_text:"AAaa"
  }
  */ }

.Calcite_Vibrant_Blue_250 {
  background-color: #00b5b9;
  /*
   {
  Hex:"#00B4BC",
  RGB:"r0 g180 b188",
  guid:"80bd24b8-df54-4d1a-8ebb-26e834eefd63",
  accessibility_white_text:"",
  accessibility_black_text:"AAaa"
  }
  */ }

.Calcite_Vibrant_Yellow_100 {
  background-color: #917b00;
  /*
   {
  Hex:"#917B00",
  RGB:"r145 g123 b0",
  guid:"1f92d8db-ac14-40c1-83d0-1d5db3b17548",
  accessibility_white_text:"AA",
  accessibility_black_text:"AAaa"
  }
  */ }

.Calcite_Vibrant_Yellow_150 {
  background-color: #c7a900;
  /*
   {
  Hex:"#C7A900",
  RGB:"r199 g169 b0",
  guid:"0c11a9d9-54d7-4844-a66a-aa957b72b435",
  accessibility_white_text:"",
  accessibility_black_text:"AAaa"
  }
  */ }

.Calcite_Vibrant_Yellow_200 {
  background-color: #ffd800;
  /*
   {
  Hex:"#FFD800",
  RGB:"r255 g216 b0",
  guid:"ef5dd2fc-2972-498e-9f03-9a55922bb597",
  accessibility_white_text:"",
  accessibility_black_text:"AAaa"
  }
  */ }

.Calcite_Vibrant_Orange_100 {
  background-color: #a15600;
  /*
   {
    Hex:"#A05500",
  RGB:"r160 g85 b0",
  guid:"71388981-779b-4fa2-b373-c98a7c8dd9e2",
  accessibility_white_text:"AAaa",
  accessibility_black_text:"AA"
  }
  */ }

.Calcite_Vibrant_Orange_150 {
  background-color: #cf7d1f;
  /*
   {
  Hex:"#CE7C1E",
  RGB:"r206 g124 b30",
  guid:"e1008f42-2e5f-495f-a7ec-e69eb4dafb18",
  accessibility_white_text:"AA",
  accessibility_black_text:"AAaa"
  }
  */ }

.Calcite_Vibrant_Orange_200 {
  background-color: #ffc415;
  /*
   {
  Hex:"#FFC314",
  RGB:"r255 g195 b20",
  guid:"1d148e0c-418d-43f2-9e01-9994606cde2e",
  accessibility_white_text:"",
  accessibility_black_text:"AAaa"
  }
  */ }

.Calcite_Vibrant_Green_100 {
  background-color: #386f38;
  /*
   {
  Hex:"#376E37",
  RGB:"r55 g110 b55",
  guid:"ea2bead1-e919-4684-a4ae-66b6be54dd32",
  accessibility_white_text:"AAaa",
  accessibility_black_text:"AA"
  }
  */ }

.Calcite_Vibrant_Green_150 {
  background-color: #59d152;
  /*
   {
  Hex:"#58D051",
  RGB:"r88 g208 b81",
  guid:"34de12dc-c22a-4f9a-9d36-9efb45cff4c6",
  accessibility_white_text:"",
  accessibility_black_text:"AAaa"
  }
  */ }

.Calcite_Vibrant_Green_200 {
  background-color: #85e800;
  /*
   {
  Hex:"#A4E700",
  RGB:"r164 g231 b0",
  guid:"8959874c-3160-40b1-a9cc-bfdc7800b520",
  accessibility_white_text:"",
  accessibility_black_text:"AAaa"
  }
  */ }

.Calcite_Vibrant_Red_100 {
  background-color: #751d00;
  /*
   {
  Hex:"#741C00",
  RGB:"r116 g28 b0",
  guid:"ccf3b82c-1feb-4951-8059-2b0c5ddda49a",
  accessibility_white_text:"AAaa",
  accessibility_black_text:""
  }
  */ }

.Calcite_Vibrant_Red_150 {
  background-color: #993516;
  /*
   {
  Hex:"#983415",
  RGB:"r152 g52 b21",
  guid:"be7392cc-0de9-4741-9f65-0f1bc65baac1",
  accessibility_white_text:"AAaa",
  accessibility_black_text:""
  }
  */ }

.Calcite_Vibrant_Red_200 {
  background-color: #e65c2e;
  /*
   {
  Hex:"#E55B2D",
  RGB:"r229 g91 b45",
  guid:"b874b8ed-3493-4a6d-913a-d7d00801f893",
  accessibility_white_text:"AA",
  accessibility_black_text:"AAaa"
  }
  */ }

.Calcite_Vibrant_Purple_100 {
  background-color: #503691;
  /*
   {
  Hex:"#4F3590",
  RGB:"r79 g53 b144",
  guid:"beb0f9ad-3d3a-4231-89b4-344ed3567802",
  accessibility_white_text:"AAaa",
  accessibility_black_text:""
  }
  */ }

.Calcite_Vibrant_Purple_150 {
  background-color: #754fd4;
  /*
   {
  Hex:"#744ED3",
  RGB:"r116 g78 b211",
  guid:"fb718f2f-104d-4299-adae-a39165c2c90a",
  accessibility_white_text:"AAaa",
  accessibility_black_text:"AA"
  }
  */ }

.Calcite_Vibrant_Purple_200 {
  background-color: #9b4ba6;
  /*
   {
  Hex:"#9A4AA5",
  RGB:"r154 g74 b65",
  guid:"b5863254-85f6-479b-aa78-2c35796a6365",
  accessibility_white_text:"AAaa",
  accessibility_black_text:"AA"
  }
  */ }

.Calcite_Vibrant_Brown_100 {
  background-color: #673d10;
  /*
   {
  Hex:"#663C0F",
  RGB:"r102 g60 b15",
  guid:"d6abdd92-ea9d-4d39-9190-4d1ab1c6e81c",
  accessibility_white_text:"AAaa",
  accessibility_black_text:""
  }
  */ }

.Calcite_Vibrant_Brown_150 {
  background-color: #995d18;
  /*
   {
  Hex:"#985C17",
  RGB:"r152 g92 b23",
  guid:"024d248d-7fff-4a37-afae-d715bae79065",
  accessibility_white_text:"AAaa",
  accessibility_black_text:"AA"
  }
  */ }

.Calcite_Vibrant_Brown_200 {
  background-color: #df8c39;
  /*
   {
  Hex:"#D38B38",
  RGB:"r211 g139 b56",
  guid:"8e60415c-3325-40b8-9dee-37eb5d53be08",
  accessibility_white_text:"",
  accessibility_black_text:"AAaa"
  }
  */ }

/*# sourceMappingURL=calcite_vibrant_colors_dark.css.map */
