/* Esri Calcite Core Colors - Last Updated 04/16/15 */
/*
{
name: "Calcite Core Colors",
tags: "Calcite Core,Calcite"
}
*/
/* -- Calcite Core Blue -- */
.Calcite_Blue_100 {
  background-color: #d2e9f9;
  /*
   {
  Hex:"#D2E9F9",
  RGB:"r221 g234 b249",
    guid:"4655dee8-192b-4fdd-bd76-a3026c629763",
  accessibility_white_text:"",
  accessibility_black_text:"AAaa"
  }
  */ }

.Calcite_Blue_150 {
  background-color: #bcdaed;
  /*
   {
  Hex:"#BCDAED",
  RGB:"r189 g219 b238",
    guid:"9ba1245d-dd02-4dc1-ac28-fa2048fc1627",
  accessibility_white_text:"",
  accessibility_black_text:"AAaa"
  }
  */ }

.Calcite_Blue_200 {
  background-color: #6cb4e2;
  /*
   {
  Hex:"#6CB4E2",
  RGB:"r109 g181 b227",
    guid:"88e16018-ce1b-4ef2-ab21-e7ee260a217a",
  accessibility_white_text:"",
  accessibility_black_text:"AAaa"
  }
  */ }

.Calcite_Blue_250 {
  background-color: #56a5d8;
  /*
   {
  Hex:"#56A5D8",
  RGB:"r87 g166 b217",
    guid:"d36d7477-5d0f-46fe-a5c9-0cd59b4028d6",
  accessibility_white_text:"",
  accessibility_black_text:"AAaa"
  }
  */ }

.Calcite_Blue_a100 {
  background-color: #49b0f2;
  /*
   {
  Hex:"#49B0F2",
  RGB:"r73 g176 b242",
    guid:"e22efb06-71b5-4ee0-b1ce-9c599df2ac9d",
  accessibility_white_text:"",
  accessibility_black_text:"AAaa"
  }
  */ }

.Calcite_Blue_a150 {
  background-color: #419ed9;
  /*
   {
  Hex:"#419ED9",
  RGB:"r65 g158 b217",
    guid:"64d227d5-55fa-4c78-af72-64bc4e5c2dac",
  accessibility_white_text:"",
  accessibility_black_text:"AAaa"
  }
  */ }

.Calcite_Blue_a200 {
  background-color: #3b8fc4;
  /*
   {
  Hex:"#3B8FC4",
  RGB:"r59 g143 b196",
    guid:"d4a595a8-8c99-4776-ad24-5db864faf1d4",
  accessibility_white_text:"AA",
  accessibility_black_text:"AAaa"
  }
  */ }

.Calcite_Blue_a250 {
  background-color: #196fa6;
  /*
   {
  Hex:"#196FA6",
  RGB:"r25 g111 b166",
    guid:"cead1d1f-5cd2-4b80-86ec-0fe7c35323bc",
  accessibility_white_text:"AAaa",
  accessibility_black_text:"AA"
  }
  */ }

/* -- Calcite Core Yellow -- */
.Calcite_Yellow_100 {
  background-color: #f3edc7;
  /*
   {
  Hex:"#F3EDC7",
  RGB:"r244 g238 b200",
    guid:"b4ad1067-29aa-4d47-acf1-365dc5779e43",
  accessibility_white_text:"",
  accessibility_black_text:"AAaa"
  }
  */ }

.Calcite_Yellow_150 {
  background-color: #efe397;
  /*
   {
  Hex:"#EFE397",
  RGB:"r240 g228 b152",
    guid:"74554988-b164-47dd-9bd7-8714503bfedd",
  accessibility_white_text:"",
  accessibility_black_text:"AAaa"
  }
  */ }

.Calcite_Yellow_200 {
  background-color: #e4d154;
  /*
   {
  Hex:"#E4D154",
  RGB:"r229 g210 b85",
    guid:"e1ac1163-5f62-4239-a0a4-35a421d2b82d",
  accessibility_white_text:"",
  accessibility_black_text:"AAaa"
  }
  */ }

.Calcite_Yellow_250 {
  background-color: #d8c34b;
  /*
   {
  Hex:"#D8C34B",
  RGB:"r217 g196 b76",
    guid:"bb431533-9ae1-4c1f-bf70-6b9234ec4065",
  accessibility_white_text:"",
  accessibility_black_text:"AAaa"
  }
  */ }

.Calcite_Yellow_a100 {
  background-color: #f2d530;
  /*
   {
  Hex:"#F2D530",
  RGB:"r242 g213 b48",
    guid:"72bc84b6-854a-4b65-ac7a-fd894d3d73b0",
  accessibility_white_text:"",
  accessibility_black_text:"AAaa"
  }
  */ }

.Calcite_Yellow_a150 {
  background-color: #d9bf2b;
  /*
   {
  Hex:"#D9BF2B",
  RGB:"r217 g191 b43",
    guid:"45dfb92c-ca20-404a-b761-50df7d6d55ac",
  accessibility_white_text:"",
  accessibility_black_text:"AAaa"
  }
  */ }

.Calcite_Yellow_a200 {
  background-color: #bda726;
  /*
   {
  Hex:"#BDA726",
  RGB:"r189 g167 b38",
    guid:"be6f0c4d-ab00-40f2-9df5-8e5ea1ac4fea",
  accessibility_white_text:"",
  accessibility_black_text:"AAaa"
  }
  */ }

.Calcite_Yellow_a250 {
  background-color: #a68d00;
  /*
   {
  Hex:"#A68D00",
  RGB:"r166 g141 b0",
    guid:"ed030b74-86fe-481e-85c1-abe97b1cd9bb",
  accessibility_white_text:"AA",
  accessibility_black_text:"AAaa"
  }
  */ }

/* -- Calcite Core Orange -- */
.Calcite_Orange_100 {
  background-color: #fbe1c2;
  /*
   {
  Hex:"#FBE1C2",
  RGB:"r251 g226 b195",
    guid:"5367b7b0-a1a3-4cf4-bb02-89af77834fc3",
  accessibility_white_text:"",
  accessibility_black_text:"AAaa"
  }
  */ }

.Calcite_Orange_150 {
  background-color: #f6ca92;
  /*
   {
  Hex:"#F6CA92",
  RGB:"r247 g203 b147",
    guid:"751dde41-e219-4130-b096-50252d454d0c",
  accessibility_white_text:"",
  accessibility_black_text:"AAaa"
  }
  */ }

.Calcite_Orange_200 {
  background-color: #eda959;
  /*
   {
  Hex:"#EDA959",
  RGB:"r238 g170 b90",
    guid:"08a9135b-e9ba-44c3-a7b9-aafaee9ba634",
  accessibility_white_text:"",
  accessibility_black_text:"AAaa"
  }
  */ }

.Calcite_Orange_250 {
  background-color: #e79c47;
  /*
   {
  Hex:"#E79C47",
  RGB:"r232 g157 b72",
    guid:"a01870e1-ceb4-424b-927d-21e794a92da7",
  accessibility_white_text:"",
  accessibility_black_text:"AAaa"
  }
  */ }

.Calcite_Orange_a100 {
  background-color: #ff9f33;
  /*
   {
  Hex:"#FF9F33",
  RGB:"r255 g159 b51",
    guid:"1d63fc35-0b74-4f2b-a0a4-0a5f72a4c630",
  accessibility_white_text:"",
  accessibility_black_text:"AAaa"
  }
  */ }

.Calcite_Orange_a150 {
  background-color: #e8912e;
  /*
   {
  Hex:"#E8912E",
  RGB:"r232 g145 b46",
    guid:"f92a6f43-90a3-4007-8758-3305b07542d7",
  accessibility_white_text:"",
  accessibility_black_text:"AAaa"
  }
  */ }

.Calcite_Orange_a200 {
  background-color: #d17e21;
  /*
   {
  Hex:"#D17E21",
  RGB:"r209 g126 b33",
    guid:"66ef990d-1980-499a-8ad7-a2027e473954",
  accessibility_white_text:"AA",
  accessibility_black_text:"AAaa"
  }
  */ }

.Calcite_Orange_a250 {
  background-color: #ad6511;
  /*
   {
  Hex:"#AD6511",
  RGB:"r173 g101 b17",
    guid:"861cc1ae-dce3-4272-a55c-1d3c7c9f068a",
  accessibility_white_text:"AAaa",
  accessibility_black_text:"AAaa"
  }
  */ }

/* -- Calcite Core Green -- */
.Calcite_Green_100 {
  background-color: #ddeedb;
  /*
   {
  Hex:"#DDEEDB",
  RGB:"r221 g238 b219",
    guid:"e308a3ec-840e-4a77-a51b-df5ce37ff3bb",
  accessibility_white_text:"",
  accessibility_black_text:"AAaa"
  }
  */ }

.Calcite_Green_150 {
  background-color: #9bc19c;
  /*
   {
  Hex:"#9BC19C",
  RGB:"r155 g194 b156",
    guid:"79c4211e-4942-41af-ab09-2f64352ffd35",
  accessibility_white_text:"",
  accessibility_black_text:"AAaa"
  }
  */ }

.Calcite_Green_200 {
  background-color: #67a966;
  /*
   {
  Hex:"#67A966",
  RGB:"r105 g170 b103",
    guid:"a6b78543-830a-40ed-b5ce-d0781dc7fec4",
  accessibility_white_text:"",
  accessibility_black_text:"AAaa"
  }
  */ }

.Calcite_Green_250 {
  background-color: #5a9359;
  /*
   {
  Hex:"#5A9359",
  RGB:"r91 g148 b90",
    guid:"275dfc18-669b-4172-8d05-ebe756967689",
  accessibility_white_text:"AA",
  accessibility_black_text:"AAaa"
  }
  */ }

.Calcite_Green_a100 {
  background-color: #50ad4e;
  /*
   {
  Hex:"#50AD4E",
  RGB:"r80 g173 b78",
    guid:"a57aee23-1ea4-4b5e-92c1-3f905cd2f57e",
  accessibility_white_text:"",
  accessibility_black_text:"AAaa"
  }
  */ }

.Calcite_Green_a150 {
  background-color: #449443;
  /*
   {
  Hex:"#449443",
  RGB:"r68 g148 b67",
    guid:"c0772e3f-d054-4789-bb1c-68fa5fe30af0",
  accessibility_white_text:"AA",
  accessibility_black_text:"AAaa"
  }
  */ }

.Calcite_Green_a200 {
  background-color: #338033;
  /*
   {
  Hex:"#338033",
  RGB:"r51 g128 b51",
    guid:"5e702fde-9966-487f-98af-52041709c9a7",
  accessibility_white_text:"AAaa",
  accessibility_black_text:"AA"
  }
  */ }

.Calcite_Green_a250 {
  background-color: #275e26;
  /*
   {
  Hex:"#275E26",
  RGB:"r39 g94 b38",
    guid:"edb72c89-e39a-4de8-984f-8b7d9f838f98",
  accessibility_white_text:"AAaa",
  accessibility_black_text:""
  }
  */ }

/* -- Calcite Core Red -- */
.Calcite_Red_100 {
  background-color: #f3ded7;
  /*
   {
  Hex:"#F3DED7",
  RGB:"r244 g223 b216",
    guid:"7f79cf3c-0a16-4386-a7e5-53ec317d9e8a",
  accessibility_white_text:"",
  accessibility_black_text:"AAaa"
  }
  */ }

.Calcite_Red_150 {
  background-color: #e4a793;
  /*
   {
  Hex:"#E4A793",
  RGB:"r229 g168 b148",
    guid:"d0d38ae2-c916-4a16-a1f3-d951cc499e65",
  accessibility_white_text:"",
  accessibility_black_text:"AAaa"
  }
  */ }

.Calcite_Red_200 {
  background-color: #c86a4a;
  /*
   {
  Hex:"#C86A4A",
  RGB:"r210 g107 b75",
    guid:"233ed1cf-5f23-4fab-aa17-63b29a50801b",
  accessibility_white_text:"AA",
  accessibility_black_text:"AAaa"
  }
  */ }

.Calcite_Red_250 {
  background-color: #c6542d;
  /*
   {
  Hex:"#C6542D",
  RGB:"r199 g85 b46",
    guid:"891511b8-fe34-45f3-b51d-88d3fa6d24b8",
  accessibility_white_text:"AA",
  accessibility_black_text:"AAaa"
  }
  */ }

.Calcite_Red_a100 {
  background-color: #e04f1d;
  /*
   {
  Hex:"#E04F1D",
  RGB:"r224 g79 b29",
    guid:"a318043e-4402-4471-834b-7665b8fb5d0b",
  accessibility_white_text:"AA",
  accessibility_black_text:"AAaa"
  }
  */ }

.Calcite_Red_a150 {
  background-color: #c7461a;
  /*
   {
  Hex:"#C7461A",
  RGB:"r199 g70 b26",
    guid:"f3b9c963-b6cf-40c6-975d-f08584298268",
  accessibility_white_text:"AAaa",
  accessibility_black_text:"AA"
  }
  */ }

.Calcite_Red_a200 {
  background-color: #ab3c16;
  /*
   {
  Hex:"#AB3C16",
  RGB:"r171 g60 b22",
    guid:"592dfff5-bc8b-4d59-ad83-41b268873db0",
  accessibility_white_text:"AAaa",
  accessibility_black_text:"AA"
  }
  */ }

.Calcite_Red_a250 {
  background-color: #8c2907;
  /*
   {
  Hex:"#8C2907",
  RGB:"r140 g41 b7",
    guid:"ede8a7e5-c655-44cc-828a-292984b98964",
  accessibility_white_text:"AAaa",
  accessibility_black_text:""
  }
  */ }

/* -- Calcite Core Purple -- */
.Calcite_Purple_100 {
  background-color: #e5e1ef;
  /*
   {
  Hex:"#E5E1EF",
  RGB:"r230 g226 b240",
    guid:"17a68f19-2176-4883-90ec-0e02f7ebab6f",
  accessibility_white_text:"",
  accessibility_black_text:"AAaa"
  }
  */ }

.Calcite_Purple_150 {
  background-color: #c4bcdc;
  /*
   {
  Hex:"#C4BCDC",
  RGB:"r197 g189 b221",
    guid:"92900e24-b8f4-454a-baba-181897f51978",
  accessibility_white_text:"",
  accessibility_black_text:"AAaa"
  }
  */ }

.Calcite_Purple_200 {
  background-color: #9081bc;
  /*
   {
  Hex:"#9081BC",
  RGB:"r145 g130 b189",
    guid:"10b9463d-488f-42d9-8899-034e3c3029fa",
  accessibility_white_text:"AA",
  accessibility_black_text:"AAaa"
  }
  */ }

.Calcite_Purple_250 {
  background-color: #7b6ca7;
  /*
   {
  Hex:"#7B6CA7",
  RGB:"r124 g109 b168",
    guid:"687fb17c-d87c-4e2e-a24c-132e70aa92b8",
  accessibility_white_text:"AAaa",
  accessibility_black_text:"AAaa"
  }
  */ }

.Calcite_Purple_a100 {
  background-color: #846ebf;
  /*
   {
  Hex:"#846EBF",
  RGB:"r132 g110 b191",
    guid:"d861e9f1-bf6a-42f3-b217-93894bab3386",
  accessibility_white_text:"AA",
  accessibility_black_text:"AAaa"
  }
  */ }

.Calcite_Purple_a150 {
  background-color: #7461a8;
  /*
   {
  Hex:"#7461A8",
  RGB:"r116 g97 b168",
    guid:"35d3955f-b3cd-4421-a0b5-38a0bfffd03b",
  accessibility_white_text:"AAaa",
  accessibility_black_text:"AA"
  }
  */ }

.Calcite_Purple_a200 {
  background-color: #61518c;
  /*
   {
  Hex:"#61518C",
  RGB:"r97 g81 b140",
    guid:"a9c9b7f3-6973-4bf9-9879-f41067d327d6",
  accessibility_white_text:"AAaa",
  accessibility_black_text:"AA"
  }
  */ }

.Calcite_Purple_a250 {
  background-color: #4f4273;
  /*
   {
  Hex:"#4F4273",
  RGB:"r79 g66 b115",
    guid:"7cd4639d-fec7-42bb-82f8-7ca7cb70530e",
  accessibility_white_text:"AAaa",
  accessibility_black_text:""
  }
  */ }

/* -- Calcite Core Brown -- */
.Calcite_Brown_100 {
  background-color: #e8ddd3;
  /*
   {
  Hex:"#E8DDD3",
  RGB:"r233 g222 b212",
    guid:"d66dd0c1-bf42-4641-8411-bc6f5b3bf7ae",
  accessibility_white_text:"",
  accessibility_black_text:"AAaa"
  }
  */ }

.Calcite_Brown_150 {
  background-color: #d2b38f;
  /*
   {
  Hex:"#D2B38F",
  RGB:"r211 g180 b144",
    guid:"eca70e1f-7f60-4b58-b41d-8bc144e476cb",
  accessibility_white_text:"",
  accessibility_black_text:"AAaa"
  }
  */ }

.Calcite_Brown_200 {
  background-color: #b78a54;
  /*
   {
  Hex:"#B78A54",
  RGB:"r184 g139 b85",
    guid:"b02f6a27-6d0d-46db-96df-6ca3ff7d29b3",
  accessibility_white_text:"AA",
  accessibility_black_text:"AAaa"
  }
  */ }

.Calcite_Brown_250 {
  background-color: #a57946;
  /*
   {
  Hex:"#A57946",
  RGB:"r166 g122 b71",
    guid:"733ba9e7-992e-4f52-a786-93ca5b84224a",
  accessibility_white_text:"AA",
  accessibility_black_text:"AAaa"
  }
  */ }

.Calcite_Brown_a100 {
  background-color: #bf813a;
  /*
   {
  Hex:"#BF813A",
  RGB:"r191 g129 b58",
    guid:"37268ee6-db88-4afb-9306-5781c120a0ca",
  accessibility_white_text:"AA",
  accessibility_black_text:"AAaa"
  }
  */ }

.Calcite_Brown_a150 {
  background-color: #a67032;
  /*
   {
  Hex:"#A67032",
  RGB:"r166 g112 b50",
    guid:"4d0620ad-f5f8-4160-a0ca-aa94e99e3725",
  accessibility_white_text:"AA",
  accessibility_black_text:"AAaa"
  }
  */ }

.Calcite_Brown_a200 {
  background-color: #8c5e2a;
  /*
   {
  Hex:"#8C5E2A",
  RGB:"r140 g94 b42",
    guid:"2e90145b-9516-4c3c-bba8-63672ff71fef",
  accessibility_white_text:"AAaa",
  accessibility_black_text:"AA"
  }
  */ }

.Calcite_Brown_a250 {
  background-color: #734d22;
  /*
   {
  Hex:"#734D22",
  RGB:"r115 g77 b34",
    guid:"fc9df10f-e68d-4d8f-a558-60a0869f34e2",
  accessibility_white_text:"AAaa",
  accessibility_black_text:""
  }
  */ }

/*# sourceMappingURL=calcite_core_colors.css.map */
