/* Esri Calcite Highlight Colors - Last Updated 04/16/15 */
/*
{
name: "Calcite Highlight Colors",
tags: "Calcite Highlight,Calcite"
}
*/
/* -- Calcite Highlight_Blue -- */
.Calcite_Highlight_Blue_100 {
  background-color: #e2f1fb;
  /*
   {
  Hex:"#E2F1FB",
  RGB:"r226 g241 b251",
  guid:"8b5be565-e51a-4eb8-baf7-af65c997551a",
  accessibility_white_text:"",
  accessibility_black_text:"AAaa"
  }
  */ }

.Calcite_Highlight_Blue_150 {
  background-color: #c5e5f9;
  /*
   {
  Hex:"#C5E5F9",
  RGB:"r197 g229 b249",
  guid:"9ea9ad6a-8756-4ee5-9b8f-60f22aa52037",
  accessibility_white_text:"",
  accessibility_black_text:"AAaa"
  }
  */ }

.Calcite_Highlight_Blue_200 {
  background-color: #aadbfa;
  /*
   {
  Hex:"#AADBFA",
  RGB:"r170 g219 b250",
  guid:"315b751c-4c08-4469-8587-19f54c6edb46",
  accessibility_white_text:"",
  accessibility_black_text:"AAaa"
  }
  */ }

.Calcite_Highlight_Blue_250 {
  background-color: #90cdf2;
  /*
   {
  Hex:"#90CDF2",
  RGB:"r144 g205 b242",
  guid:"e141cb8a-7fe9-4b74-8726-72532d4b7b7a",
  accessibility_white_text:"",
  accessibility_black_text:"AAaa"
  }
  */ }

.Calcite_Highlight_Blue_300 {
  background-color: #80bce0;
  /*
   {
  Hex:"#80BCE0",
  RGB:"r128 g188 b224",
  guid:"5b9adabc-a827-4f50-bd89-af5ac458ea90",
  accessibility_white_text:"",
  accessibility_black_text:"AAaa"
  }
  */ }

.Calcite_Highlight_Blue_350 {
  background-color: #0079c1;
  /*
   {
  Hex:"#0079C1",
  RGB:"r0 g122 b194",
  guid:"d5c8b27f-6ed8-40cf-9d8c-b8c05308a89e",
  accessibility_white_text:"AAaa",
  accessibility_black_text:"AAaa"
  }
  */ }

.Calcite_Highlight_Blue_400 {
  background-color: #005e95;
  /*
   {
  Hex:"#005E95",
  RGB:"r0 g95 b150",
  guid:"c41634a1-1512-4547-9553-7bc9764beed6",
  accessibility_white_text:"AAaa",
  accessibility_black_text:"AA"
  }
  */ }

/* -- Calcite Highlight Green -- */
.Calcite_Highlight_Green_100 {
  background-color: #cfedcc;
  /*
   {
  Hex:"#CFEDCC",
  RGB:"r208 g238 b205",
  guid:"2cd4fa57-8564-49ca-b94f-ac70f2cf7258",
  accessibility_white_text:"",
  accessibility_black_text:"AAaa"
  }
  */ }

.Calcite_Highlight_Green_150 {
  background-color: #b0e2b0;
  /*
   {
  Hex:"#B0E2B0",
  RGB:"r177 g227 b177",
  guid:"d9795a5a-7bd2-4400-97de-ca31341a9052",
  accessibility_white_text:"",
  accessibility_black_text:"AAaa"
  }
  */ }

.Calcite_Highlight_Green_200 {
  background-color: #96ce96;
  /*
   {
  Hex:"#96CE96",
  RGB:"r151 g207 b151",
  guid:"bcd0fd45-c285-40af-891c-575ded969b43",
  accessibility_white_text:"",
  accessibility_black_text:"AAaa"
  }
  */ }

.Calcite_Highlight_Green_250 {
  background-color: #7dc17d;
  /*
   {
  Hex:"#7DC17D",
  RGB:"r126 g194 b126",
  guid:"52ef3852-41d5-45cd-b553-47e730f54404",
  accessibility_white_text:"",
  accessibility_black_text:"AAaa"
  }
  */ }

.Calcite_Highlight_Green_300 {
  background-color: #7bb974;
  /*
   {
  Hex:"#7BB974",
  RGB:"r124 g186 b117",
  guid:"2e87a1a5-329b-4d62-b390-78c4f278d60e",
  accessibility_white_text:"",
  accessibility_black_text:"AAaa"
  }
  */ }

.Calcite_Highlight_Green_350 {
  background-color: #31872e;
  /*
   {
  Hex:"#31872E",
  RGB:"r49 g135 b46",
  guid:"60da2746-4031-485b-9a54-74027c4c9421",
  accessibility_white_text:"AAaa",
  accessibility_black_text:"AA"
  }
  */ }

.Calcite_Highlight_Green_400 {
  background-color: #2b622b;
  /*
   {
  Hex:"#2B622B",
  RGB:"r44 g99 b44",
  guid:"1012ac72-462a-4a94-9fcc-79059a273eba",
  accessibility_white_text:"AAaa",
  accessibility_black_text:""
  }
  */ }

/*# sourceMappingURL=calcite_highlight_colors.css.map */
