.Calcite_Gray_050 {
  background-color: #242424;
  /*
   {
  Hex:"#232323",
  RGB:"r35 g35 b35",
  guid:"e6e0234a-c28d-4edd-a7d0-b40b4605bdfc",
  accessibility_white_text:"AAaa",
  accessibility_black_text:""
  }
  */ }

.Calcite_Gray_100 {
  background-color: #333333;
  /*
   {
  Hex:"#323232",
  RGB:"r50 g50 b50",
  guid:"b60836ad-9cef-4ade-8523-19235537650a",
  accessibility_white_text:"AAaa",
  accessibility_black_text:""
  }
  */ }

.Calcite_Gray_150 {
  background-color: #363636;
  /*
   {
  Hex:"#353535",
  RGB:"r53 g53 b53",
  guid:"3432c105-8cdb-4907-8963-faf75c927f03",
  accessibility_white_text:"AAaa",
  accessibility_black_text:""
  }
  */ }

.Calcite_Gray_200 {
  background-color: #404040;
  /*
   {
  Hex:"#3F3F3F",
  RGB:"r63 g63 b63",
  guid:"b84bf4f6-1cae-459b-930a-5f5fcc0814d9",
  accessibility_white_text:"AAaa",
  accessibility_black_text:""
  }
  */ }

.Calcite_Gray_250 {
  background-color: #474747;
  /*
   {
  Hex:"#474747",
  RGB:"r71 g71 b71",
  guid:"a55c42af-16f0-49d3-be7e-e104a373823a",
  accessibility_white_text:"AAaa",
  accessibility_black_text:""
  }
  */ }

.Calcite_Gray_300 {
  background-color: #4c4c4c;
  /*
   {
  Hex:"#4C4C4C",
  RGB:"r76 g76 b76",
  guid:"5a10d414-5c14-47f9-9f35-0c3eadfc0066",
  accessibility_white_text:"AAaa",
  accessibility_black_text:""
  }
  */ }

.Calcite_Gray_350 {
  background-color: #5c5c5c;
  /*
   {
  Hex:"#5B5B5B",
  RGB:"r91 g91 b91",
  guid:"9d182d36-1287-4045-a30c-c4b41136e8ce",
  accessibility_white_text:"AAaa",
  accessibility_black_text:"AA"
  }
  */ }

.Calcite_Gray_400 {
  background-color: #666666;
  /*
   {
  Hex:"#656565",
  RGB:"r101 g101 b101",
  guid:"363105b0-331d-45fc-84a2-7a3f78ad9147",
  accessibility_white_text:"AAaa",
  accessibility_black_text:"AA"
  }
  */ }

.Calcite_Gray_450 {
  background-color: #787878;
  /*
   {
  Hex:"#777777",
  RGB:"r119 g119 b119",
  guid:"88be1c15-6196-4fe6-ab22-a68c85f73906",
  accessibility_white_text:"AA",
  accessibility_black_text:"AAaa"
  }
  */ }

.Calcite_Gray_500 {
  background-color: #8a8a8a;
  /*
   {
  Hex:"#898989",
  RGB:"r137 g137 b137",
  guid:"83e3bd4a-d5ef-4138-b154-fadfd814b68b",
  accessibility_white_text:"AA",
  accessibility_black_text:"AAaa"
  }
  */ }

.Calcite_Gray_550 {
  background-color: #9e9e9e;
  /*
   {
  Hex:"#9E9E9E",
  RGB:"r158 g158 b158",
  guid:"1797e19d-e393-46b9-8060-1fa22d0cf09a",
  accessibility_white_text:"",
  accessibility_black_text:"AAaa"
  }
  */ }

.Calcite_Gray_600 {
  background-color: #adadad;
  /*
   {
  Hex:"#ADADAD",
  RGB:"r173 g173 b173",
  guid:"23a8cfb8-5e9d-4571-8766-d4a8462b60f1",
  accessibility_white_text:"",
  accessibility_black_text:"AAaa"
  }
  */ }

.Calcite_Gray_650 {
  background-color: #bdbdbd;
  /*
   {
  Hex:"#BCBCBC",
  RGB:"r188 g188 b188",
  guid:"c29b67a2-9131-49d5-ab80-3ee85860cc7b",
  accessibility_white_text:"",
  accessibility_black_text:"AAaa"
  }
  */ }

.Calcite_Gray_700 {
  background-color: #d1d1d1;
  /*
   {
  Hex:"#D1D1D1",
  RGB:"r209 g209 b209",
  guid:"cc981671-db23-4d82-89b7-58e591931755",
  accessibility_white_text:"",
  accessibility_black_text:"AAaa"
  }
  */ }

/*# sourceMappingURL=calcite_gray_colors_dark.css.map */
