<div role="presentation" class="${_css.invisible}">
  <!-- Popup Container -->
  <div data-dojo-attach-point="_containerNode" class="${_css.container} ${_css.alignTop} ${_css.shadow}">
    <div class="${_css.main}">
      <!-- Popup Docked Pagination -->
      <section class="${_css.paginationDocked}">
        <div role="presentation" class="${_css.loadingContainer}" title="${_i18n.loading}">
          <span aria-hidden="true" class="${_css.icon} ${_css.iconLoading}"></span>
          <span class="${_css.iconText}">${_i18n.loading}</span>
        </div>
        <div class="${_css.paginationDockedButtons}">
          <div role="button" tabindex="0" data-dojo-attach-point="_previousDockedNode" class="${_css.button} ${_css.paginationPrevious}" title="${_i18n.previous}">
            <span aria-hidden="true" class="${_css.icon} ${_css.iconLeftTriangleArrow} ${_css.paginationPreviousIconLTR}"></span>
            <span aria-hidden="true" class="${_css.icon} ${_css.iconRightTriangleArrow} ${_css.paginationPreviousIconRTL}"></span>
            <span class="${_css.iconText}">${_i18n.previous}</span>
          </div>
          <div data-dojo-attach-point="_pageTextDockedNode" class="${_css.paginationText}"></div>
          <div role="button" tabindex="0" data-dojo-attach-point="_nextDockedNode" class="${_css.button} ${_css.paginationNext}" title="${_i18n.next}">
            <span aria-hidden="true" class="${_css.icon} ${_css.iconRightTriangleArrow} ${_css.paginationNextIconLTR}"></span>
            <span aria-hidden="true" class="${_css.icon} ${_css.iconLeftTriangleArrow} ${_css.paginationNextIconRTL}"></span>
            <span class="${_css.iconText}">${_i18n.next}</span>
          </div>
          <div role="button" tabindex="0" data-dojo-attach-point="_pageMenuDockedNode" class="${_css.button} ${_css.featureMenuButton}" title="${_i18n.menu}">
            <span aria-hidden="true" class="${_css.icon} ${_css.iconPaginationMenu}"></span>
            <span class="${_css.iconText}">${_i18n.menu}</span>
          </div>
        </div>
      </section>
      <!-- /Popup Docked Pagination -->
      <!-- Popup Header -->
      <header class="${_css.header}">
        <h1 data-dojo-attach-point="_titleNode" class="${_css.headerTitle}"></h1>
        <div class="${_css.headerButtons}">
          <div role="button" tabindex="0" data-dojo-attach-point="_dockNode" class="${_css.button} ${_css.buttonDock}">
            <span aria-hidden="true" class="${_css.icon} ${_css.iconDock} ${_css.iconDockToRight}"></span>
            <span aria-hidden="true" class="${_css.icon} ${_css.iconDock} ${_css.iconDockToTop}"></span>
            <span aria-hidden="true" class="${_css.icon} ${_css.iconDock} ${_css.iconDockToLeft}"></span>
            <span aria-hidden="true" class="${_css.icon} ${_css.iconDock} ${_css.iconDockToBottom}"></span>
            <span class="${_css.iconText}">${_i18n.dock}</span>
            <span aria-hidden="true" class="${_css.icon} ${_css.iconUndock}"></span>
            <span class="${_css.iconText}">${_i18n.undock}</span>
          </div>
          <div role="button" tabindex="0" data-dojo-attach-point="_closeNode" class="${_css.button}" title="${_i18n.close}">
            <span aria-hidden="true" class="${_css.icon} ${_css.iconClose}"></span>
            <span class="${_css.iconText}">${_i18n.close}</span>
          </div>
        </div>
      </header>
      <!-- /Popup Header -->
      <!-- Popup Content -->
      <article class="${_css.content}" data-dojo-attach-point="_bodyContentNode"></article>
      <!-- /Popup Content -->
      <!-- Popup Footer -->
      <footer class="${_css.footer}">
        <!-- Popup Actions -->
        <div data-dojo-attach-point="_actionsNode" class="${_css.actions}"></div>
        <!-- /Popup Actions -->
        <!-- Popup Pagination -->
        <section class="${_css.pagination}">
          <div role="presentation" class="${_css.loadingContainer}" title="${_i18n.loading}">
            <span aria-hidden="true" class="${_css.icon} ${_css.iconLoading}"></span>
            <span class="${_css.iconText}">${_i18n.loading}</span>
          </div>
          <div role="button" tabindex="0" data-dojo-attach-point="_previousNode" class="${_css.button} ${_css.paginationPrevious}" title="${_i18n.previous}">
            <span aria-hidden="true" class="${_css.icon} ${_css.iconLeftTriangleArrow} ${_css.paginationPreviousIconLTR}"></span>
            <span aria-hidden="true" class="${_css.icon} ${_css.iconRightTriangleArrow} ${_css.paginationPreviousIconRTL}"></span>
            <span class="${_css.iconText}">${_i18n.previous}</span>
          </div>
          <div data-dojo-attach-point="_pageTextNode" class="${_css.paginationText}"></div>
          <div role="button" tabindex="0" data-dojo-attach-point="_nextNode" class="${_css.button} ${_css.paginationNext}" title="${_i18n.next}">
            <span aria-hidden="true" class="${_css.icon} ${_css.iconRightTriangleArrow} ${_css.paginationNextIconLTR}"></span>
            <span aria-hidden="true" class="${_css.icon} ${_css.iconLeftTriangleArrow} ${_css.paginationNextIconRTL}"></span>
            <span class="${_css.iconText}">${_i18n.next}</span>
          </div>
          <div role="button" tabindex="0" data-dojo-attach-point="_pageMenuNode" class="${_css.button} ${_css.featureMenuButton}" title="${_i18n.menu}">
            <span aria-hidden="true" class="${_css.icon} ${_css.iconPaginationMenu}"></span>
            <span class="${_css.iconText}">${_i18n.menu}</span>
          </div>
        </section>
        <!-- /Popup Pagination -->
      </footer>
      <!-- /Popup Footer -->
      <!-- Popup Menu -->
      <section class="${_css.featureMenu}" data-dojo-attach-point="_pageMenuSectionNode" aria-hidden="true">
        <h2 class="${_css.featureMenuHeader}" data-dojo-attach-point="_pageMenuInfoNode"></h2>
        <nav class="${_css.featureMenuViewport}">
          <ol class="${_css.featureMenuList}" role="menu" data-dojo-attach-point="_paginationNode"></ol>
        </nav>
      </section>
      <!-- /Popup Menu -->
    </div>
    <!-- Popup Pointer -->
    <div class="${_css.pointer}" role="presentation">
      <div class="${_css.pointerDirection} ${_css.shadow}"></div>
    </div>
    <!-- /Popup Pointer -->
  </div>
  <!-- /Popup Container -->
</div>
