.btn-svg__button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  display: inline-block;
  cursor: pointer; }
  .btn-svg__button:hover {
    color: #005e95; }
  .btn-svg__button > svg {
    vertical-align: middle;
    fill: currentColor; }
  html[dir="rtl"] .btn-svg__button {
    transform: scaleX(-1); }

.btn-svg__button--tooltip {
  position: relative;
  cursor: pointer;
  overflow: visible; }
  .btn-svg__button--tooltip:after {
    content: attr(aria-label);
    position: absolute;
    z-index: 1000000;
    display: none;
    padding: 0.3875rem 0.775rem;
    font-size: 0.875rem;
    line-height: 1.55rem;
    color: #ffffff;
    text-align: center;
    word-wrap: break-word;
    white-space: pre;
    pointer-events: none;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 3px; }
  .btn-svg__button--tooltip:before {
    content: "";
    position: absolute;
    z-index: 1000001;
    display: none;
    width: 0;
    height: 0;
    color: rgba(0, 0, 0, 0.75);
    pointer-events: none;
    border: 5px solid transparent; }
  .btn-svg__button--tooltip:hover, .btn-svg__button--tooltip:active, .btn-svg__button--tooltip:focus {
    text-decoration: none; }
    .btn-svg__button--tooltip:hover:before, .btn-svg__button--tooltip:hover:after, .btn-svg__button--tooltip:active:before, .btn-svg__button--tooltip:active:after, .btn-svg__button--tooltip:focus:before, .btn-svg__button--tooltip:focus:after {
      display: inline-block; }
  .btn-svg__button--tooltip:focus:before, .btn-svg__button--tooltip:focus:after {
    display: none; }
  .btn-svg__button--tooltip:hover:before, .btn-svg__button--tooltip:hover:after {
    display: inline-block; }

.btn-svg__button--tooltip-left:after {
  top: auto;
  right: 100%;
  margin-right: 5px;
  bottom: 50%;
  margin-bottom: inherit;
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%); }
  html[dir="rtl"] .btn-svg__button--tooltip-left:after {
    right: auto;
    left: 100%;
    margin-right: 0;
    margin-left: 5px; }

.btn-svg__button--tooltip-left:before {
  top: 50%;
  bottom: 50%;
  left: -5px;
  margin-top: -5px;
  border-left-color: rgba(0, 0, 0, 0.75);
  border-bottom: 5px solid transparent; }
  html[dir="rtl"] .btn-svg__button--tooltip-left:before {
    left: auto;
    right: -5px;
    margin-right: 0;
    border-left-color: transparent;
    border-right-color: rgba(0, 0, 0, 0.75); }

.btn-svg__button--tooltip-right:after {
  top: auto;
  right: auto;
  bottom: 50%;
  left: 100%;
  margin-left: 5px;
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%); }
  html[dir="rtl"] .btn-svg__button--tooltip-right:after {
    left: auto;
    right: 100%;
    margin-left: 0;
    margin-right: 5px; }

.btn-svg__button--tooltip-right:before {
  top: 50%;
  right: -5px;
  bottom: 50%;
  margin-top: -5px;
  margin-right: 0;
  border-right-color: rgba(0, 0, 0, 0.75);
  border-bottom: 5px solid transparent; }
  html[dir="rtl"] .btn-svg__button--tooltip-right:before {
    left: -5px;
    right: auto;
    border-left-color: rgba(0, 0, 0, 0.75);
    border-right-color: transparent; }

.btn-svg__button--tooltip-top:after {
  top: auto;
  right: 50%;
  bottom: 100%;
  margin-bottom: 5px; }

.btn-svg__button--tooltip-top:before {
  top: -5px;
  right: 50%;
  bottom: auto;
  margin-right: -5px;
  border-top-color: rgba(0, 0, 0, 0.75);
  border-bottom: 5px solid transparent; }

.mod__mob-wrap-container {
  animation: mod__mob-wrap-container-in 200ms ease-in-out;
  background-color: rgba(0, 0, 0, 0.75);
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 200ms ease-in-out;
  z-index: 200; }

.mod__mob-wrap-container--closing {
  opacity: 0; }

.mod__mob-wrap-container--closed {
  display: none; }

.mod__mob-wrap-body {
  animation: mod__mob-wrap-body-in 200ms cubic-bezier(0.215, 0.44, 0.42, 0.88);
  display: flex;
  flex-direction: column;
  max-height: calc(100% - 32px);
  background-color: white;
  border-radius: 4px 4px 0 0;
  overflow: hidden;
  transition: transform 200ms cubic-bezier(0.215, 0.44, 0.42, 0.88); }

.mod__mob-wrap-body--max-height {
  height: calc(100% - 32px); }

.mod__mob-wrap-body--closing {
  transform: translate3d(0, 30px, 0); }

.mod__mob-wrap-content {
  flex: 1 1 auto;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 16px 24px; }

.mod__mob-wrap-header {
  align-items: center;
  border-bottom: 1px solid #efefef;
  display: flex;
  justify-content: space-between;
  padding: 16px 24px; }

.mod__mob-wrap-title {
  font-size: 1.2019rem;
  line-height: 1.55rem; }
  @media screen and (max-width: 859px) {
    .mod__mob-wrap-title {
      font-size: 1.1305rem; } }
  @media screen and (max-width: 479px) {
    .mod__mob-wrap-title {
      font-size: 1.0625rem; } }

.mod__mob-wrap-footer {
  border-top: 1px solid #efefef;
  display: block;
  padding: 16px 24px;
  text-align: center; }

@keyframes mod__mob-wrap-container-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes mod__mob-wrap-body-in {
  0% {
    transform: translate3d(0, 30px, 0); }
  100% {
    transform: translate3d(0, 0, 0); } }
