.mod__overlay-container {
  background-color: #f4f4f4;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  z-index: 200;
  animation: mod__overlay-in 300ms cubic-bezier(0.215, 0.44, 0.42, 0.88);
  transition: all 300ms cubic-bezier(0.215, 0.44, 0.42, 0.88);
  opacity: 1;
  transform: translate3D(0, 0, 0) scale(1); }

.mod__overlay-container--closing {
  opacity: 0;
  transform: translate3D(0, 24px, 0) scale(0.95); }

.mod__overlay-container--no-scroll {
  overflow-y: hidden; }

@keyframes mod__overlay-in {
  0% {
    opacity: 0;
    transform: translate3D(0, 24px, 0) scale(0.95); }
  100% {
    opacity: 1;
    transform: translate3D(0, 0, 0) scale(1); } }
