@import 'CalciteColors';

//  COLORS
$dark_background_color            : $Calcite_Gray_700; // white

$dark_text_color                  : $Calcite_Gray_100;

$dark_anchor_color                : $Calcite_Highlight_Blue_300;

$dark_btn_color                   : $Calcite_Gray_250;
$dark_btn_hover_color             : $Calcite_Gray_100;

$dark_main_border_color            : $Calcite_Gray_550;

$dark_page_menu_header_color      : $Calcite_Gray_600;
$dark_page_menu_header_bg         : $Calcite_Gray_150;
$dark_page_menu_header_border     : $Calcite_Gray_150;
$dark_page_menu_color             : $Calcite_Gray_700;
$dark_page_menu_item_border       : $Calcite_Gray_500;
$dark_page_menu_item_hover        : $Calcite_Gray_100;
$dark_page_menu_bg_color          : $Calcite_Gray_250;
$dark_page_menu_bg_color_selected : $Calcite_Gray_250;
$dark_page_menu_btn_hover         : $Calcite_Gray_700; // white

$dark_title_color                 : $Calcite_Gray_100;

$dark_table_row_bg_odd            : $Calcite_Gray_300;
$dark_table_row_bg_even           : $Calcite_Gray_100;
$dark_table_row_border            : $Calcite_Gray_100;