<div>
  <table class="esri-rfx-args-editor__table">
    <tr class="esri-rfx-args-editor__tr--arg-name esri-rfx-bandArithmetic-indexes-editor">
      <td data-dojo-attach-point="_templateArgLabel"></td>
    </tr>
    <tr class="esri-rfx-args-editor__tr--arg-widget esri-rfx-bandArithmetic-indexes-editor">
      <td>
        <input dojoType="dijit.form.TextBox" data-dojo-attach-point="_templateArgInput"
          declaredClass="RFxBandArithmeticBandIndexesEditor"></input>
      </td>
    </tr>
    <tr class="esri-rfx-args-editor__tr--arg-name esri-rfx-bandArithmetic-indexes-editor--details">
      <td data-dojo-attach-point="_templateInputDetails"></td>
    </tr>
  </table>
</div>
