<div class="esri-rfx-custom-extent">
  <div class="esri-rfx-custom-extent__top">
    <label>${_i18n.rasterExtentTop}</label>
    <div data-dojo-type="dijit/form/NumberTextBox" data-dojo-attach-point="topInput" data-dojo-attach-event="onChange: _onChange"></div>
  </div>
  <div class="esri-rfx-custom-extent__right">
    <label>${_i18n.rasterExtentRight}</label>
    <div data-dojo-type="dijit/form/NumberTextBox" data-dojo-attach-point="rightInput" data-dojo-attach-event="onChange: _onChange"></div>
  </div>
  <div class="esri-rfx-custom-extent__bottom">
    <label>${_i18n.rasterExtentBottom}</label>
    <div data-dojo-type="dijit/form/NumberTextBox" data-dojo-attach-point="bottomInput" data-dojo-attach-event="onChange: _onChange"></div>
  </div>
  <div class="esri-rfx-custom-extent__left">
    <label>${_i18n.rasterExtentLeft}</label>
    <div data-dojo-type="dijit/form/NumberTextBox" data-dojo-attach-point="leftInput" data-dojo-attach-event="onChange: _onChange"></div>
  </div>
</div>
