<div>
  <table style="width: 100%;">
    <tr class="esriRFxArgsEditor__tr--arg-name">
      <td colspan="2" data-dojo-attach-point="clippingLayerLabel">
        ${_i18n.rfxClippingGeometry.clippingLayer}
      </td>
    </tr>
    <tr class="esriRFxArgsEditor__tr--arg-widget">
      <td>
        <div data-dojo-type="dijit/form/Select" data-dojo-attach-point="clippingLayerMode" data-dojo-attach-event="onChange: onClippingLayerModeChange">
          <span value="${clippingTypes.clippingRaster}">${_i18n.rfxClippingGeometry.clippingRaster}</span>
          <span value="${clippingTypes.clippingGeometry}">${_i18n.rfxClippingGeometry.clippingGeometry}</span>
        </div>
        </td>
        <td data-dojo-attach-point="polyDrawBtnTd">
        <div data-dojo-type="dijit/form/ToggleButton" data-dojo-attach-point="polyDrawBtn" class="esriFloatLeading esriActionButton"
        data-dojo-props="showLabel:false,iconClass:'toolbarIcon polygonIcon',label:'${_i18n.rfxClippingGeometry.drawLabel}'" data-dojo-attach-event="onChange:_handlePolyBtnChange"></div>
      </td>
    </tr>
    <tr class="esriRFxArgsEditor__tr--arg-widget" data-dojo-attach-point="clippingRasterWidgetRow">
      <td colspan="2">
        <div data-dojo-type="esri/dijit/RasterFunctionEditor/RFxRasterInput" data-dojo-attach-point="clippingRasterSelect" data-dojo-attach-event="onChange: _setClippingRasterArgValue">
        </div>
      </td>
    </tr>
    <tr class="esriRFxArgsEditor__tr--arg-widget" data-dojo-attach-point="clippingGeometryWidgetRow">
      <td colspan="2">
        <div data-dojo-type="esri/dijit/RasterFunctionEditor/RFxFeatureSelect" data-dojo-attach-point="clippingGeometrySelect" data-dojo-attach-event="onChange: _setClippingFeatureGeometryArgValue">
        </div>
      </td>
    </tr>
    <tr class="esriRFxArgsEditor__tr--arg-name">
      <td colspan="2" data-dojo-attach-point="clippingLayerLabel">
        ${_i18n.rfxClippingGeometry.outputExtent}
      </td>
    </tr>
    <tr class="esriRFxArgsEditor__tr--arg-widget" data-dojo-attach-point="customExtentWidgetRow">
      <td colspan="2">
        <div data-dojo-type="esri/dijit/RasterFunctionEditor/RFxCustomExtent" data-dojo-attach-point="customExtentInput">
        </div>
      </td>
    </tr>
  </table>
</div>
