<div class="esri-rfx-multidimensionalDefinition-editor">
  <div class="esri-rfx-raster-variable-grid">
    <div data-dojo-attach-point="_rasterVariableDiv"></div>
  </div>
  <div data-dojo-attach-point="_dimensionDefinitionDivContainer"></div>
  <div data-dojo-attach-point="_byValuesGridDivContainer" class="esri-rfx-mdimdef-byValues-grid hidden"></div>
  <div data-dojo-attach-point="_byRangesGridDivContainer" class="esri-rfx-mdimdef-byRanges-grid hidden"></div>
  <div data-dojo-attach-point="_byIterationDivContainer" class="esri-rfx-mdimdef-byIteration-form hidden">
    <div data-dojo-attach-point="_byIterationFormDiv"></div>
  </div>
</div>
