<div>
  <table class="esri-rfx-args-editor__table">
    <tr class="esri-rfx-args-editor__tr--arg-name esri-rfx-pansharpen-sensor-picker">
      <td data-dojo-attach-point="fieldLabel" data-key="factorFunction"></td>
    </tr>
    <tr class="esri-rfx-args-editor__tr--arg-widget esri-rfx-pixel-type-filter">
      <td>
        <select dojoType="dijit.form.Select" data-dojo-attach-point="_templateNode"
          declaredClass="RFxPansharpenSensorPicker"></select>
      </td>
    </tr>
  </table>
</div>
