<div class="esriRFxRasterInfo">
  <table class='esriRFxRasterInfo__table'>
    <tr class="esri-rfx-args-editor__tr--arg-widget">
      <td>
        <div data-dojo-type="esri/dijit/RasterFunctionEditor/RFxRasterInput" data-dojo-attach-point="_layerSelect">
        </div>
      </td>
    </tr>
    <tr class="esri-rfx-args-editor__tr--arg-widget">
      <td>
        <div data-dojo-attach-point="_RasterInfoPane">
        </div>
      </td>
    </tr>
    <tr class="esri-rfx-args-editor__tr--arg-widget">
      <td>
        <div data-dojo-attach-point="_RasterExtentPane">
        </div>
      </td>
    </tr>
    <tr class="esri-rfx-args-editor__tr--arg-widget">
      <td>
        <div data-dojo-attach-point="_RasterSpatialReferencePane">
        </div>
      </td>
    </tr>
    <tr class="esri-rfx-args-editor__tr--arg-widget">
      <td>
        <div data-dojo-attach-point="_RasterStasticsPane">
        </div>
      </td>
    </tr>
  </table>
</div>
