

.esriGEAdjustableGrid {
    position: absolute;
}

    .esriGEAdjustableGrid > .adjustableGridMainNode > .adjustableGrid_emptyRow {
        display: block;
        background-color: transparent;
        height: 1px;
        margin-bottom: -1px;
    }

    

    .esriGEAdjustableGrid > .adjustableGridMainNode > .esriGEAdjustableGridValueField {
        vertical-align: top;
        overflow: hidden;
        box-sizing: border-box;
    }

    .esriGEAdjustableGrid.esriGEAdjustableGridSingleCell > .adjustableGridMainNode > .esriGEAdjustableGridValueField {
        overflow: visible;
    }

    .esriGEAdjustableGrid > .adjustableGridMainNode > .esriGEAdjustableGridValueField > .valueField_contentBlock {
        box-sizing: border-box;
    }

    .esriGEAdjustableGrid > .adjustableGridMainNode > .esriGEAdjustableGridValueField > .valueField_contentBlock > .valueField_valueBlock {
        display: table-cell;
    }

    

    .esriGEAdjustableGrid .valueField_valueLabel {
        transform-origin: 50% 50%;
        -webkit-transform-origin: 50% 50%;
    }

    .esriGEAdjustableGrid > .adjustableGridMainNode > .esriGEAdjustableGridValueField > .valueField_contentBlock > .valueField_valueBlock > .valueField_valueLabel {
        white-space: pre-wrap; 
        overflow-wrap: break-word; 
    }

    
    .esriGEAdjustableGrid > .adjustableGridMainNode > .esriGEAdjustableGridValueField.hasNumericVariableFieldInfo > .valueField_contentBlock > .valueField_valueBlock > .valueField_valueLabel {
        word-break: break-all;
    }

    
    .esriGEAdjustableGrid > .adjustableGridMainNode > .esriGEAdjustableGridValueField.hasStringVariableFieldInfo > .valueField_contentBlock > .valueField_valueBlock > .valueField_valueLabel {
         white-space: normal;
    }

    

    

    .esriGEAdjustableGrid .sortArrow {
        background-repeat: no-repeat;
        background-size: contain;
        width: 9px;
        height: 9px;
        display: inline-block;
        cursor: pointer;
        position: absolute;
    }

    .esriGEAdjustableGrid .sortArrowUp {
        background-image: url("../images/sortArrows/upTriangle.svg");
    }

    .esriGEAdjustableGrid .sortArrowDown {
        background-image: url("../images/sortArrows/downTriangle.svg");
    }



.esriGEAdjustableGridValueFieldHyperLink:hover {
    text-decoration: underline;
    cursor: pointer;
}

.esriGEAdjustableGrid .esriGEAdjustableGridValueField a {
    color: blue;
}



.esriGEAdjustableGrid .adjustableGrid_backgroundSection {
    pointer-events: none;
}



.esriGEAdjustableGrid .adjustableGrid_foregroundSection {
    pointer-events: none;
}



.esriGEAdjustableGrid .adjustableGrid_floatingTablesSection {
    width: 0px !important;
    height: 0px !important;
}



.esriGEAdjustableGrid > .adjustableGridMainNode > .esriGEAdjustableGridValueField.highlightedFieldCell {
    background-color: rgba(0, 145, 251, 0.2) !important;
}