////////////////////////////////////////
// Widget Common Vars

// Colors
@import 'ColorVariables';

// Font
$font_family                : "Avenir Next W00", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

// Text
$line_height                : 1.3em !default;
$text_size                  : 14px !default;
$text_size_small            : 12px !default;
$text_weight_title          : 600 !default;
$text_weight_header         : 600 !default;
$text_weight_normal         : 400 !default;
$title_text_size            : 16px !default;
$h1_text_size               : 18px !default;
$h2_text_size               : 14px !default;
$body_text_size             : 12px !default;
$popup_button_text_size     : 13px !default;
$table_text_size            : 14px !default;
$caption_text_size          : 10px !default;

// Sizes & Placement
$button_width               : 32px !default;
$button_height              : 32px !default;
$side_spacing               : 15px !default;
$cap_spacing                : 12px !default;
$menu_gap                   : 5px !default;
$menu_placement             : 100% !default;
$docked_margin              : 15px !default;
$popup_pointer_width        : 12 !default;
$popup_pointer_height       : 12 !default;
$popup_pointer_scale_x      : 0.75 !default;
$popup_pointer_scale_y      : 2 !default;
