

.outerAdjustableGrid.esriGEAdjustableGrid {
    position: relative;
}

    

    

        .outerAdjustableGrid.esriGEAdjustableGrid.adjustableGridPreviewMode > .adjustableGridMainNode > .esriGEAdjustableGridValueField > .valueField_contentBlock {
            border: 1px solid transparent;
        }

        .outerAdjustableGrid.esriGEAdjustableGrid.adjustableGridPreviewMode > .adjustableGridMainNode > .esriGEAdjustableGridValueField.outer_valueFieldFocused > .valueField_contentBlock {
            border: 1px solid transparent;
        }

        .outerAdjustableGrid.esriGEAdjustableGrid.adjustableGridPreviewMode > .adjustableGridMainNode > .esriGEAdjustableGridValueField > .valueField_contentBlock > .esriGEDisabledContent {
            background-color: white;
            opacity: 0;
            position: relative;
        }
