

.infographicContainerTable.inSectionAdjustableGrid.esriGEAdjustableGrid.adjustableGridEditMode > .adjustableGridMainNode > .esriGEAdjustableGridValueField,
.infographicContainerTable.inSectionAdjustableGrid.esriGEAdjustableGrid.adjustableGridEditMode > .adjustableGridMainNode > .esriGEAdjustableGridValueField.lastRow,
.infographicContainerTable.inSectionAdjustableGrid.esriGEAdjustableGrid.adjustableGridEditMode > .adjustableGridMainNode > .esriGEAdjustableGridValueField.lastInRow,
.infographicContainerTable.inSectionAdjustableGrid.esriGEAdjustableGrid.adjustableGridPreviewMode > .adjustableGridMainNode > .esriGEAdjustableGridValueField,
.infographicContainerTable.inSectionAdjustableGrid.esriGEAdjustableGrid.adjustableGridPreviewMode > .adjustableGridMainNode > .esriGEAdjustableGridValueField.lastRow,
.infographicContainerTable.inSectionAdjustableGrid.esriGEAdjustableGrid.adjustableGridPreviewMode > .adjustableGridMainNode > .esriGEAdjustableGridValueField.lastInRow {
    border: none;
    overflow: visible;
}

    .infographicContainerTable.inSectionAdjustableGrid.esriGEAdjustableGrid.adjustableGridPreviewMode > .adjustableGridMainNode > .esriGEAdjustableGridValueField > .valueField_contentBlock > .valueField_valueBlock > .valueField_valueLabel,
    .infographicContainerTable.inSectionAdjustableGrid.esriGEAdjustableGrid.adjustableGridEditMode > .adjustableGridMainNode > .esriGEAdjustableGridValueField > .valueField_contentBlock > .valueField_valueBlock > .valueField_valueLabel {
        word-break: initial;
    }

    .infographicContainerTable.inSectionAdjustableGrid.esriGEAdjustableGrid.adjustableGridPreviewMode > .adjustableGridMainNode > .esriGEAdjustableGridValueField.hasVariableFieldInfo > .valueField_contentBlock > .valueField_valueBlock > .valueField_valueLabel,
    .infographicContainerTable.inSectionAdjustableGrid.esriGEAdjustableGrid.adjustableGridEditMode > .adjustableGridMainNode > .esriGEAdjustableGridValueField.hasVariableFieldInfo > .valueField_contentBlock > .valueField_valueBlock > .valueField_valueLabel {
        word-break: break-all;
    }

    .infographicContainerTable.inSectionAdjustableGrid.esriGEAdjustableGrid.adjustableGridPreviewMode > .adjustableGridMainNode > .esriGEAdjustableGridValueField > .valueField_contentBlock,
    .infographicContainerTable.inSectionAdjustableGrid.esriGEAdjustableGrid.adjustableGridEditMode > .adjustableGridMainNode > .esriGEAdjustableGridValueField > .valueField_contentBlock {
        border: 1px solid transparent;
    }

    .infographicContainerTable.inSectionAdjustableGrid.esriGEAdjustableGrid.adjustableGridPreviewMode > .adjustableGridMainNode > .esriGEAdjustableGridValueField.valueFieldFocused > .valueField_contentBlock,
    .infographicContainerTable.inSectionAdjustableGrid.esriGEAdjustableGrid.adjustableGridEditMode > .adjustableGridMainNode > .esriGEAdjustableGridValueField.valueFieldFocused > .valueField_contentBlock {
        border: 1px solid blue;
    }

.infographicContainerTable.inSectionAdjustableGrid.esriGEAdjustableGrid > .adjustableGridMainNode > .esriGEAdjustableGridValueField > .valueField_contentBlock > .valueField_valueBlock > .valueField_valueLabel {
    overflow-wrap: initial;
}
