


.esriGEAreaDetailsInfographic {
}

    

    .esriGEAreaDetailsInfographic .areaDetails_noDetailsPlaceHolder {
        text-align: center;
    }

    .esriGEAreaDetailsInfographic .areaDetails_noDetailsPlaceHolderImage {
        background-image: url("./images/emptySectionIcon.svg");
        background-repeat: no-repeat;
        background-position: center;
        display: inline-block;
        background-size: 250px 139px;
        width: 250px;
        height: 139px;
        opacity: 0.5;
    }

    .esriGEAreaDetailsInfographic .areaDetails_noDetailsPlaceHolderLabel {
        text-align: center;
        font-style: italic;
        margin-top: 5px;
        color: #AAAAAA;
    }
