

.esriGEReportPlayer_chartContainer {
    position: relative;
    display: inline-block;
}

.chartContainer_chartContainerWithAxis {
    position: relative;
}

.esriGEReportPlayer_chartContainer .chartContainer_chartLabel {
    text-align: center;
    line-height: 26px;
}

.esriGEReportPlayer_chartContainer .chartContainer_editChartButton {
    position: absolute;
    left: 5px;
    top: 5px;
    height: 20px;
    line-height: 20px;
    z-index: 10;
    display: none;
    background-color: gray;
    color: white;
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;
    opacity: 0;
}

.esriGEReportPlayer_chartContainer:hover .chartContainer_editChartButton {
    opacity: 1;
}

.esriGEReportPlayer_chartContainer .chartContainerDiv_innerChartNode {
}



.esriGEReportPlayer_chartContainer .chartContainer_legendContainer {
    position: absolute;
    min-width: 80px;
}

.esriGEReportPlayer_chartContainer .esriGESelectableLegend {
    border: 1px solid #b2b2b2;
    display: inline-block;
    overflow: hidden;
    padding-bottom: 5px;
    color: #4C4C4C;
    background-color: white;
}

    .esriGEReportPlayer_chartContainer .esriGESelectableLegend .selectableLegendRoot {
        padding-left: 3px;
        padding-right: 3px;
        height: 13px;
        text-decoration: inherit;
        white-space: nowrap;
    }

    .esriGEReportPlayer_chartContainer .esriGESelectableLegend .selectableLegendRootColorRect {
        width: 10px;
        height: 10px;
        margin-left: 2px;
        margin-right: 2px;
    }

    .esriGEReportPlayer_chartContainer .esriGESelectableLegend .selectableLegendRootLabel {
        max-width: 200px;
        text-decoration: inherit;
    }



.esriGEReportPlayer_chartContainer.graphicReportChart .esriGESelectableLegend .selectableLegendRootColorRect {
    border-radius: 5px;
}






.esriGEReportPlayer_chartContainer.legendPlacementLeft .chartContainer_legendContainer .esriGESelectableLegend {
    text-align: right;
}

.esriGEReportPlayer_chartContainer.legendPlacementLeft .esriGESelectableLegend .selectableLegendRoot {
    width: auto !important;
}



.esriGEReportPlayer_chartContainer.legendPlacementRight .chartContainer_legendContainer {
    text-align: right;
}

    .esriGEReportPlayer_chartContainer.legendPlacementRight .chartContainer_legendContainer .esriGESelectableLegend {
        text-align: left;
    }

.esriGEReportPlayer_chartContainer.legendPlacementRight .esriGESelectableLegend .selectableLegendRoot {
    width: auto !important;
}



.esriGEReportPlayer_chartContainer.legendPlacementTop .chartContainer_legendContainer {
    text-align: center;
}

.esriGEReportPlayer_chartContainer.legendPlacementTop .esriGESelectableLegend {
    text-align: left;
}

    .esriGEReportPlayer_chartContainer.legendPlacementTop .esriGESelectableLegend .selectableLegendRoot {
        display: inline-block;
    }



.esriGEReportPlayer_chartContainer.legendPlacementBottom .chartContainer_legendContainer {
    text-align: center;
}

.esriGEReportPlayer_chartContainer.legendPlacementBottom .esriGESelectableLegend {
    text-align: left;
}

    .esriGEReportPlayer_chartContainer.legendPlacementBottom .esriGESelectableLegend .selectableLegendRoot {
        display: inline-block;
        position: relative;
        top: 2px;
    }

        .esriGEReportPlayer_chartContainer.legendPlacementBottom .esriGESelectableLegend .selectableLegendRoot .selectableLegendRootCheckbox {
            position: relative;
            top: -1px;
        }



.esriGEReportPlayer_chartContainerLevelLineH {
    position: absolute;
    border-top: 1px solid #AAAAAA;
    height: 1px;
}

.esriGEReportPlayer_chartContainerLevelLineV {
    position: absolute;
    border-left: 1px solid #AAAAAA;
    width: 1px;
}



.esriGEReportPlayer_chartContainer .chartContainer_chartIcon {
    position: absolute;
    background-size: contain;
    cursor: pointer;
}

.chartContainerIconTable.inSectionAdjustableGrid.esriGEAdjustableGrid > .adjustableGridMainNode > .esriGEAdjustableGridValueField > .valueField_contentBlock,
.chartContainerIconTable.inSectionAdjustableGrid.esriGEAdjustableGrid > .adjustableGridMainNode > .esriGEAdjustableGridValueField.valueFieldFocused > .valueField_contentBlock,
.chartContainerIconTable.inSectionAdjustableGrid.esriGEAdjustableGrid > .adjustableGridMainNode > .esriGEAdjustableGridValueField,
.chartContainerIconTable.inSectionAdjustableGrid.esriGEAdjustableGrid > .adjustableGridMainNode > .esriGEAdjustableGridValueField.lastRow,
.chartContainerIconTable.inSectionAdjustableGrid.esriGEAdjustableGrid > .adjustableGridMainNode > .esriGEAdjustableGridValueField.lastInRow {
    border: none;
    overflow: visible;
    background-color: transparent !important;
}



.esriGEReportPlayer_chartContainer .chartContainer_textSection {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 0px !important;
    height: 0px !important;
}

.chartContainerTextTable.inSectionAdjustableGrid.esriGEAdjustableGrid > .adjustableGridMainNode > .esriGEAdjustableGridValueField > .valueField_contentBlock,
.chartContainerTextTable.inSectionAdjustableGrid.esriGEAdjustableGrid.adjustableGridEditMode > .adjustableGridMainNode > .esriGEAdjustableGridValueField,
.chartContainerTextTable.inSectionAdjustableGrid.esriGEAdjustableGrid.adjustableGridEditMode > .adjustableGridMainNode > .esriGEAdjustableGridValueField.lastRow,
.chartContainerTextTable.inSectionAdjustableGrid.esriGEAdjustableGrid.adjustableGridEditMode > .adjustableGridMainNode > .esriGEAdjustableGridValueField.lastInRow {
    border: none;
    overflow: visible;
}

.chartContainerTextTable.inSectionAdjustableGrid.esriGEAdjustableGrid > .adjustableGridMainNode > .esriGEAdjustableGridValueField:hover > .valueField_contentBlock {
    background-color: transparent !important;
}



.esriGEReportPlayer_chartContainer .chartContainer_floatingIconSection {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 0px !important;
    height: 0px !important;
}

.chartContainerFloatingIconTable.inSectionAdjustableGrid.esriGEAdjustableGrid > .adjustableGridMainNode > .esriGEAdjustableGridValueField > .valueField_contentBlock,
.chartContainerFloatingIconTable.inSectionAdjustableGrid.esriGEAdjustableGrid.adjustableGridEditMode > .adjustableGridMainNode > .esriGEAdjustableGridValueField,
.chartContainerFloatingIconTable.inSectionAdjustableGrid.esriGEAdjustableGrid.adjustableGridEditMode > .adjustableGridMainNode > .esriGEAdjustableGridValueField.lastRow,
.chartContainerFloatingIconTable.inSectionAdjustableGrid.esriGEAdjustableGrid.adjustableGridEditMode > .adjustableGridMainNode > .esriGEAdjustableGridValueField.lastInRow {
    border: none;
    overflow: visible;
    background-color: transparent !important;
}



.chartContainer_chartTooltip {
    text-align: left;
}

    .chartContainer_chartTooltip .chartTooltip_current {
        font-weight: bold;
    }

    .chartContainer_chartTooltip .chartTooltip_title {
        font-weight: bold;
    }

    .chartContainer_chartTooltip .chartTooltip_color {
        width: 10px;
        height: 10px;
        border-radius: 5px;
    }

    .chartContainer_chartTooltip .chartTooltip_label {
        margin-right: 20px;
    }

    .chartContainer_chartTooltip .chartTooltip_value {
    }
