


.esriGEReportPlayer_section .floatingElement {
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    pointer-events: none;
}



.reportContainerEditMode .floatingElementContainer.esriGEAdjustableGridValueField {
    vertical-align: top;
    border: 1px solid #b2b2b2;
    display: inline-block;
    overflow: visible;
    background-color: transparent;
    padding-bottom: 1px;
    padding-right: 1px;
}

.reportContainerPreviewMode .floatingElementContainer.esriGEAdjustableGridValueField {
    border: 1px solid transparent;
    background-color: transparent;
    padding-bottom: 1px;
    padding-right: 1px;
    overflow: visible;
}



.reportContainerEditMode .floatingElementContainer.templateImageContainerStatic.esriGEAdjustableGridValueField,
.reportContainerEditMode .floatingElementContainer.templateShapeContainerStatic.esriGEAdjustableGridValueField {
    border: none;
    cursor: default;
}



.templateImageContainerMovable {
    cursor: move;
}



.esriGEReportPlayer_section .templateMapImage {
    background-position: center;
    background-size: cover;
}

.esriGEReportPlayer_section .templateMapImage.templateImageWithThumbnail {
    background-size: auto;
}

.esriGEReportPlayer_section .templateMap .esriAttributionItem,
.esriGEReportPlayer_section .templateMap .esriAttributionLastItem {
    display: none !important;
}



.esriGEReportPlayer_section .shapeContainer_svgContainer {
    overflow: hidden;
    white-space: nowrap;
}

.esriGEReportPlayer_section .shapeContainer_svgContainerBackground {
    opacity: 0.3;
}

.esriGEReportPlayer_section .shapeContainer_svgContainerElement {
    position: absolute;
    top: 0px;
}



.esriGEReportPlayer_section .shapeContainer_svgPlaceholder {
    background-image: url("./images/addShape.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: inherit;
    height: inherit;
}

.esriGEReportPlayer_section .valueField_valueBlock:hover .shapeContainer_svgPlaceholder {
    background-image: url("./images/addShape_over.svg");
}

.esriGEReportPlayer_section .shapeContainer_svgPlaceholderText {
    margin-top: -10px;
    width: 100%;
    text-align: center;
}



.floatingElementContainer.esriGEAdjustableGridValueField.templateImage_logoPlaceholder {
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("./images/logo/logoCircle.svg");
}

    .floatingElementContainer.esriGEAdjustableGridValueField.templateImage_logoPlaceholder .templateImage {
        opacity: 0;
    }

.floatingElementContainer.esriGEAdjustableGridValueField .templateImage_logoPlaceholderText {
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    width: inherit;
    position: absolute;
    color: #6f6f6f;
}

.floatingElementContainer.esriGEAdjustableGridValueField .templateImage_logoPlaceholderTextShort {
    text-align: center;
    font-size: 32px;
    cursor: pointer;
    width: inherit;
    color: #56A5D8;
    position: absolute;
}

.floatingElementContainer.esriGEAdjustableGridValueField.templateImage_logoPlaceholder.templateImage_logoPlaceholderShort {
    background-image: none;
}



.templateImage_errorMessage {
    color: red;
    font-size: 13px;
    text-align: center;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
}
