

.esriGEReportPlayer_reportContainer {
}

    .esriGEReportPlayer_reportContainer .reportContainer_stackContainer {
        position: relative;
    }

    

    .esriGEReportPlayer_reportContainer.reportContainerPreviewMode .reportContainer_mainContainer {
        overflow-x: auto;
        overflow-y: auto;
        width: inherit;
        text-align: center;
    }

    .esriGEReportPlayer_reportContainer.reportContainerPreviewMode .reportContainer_stackContainer {
        background-color: white;
        overflow: hidden;
        min-height: 400px;
        border: 1px solid #b2b2b2;
        height: auto;
        text-align: left;
        display: inline-block;
    }

    .esriGEReportPlayer_reportContainer.reportContainerPreviewMode .reportElement:hover .reportElement_coverElement {
        background-color: rgba(0, 145, 251, 0.1) !important;
    }

    .esriGEReportPlayer_reportContainer.reportContainerPreviewMode .horizontalRuler {
        display: none;
    }

    .esriGEReportPlayer_reportContainer.reportContainerPreviewMode .reportElement {
        background-color: #F0F0F0;
        overflow: hidden;
        padding-bottom: 0px;
        position: relative;
        padding-left: 0px;
    }

    .esriGEReportPlayer_reportContainer.reportContainerPreviewMode .reportElementRuler,
    .esriGEReportPlayer_reportContainer.reportContainerPreviewMode .reportElementLabel {
        display: none;
    }

    .esriGEReportPlayer_reportContainer.reportContainerPreviewMode .reportContainerCell {
        border: none;
        overflow: visible;
        padding: 0px;
        margin: 0px;
        background-color: white;
        display: inline-block;
        vertical-align: top;
        padding-bottom: 1px;
    }


    

    .esriGEReportPlayer_reportContainer.reportContainerEditMode {
        position: relative;
    }

        .esriGEReportPlayer_reportContainer.reportContainerEditMode .reportContainer_stackContainer {
            padding-left: 0px !important;
            padding-right: 0px !important;
            padding-top: 0px !important;
            padding-bottom: 0px !important;
            border-left: 1px solid #b2b2b2;
            border-top: 1px solid #b2b2b2;
            margin-bottom: 360px;
            margin-left: 10px;
            margin-right: 10px;
            display: inline-block;
            text-align: left;
        }

        .esriGEReportPlayer_reportContainer.reportContainerEditMode .reportContainer_mainContainer {
            overflow-x: visible;
            overflow-y: auto;
            text-align: center;
        }

        .esriGEReportPlayer_reportContainer.reportContainerEditMode .horizontalRulerContainer {
            overflow: hidden;
            margin-left: 146px;
        }

        .esriGEReportPlayer_reportContainer.reportContainerEditMode .horizontalRuler {
            display: block;
            background-repeat: no-repeat;
            background-image: url("./images/horizontalRuler.png");
            height: 17px;
            position: relative;
        }

        .esriGEReportPlayer_reportContainer.reportContainerEditMode .reportElement {
            background-color: #F0F0F0;
            overflow: hidden;
            padding-bottom: 8px;
            position: relative;
        }

            .esriGEReportPlayer_reportContainer.reportContainerEditMode .reportElement:hover {
                background-color: #f0f6fb !important;
            }

        .esriGEReportPlayer_reportContainer.reportContainerEditMode .reportElementLabel {
            display: inline-block;
            vertical-align: top;
            width: 137px;
            margin: 0px;
            padding-left: 5px;
            padding-top: 1px;
        }

        .esriGEReportPlayer_reportContainer.reportContainerEditMode .reportElementRuler {
            display: block;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url("./images/verticalRuler.png");
            width: 17px;
            height: 1200px;
            margin-right: 1px;
            position: absolute;
            left: 125px;
            top: 0px;
        }

        .esriGEReportPlayer_reportContainer.reportContainerEditMode .reportContainerCell {
            border: none;
            overflow: visible;
            padding: 0px;
            margin: 0px;
            background-color: white;
            display: inline-block;
            vertical-align: top;
            position: relative;
        }



.esriGEReportPlayer_reportContainer .sampleValuesWatermark {
    position: absolute;
    z-index: 10000;
    background-image: url('./images/sampleWatermark.svg');
    background-repeat: repeat;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
