.esriGEReportPlayer_reportContainerPagination {
    position: relative;
}

    .esriGEReportPlayer_reportContainerPagination .reportContainerPagination_reportBackground {
        position: absolute;
        left: 60px;
        right: 60px;
        top: 0px;
        bottom: 40px;
    }

    .esriGEReportPlayer_reportContainerPagination .reportContainerPagination_emptyPlaceholder {
        font-style: italic;
        min-width: 400px;
        text-align: center;
        padding: 20px;
        color: #AAAAAA;
        font-size: 13px;
    }

    

    .esriGEReportPlayer_reportContainerPagination > div > .esriGEReportPlayer_infographicsPage > .esriGEReportPlayer_reportContainerGrid > .Pagination {
        text-align: center;
    }

        .esriGEReportPlayer_reportContainerPagination > div > .esriGEReportPlayer_infographicsPage > .esriGEReportPlayer_reportContainerGrid > .Pagination > .Pagination_Items {
            left: 60px;
            right: 60px;
        }

        .esriGEReportPlayer_reportContainerPagination > div > .esriGEReportPlayer_infographicsPage > .esriGEReportPlayer_reportContainerGrid > .Pagination > .esriGEDisabledContent {
            opacity: 0.01;
            position: absolute;
            left: 0px;
            top: 0px;
            right: 0px;
            bottom: 0px;
            margin-top: 0px !important;
        }

        .esriGEReportPlayer_reportContainerPagination > div > .esriGEReportPlayer_infographicsPage > .esriGEReportPlayer_reportContainerGrid > .Pagination > .Pagination_TriangleDisabled {
            opacity: 0.3;
        }
