


.esriGEReportPlayer_section .sectionDynamicSettings_settingsButton {
    position: absolute;
    background-color: gray;
    background-size: 16px;
    background-position: center;
    width: 24px;
    height: 24px;
    top: 5px;
    right: 5px;
    padding: 0px;
    min-width: 0px;
    background-repeat: no-repeat;
    background-image: url("./images/gearWhite.svg");
    display: inline-block;
    cursor: pointer;
    border-radius: 20px;
}



.esriGEReportPlayer_sectionDynamicSettings {
    background-color: white;
    padding: 5px;
    min-width: 100px;
}

    

    .esriGEReportPlayer_sectionDynamicSettings .sectionDynamicSettings_sortingList {
    }

        .esriGEReportPlayer_sectionDynamicSettings .sectionDynamicSettings_sortingList .listItem div:first-child {
            width: 100px;
        }

        .esriGEReportPlayer_sectionDynamicSettings .sectionDynamicSettings_sortingList .upButton,
        .esriGEReportPlayer_sectionDynamicSettings .sectionDynamicSettings_sortingList .downButton {
            background-image: url("./images/sortArrows/upTriangle.svg");
            background-repeat: no-repeat;
            width: 8px;
            height: 8px;
            background-size: 7px;
            background-position: center;
        }

        .esriGEReportPlayer_sectionDynamicSettings .sectionDynamicSettings_sortingList .downButton {
            background-image: url("./images/sortArrows/downTriangle.svg");
        }

    

    .esriGEReportPlayer_sectionDynamicSettings .VariableToggleButtonGroup .dijitButtonContents {
        min-width: 50px;
    }

    .esriGEReportPlayer_sectionDynamicSettings .VariableToggleButtonGroup .dijitButtonContents {
        background: -webkit-linear-gradient(#EEEEEE, #EEEEEE);
        background: -o-linear-gradient(#EEEEEE, #EEEEEE);
        background: -moz-linear-gradient(#EEEEEE, #EEEEEE);
        background: linear-gradient(#EEEEEE, #EEEEEE);
    }

    .esriGEReportPlayer_sectionDynamicSettings .VariableToggleButtonGroup .esriGroupChecked {
        background: -webkit-linear-gradient(#409ECE, #409ECE);
        background: -o-linear-gradient(#409ECE, #409ECE);
        background: -moz-linear-gradient(#409ECE, #409ECE);
        background: linear-gradient(#409ECE, #409ECE);
    }

    

    .esriGEReportPlayer_sectionDynamicSettings .esriGEDisabledContent {
        background-color: white;
    }