

.esriGEReportPlayer_section .section_stackNode {
    position: relative;
    height: 100%;
}

    .esriGEReportPlayer_section .section_stackNode .stackNodeEmptyLine {
        display: block;
        background-color: transparent;
        height: 1px;
        margin-bottom: -1px;
    }

    .esriGEReportPlayer_section .section_stackNode .stackNodeSpacer {
        display: block;
    }

.esriGEReportPlayer_section .section_errorDiv {
    text-align: center;
    padding-top: 50px;
    color: red;
}



.esriGEReportPlayer_section .templateHorizontalLine {
    background-color: black;
    height: 2px;
    margin-right: 2px;
    position: absolute;
    width: 100%;
}

    .esriGEReportPlayer_section .templateHorizontalLine.templateHorizontalLineTop {
        top: 0px;
    }

    .esriGEReportPlayer_section .templateHorizontalLine.templateHorizontalLineBottom {
        bottom: 0px;
    }



.esriGEReportPlayer_pageBreak {
    height: 25px;
    line-height: 22px;
}

    .esriGEReportPlayer_pageBreak .pageBreakLine {
        width: 45%;
        border-top: 2px dashed blue;
    }

    .esriGEReportPlayer_pageBreak .pageBreakLabel {
        width: 9%;
        text-align: center;
    }



.esriGEReportPlayer_empty {
    height: 200px;
    text-align: center;
}

    .esriGEReportPlayer_empty .emptyBorderContainer {
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
        border: 1px dashed #afafaf;
        text-align: center;
        font-size: 12px;
        font-style: italic;
        color: #afafaf;
    }

    .esriGEReportPlayer_empty .empty_backgroundIcon {
        background-image: url("./images/emptySectionIcon.svg");
        background-repeat: no-repeat;
        background-position: center;
        display: inline-block;
        background-size: 250px 139px;
        bottom: 50px;
        opacity: 0.5;
    }

.esriGEReportPlayer_reportContainerGrid .esriGEReportPlayer_empty .emptyBorderContainer {
    border: none;
    font-size: 12px;
}



.esriGEReportPlayer_empty.emptySmallSize {
    height: 100px;
}

    .esriGEReportPlayer_empty.emptySmallSize .emptyBorderContainer {
        min-height: 80px;
        line-height: 80px;
    }

    .esriGEReportPlayer_empty.emptySmallSize .empty_backgroundIcon {
        display: none;
    }