.esriGEReportPlayer_infographicsPageStack {
    position: relative;
}

    .esriGEReportPlayer_infographicsPageStack .infographicPageStack_infographicRow {
        text-align: center;
        position: relative;
        white-space: normal;
        overflow: hidden;
    }

    .esriGEReportPlayer_infographicsPageStack .infographicPageStack_infographicSectionNode {
        display: inline-block;
        position: relative;
        border: 1px solid #dddddd;
        transform-origin: 0 0;
    }

    

    .esriGEReportPlayer_infographicsPageStack.isHorizontal {
        white-space: nowrap;
    }
