




.simpleInfographic_dataDrillingViewDiv.isSlideAnimation .simpleInfographic_backToMainViewButton {
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
    width: 25px;
    height: 25px;
    background-image: url("../images/closeWindowWhite.svg");
    display: inline-block;
    cursor: pointer;
    position: absolute;
    right: 2px;
    top: 0px;
    background-color: gray;
    border-radius: 20px;
}

.simpleInfographic_dataDrillingViewDiv.isSlideAnimation.hasMultipleDrillingOptions .simpleInfographic_backToMainViewButton,
.simpleInfographic_dataDrillingViewDiv.isSlideAnimation.hasChartSettingsButton .simpleInfographic_backToMainViewButton {
    right: 30px;
}

.simpleInfographic_dataDrillingViewDiv.isSlideAnimation.hasMultipleDrillingOptions.hasChartSettingsButton .simpleInfographic_backToMainViewButton {
    right: 60px;
}



.simpleInfographic_dataDrillingViewDiv.isSlideAnimation.hasMultipleDrillingOptions .simpleInfographic_drillingOptionsButton {
    display: block;
}

.simpleInfographic_dataDrillingViewDiv.isSlideAnimation.hasChartSettingsButton .simpleInfographic_drillingOptionsButton {
    right: 30px;
}
