




.esriGESimpleInfographic .simpleInfographic_drillDataButton {
    cursor: pointer;
    text-align: center;
    color: white;
    background-color: rgba(170, 170, 170, 0.8);
    opacity: 0;
    white-space: nowrap;
    position: absolute;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    min-width: 100px;
}

    .esriGESimpleInfographic .simpleInfographic_drillDataButton:hover {
        opacity: 1;
    }

.esriGESimpleInfographic.isShowingAnimation .simpleInfographic_drillDataButton,
.esriGESimpleInfographic.isDrillingData .simpleInfographic_drillDataButton {
    display: none;
}

.esriGESimpleInfographic .simpleInfographic_drillDataButtonIcon {
    background-image: url("../images/chartWhite.svg");
    background-repeat: no-repeat;
    background-size: 24px;
    width: 24px;
    height: 24px;
}

.esriGESimpleInfographic .simpleInfographic_drillDataButtonLabel {
    word-break: break-word;
}

.simpleInfographic_dataDrillingViewDiv {
    position: absolute;
    min-height: 0px;
}

    

    .simpleInfographic_dataDrillingViewDiv .simpleInfographic_drillingOptionsButton {
        position: absolute;
        background-color: gray;
        background-size: 16px;
        background-position: center;
        width: 24px;
        height: 24px;
        top: 0px;
        right: 0px;
        background-repeat: no-repeat;
        background-image: url("../images/dotsIconWhite.svg");
        display: inline-block;
        cursor: pointer;
        border-radius: 20px;
        display: none;
    }



.simpleInfographic_drillingOptionsList {
    background-color: white;
}
