


.esriGESimpleInfographic {
    font-size: 13px;
    position: relative;
    overflow: hidden;
}

    .esriGESimpleInfographic .esriGEAdjustableGrid > .adjustableGridMainNode > .esriGEAdjustableGridValueField.hasNumericVariableFieldInfo > .valueField_contentBlock > .valueField_valueBlock > .valueField_valueLabel {
        white-space: nowrap;
    }
