<div class="esriGEReportPlayer_sectionDynamicChartSettings">
    <div data-dojo-attach-point="viewOptionsDiv" class="esriGERow15 esriGESpaceBeforeBig">
        <div data-dojo-attach-point="toggleViewButton" class="dijitInline esriGELink"></div>
    </div>
    <div data-dojo-attach-point="toggleStateOptionsDiv" class="esriGERow15 esriGESpaceBeforeBig">
        <div data-dojo-attach-point="toggleStateOptionsToggleDiv" class="dijitInline"></div>
    </div>
    <div data-dojo-attach-point="sortingListDiv" class="esriGERow15"></div>
    <div data-dojo-attach-point="filtersBlock" class="esriGERow15"></div>
</div>