.load-icon__icon {
  display: inline-block;
  padding-left: 0.25rem;
  padding-right: 0.25rem; }
  html[dir="rtl"] .load-icon__icon {
    padding-right: 0.25rem; }
  html[dir="rtl"] .load-icon__icon {
    padding-left: 0.25rem; }

.load-icon__svg {
  fill: currentColor;
  pointer-events: none;
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  padding-right: .15em;
  color: #0079c1;
  transition-property: transform;
  transition-duration: 0.5s;
  animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

@keyframes rotate {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.card-mcr__container {
  padding-bottom: 0.775rem;
  padding-top: 0.775rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  animation: ib__fade-in 250ms ease-in-out;
  cursor: pointer;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-bottom-color: #ccc;
  margin-top: -1px;
  position: relative;
  -webkit-transition: box-shadow 250ms ease-in-out, border 250ms ease-in-out;
  transition: box-shadow 250ms ease-in-out, border 250ms ease-in-out; }
  html[dir="rtl"] .card-mcr__container {
    padding-right: 0.5rem; }
  html[dir="rtl"] .card-mcr__container {
    padding-left: 0.5rem; }

.card-mcr__container--selected {
  border-color: rgba(0, 0, 0, 0.5);
  z-index: 1; }

.card-mcr__container--active {
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.33);
  z-index: 2; }

.card-mcr__item-title {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  cursor: pointer;
  padding-left: 0.25rem;
  font-size: 14px;
  font-weight: 400;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  color: #0079c1; }
  .card-mcr__item-title:hover {
    color: #005e95; }
  html[dir="rtl"] .card-mcr__item-title {
    padding-right: 0.25rem; }
  .card-mcr__item-title:hover {
    text-decoration: underline; }

.card-mcr__spacer {
  flex: 1;
  padding-right: 0.25rem; }
  html[dir="rtl"] .card-mcr__spacer {
    padding-left: 0.25rem; }

.card-mcr__item-icon {
  margin-top: 0.25rem; }

.card-mcr__action-container {
  white-space: nowrap; }

.card-mcr__action-container > div, .card-mcr__action-container > button {
  padding-left: 0.25rem;
  padding-right: 0.25rem; }
  html[dir="rtl"] .card-mcr__action-container > div, html[dir="rtl"] .card-mcr__action-container > button {
    padding-right: 0.25rem; }
  html[dir="rtl"] .card-mcr__action-container > div, html[dir="rtl"] .card-mcr__action-container > button {
    padding-left: 0.25rem; }
  .card-mcr__action-container > div > svg, .card-mcr__action-container > button > svg {
    transform: translate(0, -2px); }

.card-mcr__custom-icon-container {
  height: 100%; }
  .card-mcr__custom-icon-container > svg {
    vertical-align: middle;
    fill: currentColor;
    transform: translate(0, -2px); }

@-webkit-keyframes ib__fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes ib__fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
