/*
  Theme: Dark
*/

@import "../base/colors/scss/variables_dark.scss";

body {
  --esri-calcite-mode-name: "dark";
}

// Hex values from
// @import "../base/colors/scss/variables_dark.scss";
// ↳ https://github.com/Esri/calcite-colors.git
$font-color: $Calcite_Gray_700;
$background-color: $Calcite_Gray_050;
$interactive-font-color: $Calcite_Gray_600;

$heading-color: $font-color;

$button-color: $Calcite_Gray_600;
$button-color--inverse: $background-color;

// Inverse
$interactive-font-color--inverse: $background-color;
$background-color--inverse: $interactive-font-color;

// Selected
$border-color--active: $Calcite_Highlight_Blue_350;
$background-color--active: #000000;

// Error
$font-color--error: #eb7953;

@import "../base/core";
