.drp-basic__container {
  display: inline-flex;
  overflow: visible;
  position: relative; }

.drp-basic__button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer; }

.drp-ago2018__menu {
  -webkit-animation: drp-ago2018__fade cubic-bezier(0.215, 0.44, 0.42, 0.88) 200ms;
  -moz-animation: drp-ago2018__fade cubic-bezier(0.215, 0.44, 0.42, 0.88) 200ms;
  animation: drp-ago2018__fade cubic-bezier(0.215, 0.44, 0.42, 0.88) 200ms;
  display: block;
  position: absolute;
  width: auto;
  top: calc(100% + 8px);
  right: 0;
  background-color: white;
  min-width: 224px;
  z-index: 200;
  border: 1px solid #ccc;
  opacity: 0;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: -webkit-transform 200ms cubic-bezier(0.215, 0.44, 0.42, 0.88), visibility 0ms linear 200ms, opacity 200ms cubic-bezier(0.215, 0.44, 0.42, 0.88);
  -moz-transition: -moz-transform 200ms cubic-bezier(0.215, 0.44, 0.42, 0.88), visibility 0ms linear 200ms, opacity 200ms cubic-bezier(0.215, 0.44, 0.42, 0.88);
  -o-transition: -o-transform 200ms cubic-bezier(0.215, 0.44, 0.42, 0.88), visibility 0ms linear 200ms, opacity 200ms cubic-bezier(0.215, 0.44, 0.42, 0.88);
  transition: transform 200ms cubic-bezier(0.215, 0.44, 0.42, 0.88), visibility 0ms linear 200ms, opacity 200ms cubic-bezier(0.215, 0.44, 0.42, 0.88);
  -webkit-transform: translate3d(0, -10px, 0);
  -moz-transform: translate3d(0, -10px, 0);
  -ms-transform: translate3d(0, -10px, 0);
  -o-transform: translate3d(0, -10px, 0);
  transform: translate3d(0, -10px, 0); }
  html[dir="rtl"] .drp-ago2018__menu {
    right: auto;
    left: 0; }

.drp-ago2018__menu--active {
  opacity: 1;
  -webkit-transform: translate3d(0, 0px, 0);
  -moz-transform: translate3d(0, 0px, 0);
  -ms-transform: translate3d(0, 0px, 0);
  -o-transform: translate3d(0, 0px, 0);
  transform: translate3d(0, 0px, 0); }

@keyframes drp-ago2018__fade {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -10px, 0);
    -moz-transform: translate3d(0, -10px, 0);
    -ms-transform: translate3d(0, -10px, 0);
    -o-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0px, 0);
    -moz-transform: translate3d(0, 0px, 0);
    -ms-transform: translate3d(0, 0px, 0);
    -o-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0); } }
