.drp-basic__container {
  display: inline-flex;
  overflow: visible;
  position: relative; }

.drp-basic__button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer; }
