.drp-basic__container {
  display: inline-flex;
  overflow: visible;
  position: relative; }

.drp-basic__button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer; }

.drp-text-option__menu {
  position: absolute;
  min-width: 200px;
  -webkit-box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.05);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  border: 1px solid #efefef;
  border-top: none;
  font-weight: 400;
  font-style: normal;
  background-color: #ffffff;
  z-index: 1000;
  display: none;
  overflow: auto;
  top: 100%; }
  .drp-text-option__menu b,
  .drp-text-option__menu strong {
    font-weight: 500; }
  .drp-text-option__menu.dropdown-right {
    right: 0; }
    html[dir="rtl"] .drp-text-option__menu.dropdown-right {
      right: auto;
      left: 0; }

.drp-text-option__menu--left {
  left: 0; }
  html[dir="rtl"] .drp-text-option__menu--left {
    left: auto;
    right: 0; }

.drp-text-option__menu--right {
  right: 0; }
  html[dir="rtl"] .drp-text-option__menu--right {
    right: auto;
    left: 0; }

.drp-text-option__link {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.51667rem;
  font-size: 0.875rem;
  line-height: 1.55rem;
  color: #6e6e6e;
  background-color: #ffffff;
  border-top: 1px solid #efefef;
  white-space: nowrap;
  cursor: pointer;
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
  width: 100%;
  text-align: left;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  outline: none; }
  .drp-text-option__link:hover {
    background-color: #f8f8f8;
    text-decoration: none;
    color: #6e6e6e; }
  .drp-text-option__link.is-active, .drp-text-option__link:focus {
    text-indent: -3px;
    border-left: 3px solid #0079c1; }
  html[dir="rtl"] .drp-text-option__link {
    text-align: right; }
    html[dir="rtl"] .drp-text-option__link:focus {
      border-left: none;
      border-right: 3px solid #0079c1; }

.drp-text-option__link--active {
  text-indent: -3px;
  border-left: 3px solid #0079c1;
  background-color: #f8f8f8;
  text-decoration: none;
  color: #6e6e6e; }
  html[dir="rtl"] .drp-text-option__link--active {
    border-left: none;
    border-right: 3px solid #0079c1; }
