<div class="Breadcrumb BreadcrumbHeight">
    <div data-dojo-attach-point="connect1" class="Breadcrumb_Line Breadcrumb_Connect1" style="display: none;"></div>
    <div data-dojo-attach-point="angConnect1" class="Breadcrumb_Line Breadcrumb_AngularConnect1" style="display: none;"></div>
    <div data-dojo-attach-point="connect1andHalf" class="Breadcrumb_Line Breadcrumb_1andHalf" style="display: none;"></div>
    <div data-dojo-attach-point="connect2" class="Breadcrumb_Line Breadcrumb_Connect2" style="display: none;"></div>
    <div data-dojo-attach-point="angConnect2" class="Breadcrumb_Line Breadcrumb_AngularConnect2" style="display: none;"></div>
    <div class="Breadcrumb_Categories">
        <div class="Breadcrumb_CategoriesIcon" data-dojo-attach-event="click: _onCategoriesClick"></div>
    </div>
    <div data-dojo-attach-point="dcIcon" data-dojo-attach-event="click: _onDCsClick" style="display: none;"></div>
    <div data-dojo-attach-point="varsNode" class="Breadcrumb_Variales DataCollectionButton TrimWithEllipses" style="display: none;">
        <span data-dojo-attach-point="varsLabel"></span>
    </div>
</div>