<div class="ShoppingCart">
    <table border="0" cellpadding="0" celspacing="0" class="Label" data-dojo-attach-event="mouseenter: _showList, click:_toggleList">
        <tr>
            <td class="ShoppingCart_CounterTD">
                <div class="ShoppingCart_CounterDivLeftBorder"></div><div data-dojo-attach-point="divCounter" class="ShoppingCart_CounterDiv"></div><div class="ShoppingCart_CounterDivRightBorder"></div>
            </td>
            <td class="ShoppingCart_LabelTd">
                <div>${nls.selectedVars}</div>
            </td>
            <td>
                <div class="ShoppingCartOpener">&#x25bc;</div>
            </td>
        </tr>
    </table>
        
    <div data-dojo-attach-point="divOuter" class="ShoppingCart_OuterDiv">
        <div data-dojo-attach-point="divList" class="ShoppingCart_DivList">
        </div>
        <div data-dojo-attach-point="divEmpty" class="ShoppingCart_DivEmpty">
            <div>${nls.noVariables}</div>
        </div>
    </div>
</div>