<div>
    <div class="VariableInfo_Header">${nls.name}</div>
    <div class="VariableInfo_Value" data-dojo-attach-point="divDescription"></div>
    <div class="VariableInfo_Spacer">&nbsp;</div>
    <div class="VariableInfo_Header">${nls.variable}</div>
    <div class="VariableInfo_Value" data-dojo-attach-point="divID2"></div>
    <div class="VariableInfo_Spacer">&nbsp;</div>
    <div class="VariableInfo_Header">${nls.source}</div>
    <div class="VariableInfo_Value" data-dojo-attach-point="divSource"></div>
    <div class="VariableInfo_Spacer">&nbsp;</div>
    <div class="VariableInfo_Header">${nls.vintage}</div>
    <div class="VariableInfo_Value" data-dojo-attach-point="divVintage"></div>
</div>