/* Calendar */
.dijitArrowButtonContainer {
  position: absolute;
  top: 0;
  right: 0;
  width: 2rem;
  cursor: pointer;
  height: 100%; }

.dijitArrowButtonInner {
  text-align: center !important; }

.dijitOffScreen {
  display: none !important; }

input.dijitArrowButtonInner {
  margin: 0;
  border: none;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: .4rem .35rem;
  height: 100%;
  border-left: 1px solid #CCC !important;
  font-size: .75rem;
  cursor: pointer;
  line-height: 1; }

.dijitTextBox {
  position: relative;
  font-family: "Avenir Next W01", "Avenir Next W00", "Avenir Next", "Avenir", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  display: inline-block;
  padding: 0 0.31rem !important;
  font-size: 0.9375rem;
  line-height: 1.55rem;
  color: #595959;
  border: 1px solid #a9a9a9;
  -webkit-transition: border-color 150ms linear;
  transition: border-color 150ms linear;
  -webkit-appearance: none;
  height: 2.4rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 100%;
  outline: none;
  outline-offset: 0;
  vertical-align: baseline;
  margin-top: 0.3875rem;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075); }

.dijitTextBox input[type="text"],
.dijitTextBox input[type="password"] {
  padding-left: 0; }

.dijitTextBox input[type="text"],
.dijitTextBox input[type="search"],
.dijitTextBox input[type="password"] {
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  -webkit-appearance: none;
  box-shadow: none; }

.dijitValidationTextBox .dijitValidationContainer {
  display: none; }

.dijitComboBox .dijitInputContainer {
  margin-right: 2rem; }

.dijitInputContainer {
  position: relative; }

.dijitComboBox {
  border: 1px solid #ccc; }

.dijitInline {
  display: inline-block; }

.dijitPopup {
  position: absolute;
  margin: 1px 0 0 0;
  padding: 0;
  -webkit-overflow-scrolling: touch;
  border: 1px solid #efefef !important;
  background-color: #FFF;
  -webkit-box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.05);
  z-index: 1000003 !important; }

.dijitCalendarContainer {
  width: auto;
  margin-bottom: 0;
  padding: .25rem;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.55rem;
  letter-spacing: 0em;
  font-family: "Avenir Next W01", "Avenir Next W00", "Avenir Next", "Avenir", "Helvetica Neue", sans-serif;
  line-height: 1.55rem;
  color: #4c4c4c; }
  .dijitCalendarContainer html {
    overflow-y: scroll;
    height: 100%;
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%; }
  .dijitCalendarContainer body {
    min-height: 100%;
    margin: 0; }
  .dijitCalendarContainer .wrapper {
    overflow: hidden; }
  .dijitCalendarContainer article,
  .dijitCalendarContainer aside,
  .dijitCalendarContainer details,
  .dijitCalendarContainer figcaption,
  .dijitCalendarContainer figure,
  .dijitCalendarContainer footer,
  .dijitCalendarContainer header,
  .dijitCalendarContainer hgroup,
  .dijitCalendarContainer nav,
  .dijitCalendarContainer section,
  .dijitCalendarContainer summary {
    display: block; }
  .dijitCalendarContainer audio,
  .dijitCalendarContainer canvas,
  .dijitCalendarContainer video {
    display: inline-block; }
  .dijitCalendarContainer audio:not([controls]) {
    display: none;
    height: 0; }
  .dijitCalendarContainer [hidden] {
    display: none; }
  .dijitCalendarContainer svg:not(:root) {
    overflow: hidden; }
  .dijitCalendarContainer video,
  .dijitCalendarContainer img {
    max-width: 100%;
    height: auto; }
  .dijitCalendarContainer .ie main {
    display: block; }
  .dijitCalendarContainer .ie select {
    padding-right: 8px; }
  .dijitCalendarContainer b,
  .dijitCalendarContainer strong {
    font-weight: 500; }

.dijitCalendar {
  background: #fff;
  text-align: center;
  -webkit-box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.05); }

.dijitCalendar table {
  margin-bottom: .25rem; }

.dijitCalendarArrow {
  display: inline-block;
  width: 24px;
  height: 32px;
  cursor: pointer;
  background: url("../../../img/left.svg") no-repeat center center transparent; }

.dijitCalendarDecrementArrow {
  float: left; }

.dijitCalendarIncrementArrow {
  float: right;
  background-image: url("../../../img/right.svg"); }

.dijitCalendarMonthContainer th {
  border-top: 1px solid #CCC;
  text-align: center;
  vertical-align: middle; }

.dijitCalendarContainer .dijitSpacer {
  display: none; }

.dijitCalendarCurrentMonthLabel {
  color: #4c4c4c; }

.dijitCalendarMonthContainer .dijitButtonText {
  background-color: transparent;
  border: none;
  font-weight: bold;
  padding-right: .25em;
  padding-left: 0; }

.dijitA11ySideArrow {
  display: none;
  /* text +/- labels instead of arrow icons, for high contrast mode */ }

.dijitCalendarContainer th,
.dijitCalendarContainer td {
  padding: 4px;
  text-align: center !important; }

/* Day */
.dijitCalendarDayLabelTemplate {
  text-align: center;
  font-size: 0.875rem;
  border-bottom: 1px solid #d0d0d0; }

.dijitCalendarDayLabel {
  font-weight: bold; }

/* Date */
.dijitCalendarDateTemplate {
  font-size: 0.9em;
  letter-spacing: 0.05em;
  text-align: center; }

.dijitCalendarDateTemplate .dijitCalendarDateLabel {
  text-decoration: none;
  display: block;
  padding: 2px 4px;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer; }

.dijitCalendarPreviousMonth .dijitCalendarDateLabel,
.dijitCalendarNextMonth .dijitCalendarDateLabel {
  color: #a7acb7; }

.dijitCalendarCurrentDate .dijitCalendarDateLabel {
  color: #007ac2; }

.dijitCalendarHoveredDate .dijitCalendarDateLabel {
  border-color: #007ac2;
  color: #007ac2; }

.dijitCalendarActiveDate .dijitCalendarDateLabel {
  background: #007ac2;
  color: #fff; }

.dijitCalendarSelectedDate .dijitCalendarDateLabel {
  background: #007ac2;
  color: #fff; }

/* Disabled */
.dijitCalendarDisabledDate .dijitCalendarDateLabel {
  opacity: 0.65;
  cursor: auto; }

/* Year */
.dijitCalendarYearContainer {
  vertical-align: middle;
  padding: .25rem 0; }

.dijitCalendarYearLabel span {
  padding: 4px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 3px;
  font-size: .875rem; }

.dijitCalendarYearLabel span:hover {
  border-color: #007ac2; }

.dijitCalendarNextYear,
.dijitCalendarPreviousYear {
  color: #007ac2;
  font-size: 0.9em;
  line-height: 20px; }

.dijitCalendarSelectedYear {
  background-color: #007ac2;
  color: #fff; }

/* Month */
.dijitCalendarMonthMenu {
  margin-top: 9px; }

.dijitCalendarMonthMenu .dijitCalendarMonthLabel {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.55rem;
  color: #6e6e6e;
  border-top: 1px solid #efefef;
  cursor: pointer;
  min-width: 180px; }

.dijitCalendarMonthMenu .dijitCalendarMonthLabelHover {
  background-color: #f8f8f8;
  text-decoration: none;
  color: #6e6e6e; }

.esriRtl .dijitCalendarContainer th,
.esriRtl .dijitCalendarContainer td {
  text-align: center; }
