
//* Esri Calcite Core Colors - Last Updated 03/02/15 *//

@import "../../scss/variables";



//* -- Calcite Core Blue -- *//

.Calcite_Blue_100 {
  background-color: $Calcite_Blue_100;
}

.Calcite_Blue_150 {
  background-color: $Calcite_Blue_150;
}

.Calcite_Blue_200 {
  background-color: $Calcite_Blue_200;
}

.Calcite_Blue_250 {
  background-color: $Calcite_Blue_250;
}

.Calcite_Blue_a100 {
  background-color: $Calcite_Blue_a100;
}

.Calcite_Blue_a150 {
  background-color: $Calcite_Blue_a150;
}

.Calcite_Blue_a200 {
  background-color: $Calcite_Blue_a200;
}

.Calcite_Blue_a250 {
  background-color: $Calcite_Blue_a250;
}


//* -- Calcite Core Yellow -- *//


.Calcite_Yellow_100 {
  background-color: $Calcite_Yellow_100;
}

.Calcite_Yellow_150 {
  background-color: $Calcite_Yellow_150;
}

.Calcite_Yellow_200 {
  background-color: $Calcite_Yellow_200;
}

.Calcite_Yellow_250 {
  background-color: $Calcite_Yellow_250;
}

.Calcite_Yellow_a100 {
  background-color: $Calcite_Yellow_a100;
}

.Calcite_Yellow_a150 {
  background-color: $Calcite_Yellow_a150;
}

.Calcite_Yellow_a200 {
  background-color: $Calcite_Yellow_a200;
}

.Calcite_Yellow_a250 {
  background-color: $Calcite_Yellow_a250;
}


//* -- Calcite Core Orange -- *//


.Calcite_Orange_100 {
  background-color: $Calcite_Orange_100;
}

.Calcite_Orange_150 {
  background-color: $Calcite_Orange_150;
}

.Calcite_Orange_200 {
  background-color: $Calcite_Orange_200;
}

.Calcite_Orange_250 {
  background-color: $Calcite_Orange_250;
}

.Calcite_Orange_a100 {
  background-color: $Calcite_Orange_a100;
}

.Calcite_Orange_a150 {
  background-color: $Calcite_Orange_a150;
}

.Calcite_Orange_a200 {
  background-color: $Calcite_Orange_a200;
}

.Calcite_Orange_a250 {
  background-color: $Calcite_Orange_a250;
}


//* -- Calcite Core Green -- *//


.Calcite_Green_100 {
  background-color: $Calcite_Green_100;
}

.Calcite_Green_150 {
  background-color: $Calcite_Green_150;
}

.Calcite_Green_200 {
  background-color: $Calcite_Green_200;
}

.Calcite_Green_250 {
  background-color: $Calcite_Green_250;
}

.Calcite_Green_a100 {
  background-color: $Calcite_Green_a100;
}

.Calcite_Green_a150 {
  background-color: $Calcite_Green_a150;
}

.Calcite_Green_a200 {
  background-color: $Calcite_Green_a200;
}

.Calcite_Green_a250 {
  background-color: $Calcite_Green_a250;
}


//* -- Calcite Core Red -- *//


.Calcite_Red_100 {
  background-color: $Calcite_Red_100;
}

.Calcite_Red_150 {
  background-color: $Calcite_Red_150;
}

.Calcite_Red_200 {
  background-color: $Calcite_Red_200;
}

.Calcite_Red_250 {
  background-color: $Calcite_Red_250;
}

.Calcite_Red_a100 {
  background-color: $Calcite_Red_a100;
}

.Calcite_Red_a150 {
  background-color: $Calcite_Red_a150;
}

.Calcite_Red_a200 {
  background-color: $Calcite_Red_a200;
}

.Calcite_Red_a250 {
  background-color: $Calcite_Red_a250;
}


//* -- Calcite Core Purple -- *//


.Calcite_Purple_100 {
  background-color: $Calcite_Purple_100;
}

.Calcite_Purple_150 {
  background-color: $Calcite_Purple_150;
}

.Calcite_Purple_200 {
  background-color: $Calcite_Purple_200;
}

.Calcite_Purple_250 {
  background-color: $Calcite_Purple_250;
}

.Calcite_Purple_a100 {
  background-color: $Calcite_Purple_a100;
}

.Calcite_Purple_a150 {
  background-color: $Calcite_Purple_a150;
}

.Calcite_Purple_a200 {
  background-color: $Calcite_Purple_a200;
}

.Calcite_Purple_a250 {
  background-color: $Calcite_Purple_a250;
}


//* -- Calcite Core Brown -- *//


.Calcite_Brown_100 {
  background-color: $Calcite_Brown_100;
}

.Calcite_Brown_150 {
  background-color: $Calcite_Brown_150;
}

.Calcite_Brown_200 {
  background-color: $Calcite_Brown_200
}

.Calcite_Brown_250 {
  background-color: $Calcite_Brown_250;
}

.Calcite_Brown_a100 {
  background-color: $Calcite_Brown_a100;
}

.Calcite_Brown_a150 {
  background-color: $Calcite_Brown_a150;
}

.Calcite_Brown_a200 {
  background-color: $Calcite_Brown_a200;
}

.Calcite_Brown_a250 {
  background-color: $Calcite_Brown_a250;
}

































