@import "../../scss/variables_dark";


//* -- Calcite Gray -- *//

.Calcite_Gray_050 {
  background-color: $Calcite_Gray_050;
}

.Calcite_Gray_100 {
  background-color: $Calcite_Gray_100;
}

.Calcite_Gray_150 {
  background-color: $Calcite_Gray_150;
}

.Calcite_Gray_200 {
  background-color: $Calcite_Gray_200;
}

.Calcite_Gray_250 {
  background-color: $Calcite_Gray_250;
}

.Calcite_Gray_300 {
  background-color: $Calcite_Gray_300;
}

.Calcite_Gray_350 {
  background-color: $Calcite_Gray_350;
}

.Calcite_Gray_400 {
  background-color: $Calcite_Gray_400;
}

.Calcite_Gray_450 {
  background-color: $Calcite_Gray_450;
}

.Calcite_Gray_500 {
  background-color: $Calcite_Gray_500;
}

.Calcite_Gray_550 {
  background-color: $Calcite_Gray_550;
}

.Calcite_Gray_600 {
  background-color: $Calcite_Gray_600;
}

.Calcite_Gray_650 {
  background-color: $Calcite_Gray_650;
}

.Calcite_Gray_700 {
  background-color: $Calcite_Gray_700;
}































