
//* Esri Calcite Highlight Colors - Last Updated 03/02/15 */

@import "../../scss/variables";



//* -- Calcite Highlight_Blue -- */


.Calcite_Highlight_Blue_100 {
  background-color: $Calcite_Highlight_Blue_100;
}

.Calcite_Highlight_Blue_150 {
  background-color: $Calcite_Highlight_Blue_150;
}

.Calcite_Highlight_Blue_200 {
  background-color: $Calcite_Highlight_Blue_200;
}

.Calcite_Highlight_Blue_250 {
  background-color: $Calcite_Highlight_Blue_250;
}

.Calcite_Highlight_Blue_300 {
  background-color: $Calcite_Highlight_Blue_300;
}

.Calcite_Highlight_Blue_350 {
  background-color: $Calcite_Highlight_Blue_350;
}

.Calcite_Highlight_Blue_400 {
  background-color: $Calcite_Highlight_Blue_400;
}


//* -- Calcite Highlight Green -- */


.Calcite_Highlight_Green_100 {
  background-color: $Calcite_Highlight_Green_100;
}

.Calcite_Highlight_Green_150 {
  background-color: $Calcite_Highlight_Green_150;
}

.Calcite_Highlight_Green_200 {
  background-color: $Calcite_Highlight_Green_200;
}

.Calcite_Highlight_Green_250 {
  background-color: $Calcite_Highlight_Green_250;
}

.Calcite_Highlight_Green_300 {
  background-color: $Calcite_Highlight_Green_300;
}

.Calcite_Highlight_Green_350 {
  background-color: $Calcite_Highlight_Green_350;
}

.Calcite_Highlight_Green_400 {
  background-color: $Calcite_Highlight_Green_400;
}