
.esriGEReportPlayer_reportContainerGrid {
}

    

    .esriGEReportPlayer_reportContainerGrid .reportContainerGrid_mainContainer {
        position: relative;
        overflow-x: auto;
        overflow-y: auto;
        width: inherit;
        text-align: center;
        font-size: 0px; 
    }

    .esriGEReportPlayer_reportContainerGrid .reportContainerGrid_stackContainer {
        position: relative;
        overflow: visible;
        min-height: 100px;
        height: auto;
        text-align: left;
        display: inline-block;
        font-size: 13px; 
    }

    

    .esriGEReportPlayer_reportContainerGrid .reportContainerGrid_gridZoomFillerContainer {
        display: inline-block;
        vertical-align: top;
        position: relative;
        overflow: hidden;
        outline: 1px solid #b2b2b2;
        margin-top: 1px;
    }

    .esriGEReportPlayer_reportContainerGrid .reportContainerGrid_gridZoomScalableContainer {
        position: absolute;
        left: 0px;
        top: 0px;
        overflow: visible;
    }

    

    .esriGEReportPlayer_reportContainerGrid .sampleValuesWatermark {
        position: absolute;
        z-index: 10; 
        background-image: url('../images/sampleWatermarkGraphic.svg');
        background-repeat: repeat;
        pointer-events: none;
    }
