.esri-color-ramp-picker {
  min-width: 200px;
  white-space: nowrap;
}

.esri-color-ramp-picker .esri-container {
  display: inline-block;
  vertical-align: top;
}

.esri-color-ramp-picker .esri-viewport {
  white-space: normal;
  height: 208px;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 6px;
  padding: 2px 0;
  border: solid 1px #ededed;
}

.esri-color-ramp-picker .esri-list {
  display: flex;
  flex-wrap: wrap;
}

.esri-color-ramp-picker .esri-item {
  height: 70px;
  width: 20px;
  margin: 2px 4px;
  cursor: pointer;
  border: 1px solid #ededed;
}

.esri-color-ramp-picker .esri-item.esri-preview {
  height: 180px;
  width: 20px;
  cursor: auto;
  margin: 0;
}

.esri-color-ramp-picker .esri-item.esri-selected {
  cursor: auto;
}

.esri-color-ramp-picker .dijitButton .dijitButtonNode {
  box-shadow: none;
  border: none;
  padding: 0;
  background: none;
}

.esri-color-ramp-picker .esri-flipper {
  margin-top: 4px;
  cursor: pointer;
  font-size: 20px;;
}
