.esri-marker-symbol-picker {
  position: relative;
  padding: 8px 0;
}

.esri-marker-symbol-picker.esri-default-symbols .esri-marker-symbol-picker__symbolViewport {
  height: auto;
}

.esri-marker-symbol-picker__symbolViewport {
  overflow: auto;
}

.esri-marker-symbol-picker--dimensionality-volumetric {
  width: 360px;
}

.esri-marker-symbol-picker--dimensionality-volumetric .esri-marker-symbol-picker__symbolViewport {
  height: 270px;
}

.esri-marker-symbol-picker--dimensionality-flat {
  width: 280px;
}

.esri-marker-symbol-picker--dimensionality-flat .esri-marker-symbol-picker__symbolViewport {
  height: 220px;
}

.esri-marker-symbol-picker .esri-type-input {
  margin-bottom: 10px;
}

.esri-marker-symbol-picker .esri-type-input .dijitButtonContents {
  width: 100%;
}

.esri-marker-symbol-picker .esri-symbol-grid {
  display: flex;
  flex-wrap: wrap;
}

.esri-marker-symbol-picker .esri-symbol {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.esri-marker-symbol-picker--dimensionality-volumetric .esri-symbol {
  flex-basis: 20%;
  padding: 6px 0 6px 0;
  height: 64px;
}

.esri-marker-symbol-picker--dimensionality-flat .esri-symbol {
  flex-basis: 16%;
  padding: 6px 0 6px 0;
  height: 32px;
}

.esri-marker-symbol-picker--dimensionality-flat img {
  height: 32px;
  width: auto;
}

.esri-marker-symbol-picker--blocked .esri-type-input {
  color: transparent;
}

.esri-marker-symbol-picker--blocked .esri-symbol-grid {
  display: none;
}

.esri-marker-symbol-picker .esri-symbol--selected {
  background-color: #cee7f8;
}

.esri-marker-symbol-picker__symbolViewport {
  border: solid 1px #8ba0bd;
}

.esri-marker-symbol-picker::after {
  background-color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  top: 44px;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  content: url(../../../themes/base/images/loading-throb.gif);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s 0.1s;
}

.esri-marker-symbol-picker--blocked::after {
  top: 0;
}

.esri-marker-symbol-picker--loading::after {
  opacity: 1;
}

.esri-marker-symbol-picker__category-select .dijitButtonContents {
  height: 30px;
  padding: 0 0.5em;
}

.esri-marker-symbol-picker__category-select.dijitSelect .dijitArrowButton {
  padding: 0 0.4em;
}

.dijitMenuPopup[dijitpopupparent^="esri_widgets_SymbolStyler_MarkerSymbolPicker_"] .dijitMenuItemLabel {
  font-family: "Avenir Next W00", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.esri-marker-symbol-picker__header {
  font-size: 14px;
  margin: 0 0 0.5rem 0;
}

.esri-marker-symbol-picker--showing-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
}
