$layout-base-size: 48px !default;

// Header
$header-height--min: $layout-base-size !default;
$header-button-height: $layout-base-size !default;
$header-button-width: $layout-base-size !default;

// Footer
$footer-height--min: $layout-base-size !default;
$footer-button-height: $layout-base-size !default;
$footer-button-width: $layout-base-size !default;
