.esri-view {
  --esri-view-outline-color: var(--calcite-ui-brand);
  --esri-view-outline: 2px solid var(--esri-view-outline-color);
  --esri-view-outline-offset: -2px;

  display: flex;
  margin: 0;
  padding: 0;

  .esri-view-user-storage {
    overflow: hidden;
  }

  .esri-view-root {
    position: relative;
    flex: 1 1 100%;
    margin: 0;
    border: none;
    padding: 0;
    -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
    -webkit-tap-highlight-color: transparent;
  }

  .esri-view-surface {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    outline: 0;
    border: none;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    /*
     * TODO
     * Layers should probably manage this on their own
     */
    direction: ltr;
    user-select: none;

    &--touch {
      &-none {
        touch-action: none;
      }

      &-pan {
        touch-action: pan-x pan-y;
      }
    }
  }

  .esri-view-surface:focus::after {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    outline: var(--esri-view-outline);
    outline-offset: var(--esri-view-outline-offset);
    width: 100%;
    height: 100%;
    overflow: hidden;
    content: "";
    pointer-events: none;
  }

  .esri-view-surface[data-navigating="true"] {
    cursor: grabbing;
  }

  .esri-view-surface[data-cursor="copy"] {
    cursor: copy;
  }

  .esri-view-surface[data-cursor="crosshair"] {
    cursor: crosshair;
  }

  .esri-view-surface[data-cursor="help"] {
    cursor: help;
  }

  .esri-view-surface[data-cursor="move"] {
    cursor: move;
  }

  .esri-view-surface[data-cursor="pointer"] {
    cursor: pointer;
  }

  .esri-view-surface[data-cursor="progress"] {
    cursor: progress;
  }

  .esri-view-surface[data-cursor="grab"] {
    cursor: grab;
  }

  .esri-view-surface[data-cursor="grabbing"] {
    cursor: grabbing;
  }

  .esri-view-surface[data-cursor="n-resize"] {
    cursor: n-resize;
  }

  .esri-view-surface[data-cursor="e-resize"] {
    cursor: e-resize;
  }

  .esri-view-surface[data-cursor="s-resize"] {
    cursor: s-resize;
  }

  .esri-view-surface[data-cursor="w-resize"] {
    cursor: w-resize;
  }

  .esri-view-surface[data-cursor="ne-resize"] {
    cursor: ne-resize;
  }

  .esri-view-surface[data-cursor="nw-resize"] {
    cursor: nw-resize;
  }

  .esri-view-surface[data-cursor="se-resize"] {
    cursor: se-resize;
  }

  .esri-view-surface[data-cursor="sw-resize"] {
    cursor: sw-resize;
  }

  .esri-view-surface[data-cursor="ew-resize"] {
    cursor: ew-resize;
  }

  .esri-view-surface[data-cursor="ns-resize"] {
    cursor: ns-resize;
  }

  .esri-view-surface[data-cursor="nesw-resize"] {
    cursor: nesw-resize;
  }

  .esri-view-surface[data-cursor="nwse-resize"] {
    cursor: nwse-resize;
  }

  .esri-display-object,
  .esri-bitmap {
    position: absolute;
    margin: 0;
    border: none;
    padding: 0; // @dris0000 @juan6600
    // Keep these prefixes?
    -webkit-user-drag: none;
    user-select: none;
  }

  .esri-bitmap {
    transform-origin: top left;
    max-width: none;
  }
}
